body {
  font-family: 'Open Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya', serif !important;
}

blockquote {
	font-family: 'Alegreya', serif !important;
}

ul.breadcrumb {
  font-family: 'Open Sans', sans-serif !important;
}

header.banner nav .nav.navbar-nav li a {
  font-family: 'Open Sans', sans-serif !important;
}

article header.entry-header h1.entry-title .label {
  font-family: 'Open Sans', sans-serif !important;
}

.lsx-portfolio-wrapper .lsx-portfolio .jetpack-portfolio .portfolio-content-wrapper .portfolio-title {
  font-family: 'Alegreya', serif !important;
}

.sharedaddy h3,
.jp-relatedposts h3 {
  font-family: 'Alegreya', serif !important;
}

.sharedaddy .jp-relatedposts-post,
.jp-relatedposts .jp-relatedposts-post {
  font-family: 'Open Sans', sans-serif !important;
}

.sharedaddy .jp-relatedposts-post h4.jp-relatedposts-post-title a,
.jp-relatedposts .jp-relatedposts-post h4.jp-relatedposts-post-title a {
  font-family: 'Alegreya', serif !important;
}

.collapsibles > a {
  font-family: 'Alegreya', serif !important;
}