a {
  color: #d48a1d;
}

a:hover,
a:focus,
a:active {
  color: #af6a03;
}

.btn,
button {
  background: #d48a1d !important;
}

.btn:hover,
.btn:focus,
.btn:active,
button:hover {
  background: #af6a03 !important;
}

.secondary a {
  color: #572600;
}

.secondary a:hover,
.secondary a:focus,
.secondary a:active {
  color: #331701;
}

.secondary .btn,
.secondary button {
  color: #fff !important;
  background: #572600 !important;
}

.secondary .btn:hover,
.secondary .btn:focus,
.secondary .btn:active,
.secondary button:hover {
  background: #331701 !important;
}

body {
  color: #777777;
}

h1,
h2,
h3 {
  color: #333333;
  margin-bottom: 30px;
}

h4,
h5,
h6 {
  color: #555555;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #d48a1d;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #333;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  border: none !important;
}

.lsx-button {
  background: #333333;
}

.lsx-button:hover {
  background: #232222;
}

#searchform .input-group span.input-group-btn button.search-submit {
  color: white;
  background-color: #555555;
}

#searchform .input-group span.input-group-btn button.search-submit:hover {
  background-color: #333333;
}

.pagination span.current {
  background: #555555 !important;
  color: white !important;
}

ul.breadcrumb li > span {
  color: #999999;
}

ul.breadcrumb li > span > span {
  color: #999999;
}

ul.breadcrumb li a {
  color: #d48a1d;
}

ul.breadcrumb li a:hover {
  color: #333333;
}

nav.page-nav p {
  background-color: white;
  border: 1px solid #eeeeee;
}

#comments ol.media-list li.comment.odd {
  background: #f1f1f1;
}

header.banner {
  background: #fff !important;
}

header.banner .site-description {
  color: #ffffff;
}

header.banner nav .nav.navbar-nav li a {
  color: #572600;
  border: none !important;
}

header.banner nav .nav.navbar-nav li:hover > a, 
header.banner nav .nav.navbar-nav li.open > a {
  color: #ffffff;
  background: #572600;
}

header.banner nav .nav.navbar-nav li ul.dropdown-menu {
  background: #572600;
}

@media screen and (max-width: 992px) {
  header.banner nav .nav.navbar-nav li ul.dropdown-menu {
    background: #572600;
  }
}

header.banner nav .nav.navbar-nav li ul.dropdown-menu li a {
  color: #fff !important;
}

header.banner nav .nav.navbar-nav li ul.dropdown-menu li a:hover {
  background: #d48a1d;
}

@media screen and (max-width: 992px) {
  header.banner nav .nav.navbar-nav li ul.dropdown-menu li a {
    color: #fff;
  }
}

header.banner nav .nav.navbar-nav li.active a {
  color: #572600;
}

header.banner nav .nav.navbar-nav li.active:hover > a {
  color: #fff;
}

.navbar-toggle {
  background: none !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #333333;
}

.mobile-menu-title {
  color: #ffffff;
  margin: 47px 5px;
}

.scrolled .mobile-menu-title {
  margin: 21px 5px;
}

@media screen and (max-width: 992px) {
  .mobile-menu-title {
    margin: 21px 5px;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu-title {
    margin: 19px 5px;
  }
}

.home .soliloquy-slider {
  background: #d48a1d;
}

.front-page #home-widgets aside.widget h3.widget-title {
  color: #333333;
}

.single-jetpack-portfolio .jetpack-portfolio .portfolio-meta {
  background: #f1f1f1;
}

.single-jetpack-portfolio .jetpack-portfolio .portfolio-meta > div span:first-child {
  display: block;
  color: #555555;
}

#secondary .widget h3,
#tertiary .widget h3 {
  color: #333333;
}

#secondary .widget.widget_tag_cloud .tagcloud a,
#tertiary .widget.widget_tag_cloud .tagcloud a {
  background: #999999;
  color: white;
}

#secondary .widget.widget_tag_cloud .tagcloud a:hover,
#tertiary .widget.widget_tag_cloud .tagcloud a:hover {
  background: #555555 !important;
}

article header.entry-header h1.entry-title .label.label-sticky {
  background: rgba(0, 0, 0, 0.7);
}

article .post-meta,
article .post-format {
  color: #555555;
}

#respond #submit {
  color: white;
  background-color: #555555 !important;
  border-color: rgba(0, 0, 0, 0);
}

#respond #submit:hover, #respond #submit:focus, #respond #submit:active, #respond #submit.active, .open > #respond #submit.dropdown-toggle {
  color: white;
  background-color: #3071a9;
  border-color: rgba(0, 0, 0, 0);
}

#respond #submit.disabled, #respond #submit.disabled:hover, #respond #submit.disabled:focus, #respond #submit.disabled:active, #respond #submit.disabled.active, #respond #submit[disabled], #respond #submit[disabled]:hover, #respond #submit[disabled]:focus, #respond #submit[disabled]:active, #respond #submit[disabled].active, fieldset[disabled] #respond #submit, fieldset[disabled] #respond #submit:hover, fieldset[disabled] #respond #submit:focus, fieldset[disabled] #respond #submit:active, fieldset[disabled] #respond #submit.active {
  background-color: #555555 !important;
  border-color: rgba(0, 0, 0, 0);
}

#respond #submit .badge {
  color: #555555 !important;
  background-color: white;
}

.sharedaddy .jp-relatedposts-post p,
.jp-relatedposts .jp-relatedposts-post p {
  line-height: 200% !important;
}

#infinite-handle span {
  background: #555555 !important;
}

#infinite-handle span:hover {
  background: #333333 !important;
}

.footer-subscribe {
  background: #d48a1d !important;
}

#footer-widgets {
  background: #333;
}

#footer-widgets .widget {
  color: #ffffff;
}

#footer-widgets .widget h3.widget-title {
  color: #ffffff;
}

#footer-widgets .widget a {
  color: #ffffff !important;
}

#footer-widgets .widget a:hover {
  border-bottom: 1px solid;
}

#footer-widgets .widget.widget_tag_cloud .tagcloud a {
  background: #ffffff;
  color: #333333 !important;
}

#footer-widgets .widget.widget_tag_cloud .tagcloud a:hover {
  background: #333333 !important;
  color: #ffffff !important;
}

.footer-widgets-wrapper .footer-widgets .styler .widget ul li a {
  color: #a5a370 !important;
}

.footer-widgets-wrapper .footer-widgets .styler .widget ul li a:hover {
  color: #fff !important;
}

footer.content-info {
  background: #333333;
}

footer.content-info a {
  color: #ffffff;
}

footer.content-info a:hover {
  color: #eeeeee;
}

.gform_wrapper .gfield_required {
  color: #a94442;
}

.gform_wrapper .gfield_error .gfield_label {
  color: #a94442;
}

.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error select,
.gform_wrapper .gfield_error textarea {
  border-color: #ebccd1;
  background-color: #f2dede;
  color: #a94442;
}

.gform_wrapper .gfield_error input:focus,
.gform_wrapper .gfield_error select:focus,
.gform_wrapper .gfield_error textarea:focus {
  border-color: #d48a1d;
}

select {
  color: #555;
}

#social-navigation ul li a {
  color: #a5a370 !important;
}

#social-navigation ul li a:hover {
  color: #ffffff !important;
}

.caldera-grid .form-control:focus {
    border-color: #d48a1d;
}