a {
  color: #8c6a45;
}

a:hover,
a:focus,
a:active {
  color: #5b452e;
}

.btn,
button {
  background: #8c6a45;
  color: #fff;
}

.btn:hover,
.btn:focus,
.btn:active,
button:hover {
  background: #5b452e !important;
  color: #fff;
}

#footer-widgets .btn:hover,
#footer-widgets .btn:focus,
#footer-widgets .btn:active,
#footer-widgets button:hover {
  background: #555 !important;
  border: none !important;
  color: #fff;
}

body {
  color: #777777;
}

h1,
h2,
h3 {
  color: #333333;
}

h4,
h5,
h6 {
  color: #555555;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #8c6a45;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #333;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  border: none !important;
}

.lsx-button {
  background: #333333;
}

.lsx-button:hover {
  background: #232222;
}

#searchform .input-group span.input-group-btn button.search-submit {
  color: white;
  background-color: #555555;
}

#searchform .input-group span.input-group-btn button.search-submit:hover {
  background-color: #333333;
}

.pagination span.current {
  background: #555555 !important;
  color: white !important;
}

ul.breadcrumb li > span {
  color: #999999;
}

ul.breadcrumb li > span > span {
  color: #999999;
}

ul.breadcrumb li a {
  color: #8c6a45;
}

ul.breadcrumb li a:hover {
  color: #5b452e;
}

nav.page-nav p {
  background-color: white;
  border: 1px solid #eeeeee;
}

#comments ol.media-list li.comment.odd {
  background: #f1f1f1;
}

header.banner {
  background: #fff !important;
}

header.banner .site-description {
  color: #999999;
}

header.banner nav .nav.navbar-nav li a {
  color: #8c6a45;
  border: none !important;
}

header.banner nav .nav.navbar-nav li:hover > a, 
header.banner nav .nav.navbar-nav li.open > a {
  color: #ffffff;
  background: #8c6a45;
}

header.banner nav .nav.navbar-nav li ul.dropdown-menu {
  background: #8c6a45;
}

@media screen and (max-width: 992px) {
  header.banner nav .nav.navbar-nav li ul.dropdown-menu {
    background: #8c6a45;
  }
}

header.banner nav .nav.navbar-nav li ul.dropdown-menu li a {
  color: #fff !important;
}

header.banner nav .nav.navbar-nav li ul.dropdown-menu li a:hover {
  background: #333;
}

@media screen and (max-width: 992px) {
  header.banner nav .nav.navbar-nav li ul.dropdown-menu li a {
    color: #8c6a45 !important;
  }
}

header.banner nav .nav.navbar-nav li.active a {
  color: #5b452e;
}

header.banner nav .nav.navbar-nav li.active:hover > a {
  color: #fff;
}

header.banner nav .nav.navbar-nav li.menu-highlight a {
  background: #dfad55 !important
}

header.banner nav .nav.navbar-nav li.menu-highlight a:hover, 
header.banner nav .nav.navbar-nav li.menu-highlight a:active, 
header.banner nav .nav.navbar-nav li.menu-highlight a:focus {
  background: #ca9a46 !important;
}

.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus {
  background: #333 !important;
  border-color: #333 !important;
}

.navbar-toggle,
.navbar-toggle.collapsed {
  background: #8c6a45;
  border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar {
  background-color: #ffffff !important;
}

.mobile-menu-title {
  color: #333333;
}

.home .soliloquy-slider {
  background: #8c6a45;
}

.front-page #home-widgets aside.widget h3.widget-title {
  color: #333333;
}

.single-jetpack-portfolio .jetpack-portfolio .portfolio-meta {
  background: #f1f1f1;
}

.single-jetpack-portfolio .jetpack-portfolio .portfolio-meta > div span:first-child {
  display: block;
  color: #555555;
}

#secondary .widget h3,
#tertiary .widget h3 {
  color: #333333;
}

#secondary .widget.widget_tag_cloud .tagcloud a,
#tertiary .widget.widget_tag_cloud .tagcloud a {
  background: #999999;
  color: white;
}

#secondary .widget.widget_tag_cloud .tagcloud a:hover,
#tertiary .widget.widget_tag_cloud .tagcloud a:hover {
  background: #555555 !important;
}

article header.entry-header h1.entry-title .label.label-sticky {
  background: rgba(0, 0, 0, 0.7);
}

article .post-meta,
article .post-format {
  color: #555555;
}

#respond #submit {
  color: white;
  background-color: #555555 !important;
  border-color: rgba(0, 0, 0, 0);
}

#respond #submit:hover, #respond #submit:focus, #respond #submit:active, #respond #submit.active, .open > #respond #submit.dropdown-toggle {
  color: white;
  background-color: #3071a9;
  border-color: rgba(0, 0, 0, 0);
}

#respond #submit.disabled, #respond #submit.disabled:hover, #respond #submit.disabled:focus, #respond #submit.disabled:active, #respond #submit.disabled.active, #respond #submit[disabled], #respond #submit[disabled]:hover, #respond #submit[disabled]:focus, #respond #submit[disabled]:active, #respond #submit[disabled].active, fieldset[disabled] #respond #submit, fieldset[disabled] #respond #submit:hover, fieldset[disabled] #respond #submit:focus, fieldset[disabled] #respond #submit:active, fieldset[disabled] #respond #submit.active {
  background-color: #555555 !important;
  border-color: rgba(0, 0, 0, 0);
}

#respond #submit .badge {
  color: #555555 !important;
  background-color: white;
}

.sharedaddy .jp-relatedposts-post p,
.jp-relatedposts .jp-relatedposts-post p {
  line-height: 200% !important;
}

#infinite-handle span {
  background: #555555 !important;
}

#infinite-handle span:hover {
  background: #333333 !important;
}

.footer-subscribe {
  background: #8c6a45 !important;
}

#footer-widgets {
  background: #333333;
}

#footer-widgets .widget {
  color: #ffffff;
}

#footer-widgets .widget h3.widget-title {
  color: #ffffff;
}

#footer-widgets .widget a {
  color: #dfad55 !important;
}

#footer-widgets .widget a:hover {
  color: #ffffff !important;
}

#footer-widgets .widget.widget_tag_cloud .tagcloud a {
  background: #ffffff;
  color: #333333 !important;
}

#footer-widgets .widget.widget_tag_cloud .tagcloud a:hover {
  background: #333333 !important;
  color: #ffffff !important;
}

.footer-widgets-wrapper .footer-widgets .styler .widget ul li a {
  color: #dfad55 !important;
}

.footer-widgets-wrapper .footer-widgets .styler .widget ul li a:hover {
  color: #fff !important;
}

.footer-widgets .widget a {
  color: #dfad55 !important;
}

.footer-widgets .widget a:hover {
  color: #ffffff !important;
}

footer.content-info a {
  color: #ffffff;
}

footer.content-info a:hover {
  color: #eeeeee;
}

.gform_wrapper .gfield_required {
  color: #a94442;
}

.gform_wrapper .gfield_error .gfield_label {
  color: #a94442 !important;
}

.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error select,
.gform_wrapper .gfield_error textarea {
  border-color: #ebccd1 !important;
  background-color: #f2dede !important;
  color: #a94442 !important;
}

.gform_wrapper .gfield_error input:focus,
.gform_wrapper .gfield_error select:focus,
.gform_wrapper .gfield_error textarea:focus,
.home-bg-image-footer .container > span .form-group input:focus, 
.home-bg-image-footer .container > form .form-group input:focus,
.caldera-grid .form-control input:focus,
.caldera-grid .form-control:focus,
.ginput_container input:focus, 
.ginput_container select:focus, 
.ginput_container textarea:focus,
.form-control:focus {
  border-color: #dfad55 !important;
  box-shadow: none !important;
}

.caldera-grid .btn, 
.caldera-grid .gform_button,
.gform_page_footer input[type="button"] {
  background: #dfad55 !important;
}

.caldera-grid .btn:hover, 
.caldera-grid .gform_button:hover,
.caldera-grid .btn:focus, 
.caldera-grid .gform_button:focus,
.caldera-grid .btn:active, 
.caldera-grid .gform_button:active,
.gform_page_footer input[type="button"]:hover,
.gform_page_footer input[type="button"]:focus,
.gform_page_footer input[type="button"]:active {
  background: #ca9a46 !important;
}

select {
  color: #555;
}

#social-navigation ul li a {
  color: #dfad55 !important;
}

#social-navigation ul li a:hover {
  color: #ffffff !important;
}

.page-template-template-portfolio #filterNav li a, 
.post-type-archive-jetpack-portfolio #filterNav li a {
  background: #8c6a45 !important;
}

.page-template-template-portfolio #filterNav li a:hover, 
.page-template-template-portfolio #filterNav li a.selected, 
.post-type-archive-jetpack-portfolio #filterNav li a:hover, 
.post-type-archive-jetpack-portfolio #filterNav li a.selected {
  background: #5b452e !important;
}

.masonry [class*='-content-wrapper'] {
  background: #5b452e !important;
}

.cf-toggle-group-buttons button {
  background: #555 !important;
}

.cf-toggle-group-buttons button:hover,
.cf-toggle-group-buttons button.success {
  background: #333 !important;
}

.caldera-grid .cf-color-picker .input-group-addon:focus,
.caldera-grid .cf-color-picker .input-group-addon:active {
  border-color: #dfad55 !important;
}

.lsx-full-width {
  background: #8c6a45;
}

.page-template-template-home-hero {
  background: #5b452e !important;
}

.page-template-template-home-hero #primary article.page .entry-content .btn, 
.page-template-template-home-hero #primary article.page .entry-content button,
.lsx-full-width .lsx-hero-unit .btn, 
.lsx-full-width .lsx-hero-unit button {
  color: #ffffff !important;
  border-color: #ffffff !important;
}

.page-template-template-home-hero #primary article.page .entry-content .btn:hover, 
.page-template-template-home-hero #primary article.page .entry-content .btn:focus, 
.page-template-template-home-hero #primary article.page .entry-content .btn:active, 
.page-template-template-home-hero #primary article.page .entry-content button:hover, 
.page-template-template-home-hero #primary article.page .entry-content button:focus, 
.page-template-template-home-hero #primary article.page .entry-content button:active,
.lsx-full-width .lsx-hero-unit .btn:hover, 
.lsx-full-width .lsx-hero-unit .btn:focus, 
.lsx-full-width .lsx-hero-unit .btn:active, 
.lsx-full-width .lsx-hero-unit button:hover, 
.lsx-full-width .lsx-hero-unit button:focus, 
.lsx-full-width .lsx-hero-unit button:active {
  background: #ffffff !important;
  border-color: #ffffff !important;
  color: #8c6a45 !important;
}
  
.page-template-template-home-hero #primary article.page .entry-content a:hover,
.page-template-template-home-hero #primary article.page .entry-content a:active,
.page-template-template-home-hero #primary article.page .entry-content a:focus {
  color: #8c6a45 !important;
}

.lsx-full-width {
  background: #dfad55;
}

.lsx-full-width-alt {
  background: #8c6a45;
}

.lsx-full-width-alt .lsx-hero-unit .btn, 
.lsx-full-width-alt .lsx-hero-unit button {
  color: #ffffff !important;
  border-color: #ffffff !important;
}

.lsx-full-width-alt .lsx-hero-unit .btn:hover, 
.lsx-full-width-alt .lsx-hero-unit .btn:focus, 
.lsx-full-width-alt .lsx-hero-unit .btn:active, 
.lsx-full-width-alt .lsx-hero-unit button:hover, 
.lsx-full-width-alt .lsx-hero-unit button:focus, 
.lsx-full-width-alt .lsx-hero-unit button:active {
  color: #5b452e !important;
  border-color: #ffffff !important;
  background: #ffffff !important;
}

.page-template-template-home-hero #home-widgets#home-widgets h1 a, 
.page-template-template-home-hero #home-widgets#home-widgets h2 a, 
.page-template-template-home-hero #home-widgets#home-widgets h3 a, 
.page-template-template-home-hero #home-widgets#home-widgets h4 a, 
.page-template-template-home-hero #home-widgets#home-widgets h5 a, 
.page-template-template-home-hero #home-widgets#home-widgets h6 a {
  color: #8c6a45;
}

.page-template-template-home-hero #home-widgets#home-widgets h1 a:hover, 
.page-template-template-home-hero #home-widgets#home-widgets h2 a:hover, 
.page-template-template-home-hero #home-widgets#home-widgets h3 a:hover, 
.page-template-template-home-hero #home-widgets#home-widgets h4 a:hover, 
.page-template-template-home-hero #home-widgets#home-widgets h5 a:hover, 
.page-template-template-home-hero #home-widgets#home-widgets h6 a:hover {
  color: #5b452e;
}

.home .soliloquy-container .soliloquy-caption-inside a:hover,
.home .soliloquy-container .soliloquy-caption-inside a:active,
.home .soliloquy-container .soliloquy-caption-inside a:focus {
  color: #8c6a45 !important;
}

.property [class*="content-wrapper"] [class*="content"] [class*="-bottom"] [class*="-read-more"]:hover, 
.property [class*="content-wrapper"] [class*="content"] [class*="-bottom"] [class*="-read-more"]:active, 
.property [class*="content-wrapper"] [class*="content"] [class*="-bottom"] [class*="-read-more"]:focus,
.accommodation [class*="content-wrapper"] [class*="content"] [class*="-bottom"] [class*="-read-more"]:hover, 
.accommodation [class*="content-wrapper"] [class*="content"] [class*="-bottom"] [class*="-read-more"]:active, 
.accommodation [class*="content-wrapper"] [class*="content"] [class*="-bottom"] [class*="-read-more"]:focus {
  border-color: #8c6a45 !important;
  background: #8c6a45 !important;
}

.widget#book .panel .btn.enquire-now:hover, 
.widget#book .panel .btn.enquire-now:focus,
.widget#book .panel .btn.enquire-now:active {
  background: #333333 !important;
}

.offer-slider .slick-list .slide-container:hover .caption .slide-title, 
.room-slider .slick-list .slide-container:hover .caption .slide-title,
.page-template-template-home-hero #home-widgets .home-features a {
  color: #8c6a45 !important;
}

.offer-slider .slick-dots li button:hover, 
.offer-slider .slick-dots li button:focus, 
.room-slider .slick-dots li button:hover, 
.room-slider .slick-dots li button:focus, 
.accommodation-slider .slick-dots li button:hover, 
.accommodation-slider .slick-dots li button:focus, 
.restaurants-slider .slick-dots li button:hover, 
.restaurants-slider .slick-dots li button:focus, 
.activities-slider .slick-dots li button:hover, 
.activities-slider .slick-dots li button:focus,
.offer-slider .slick-dots li.slick-active button, 
.room-slider .slick-dots li.slick-active button, 
.accommodation-slider .slick-dots li.slick-active button, 
.restaurants-slider .slick-dots li.slick-active button, 
.activities-slider .slick-dots li.slick-active button {
  background: #8c6a45 !important;
}

.classy-home-content .classy-home-content-section-wrapper a,
.offer-slider .slick-list .slide-container:hover .caption .slide-title,
.room-slider .slick-list .slide-container:hover .caption .slide-title,
.accommodation-slider .slick-list .slide-container:hover .caption .slide-title,
.restaurants-slider .slick-list .slide-container:hover .caption .slide-title,
.activities-slider .slick-list .slide-container:hover .caption .slide-title,
.offer-slider .genericon-leftarrow:hover, 
.offer-slider .genericon-leftarrow:focus, 
.offer-slider .genericon-rightarrow:hover, 
.offer-slider .genericon-rightarrow:focus, 
.room-slider .genericon-leftarrow:hover, 
.room-slider .genericon-leftarrow:focus, 
.room-slider .genericon-rightarrow:hover, 
.room-slider .genericon-rightarrow:focus, 
.accommodation-slider .genericon-leftarrow:hover, 
.accommodation-slider .genericon-leftarrow:focus, 
.accommodation-slider .genericon-rightarrow:hover, 
.accommodation-slider .genericon-rightarrow:focus, 
.restaurants-slider .genericon-leftarrow:hover, 
.restaurants-slider .genericon-leftarrow:focus, 
.restaurants-slider .genericon-rightarrow:hover, 
.restaurants-slider .genericon-rightarrow:focus, 
.activities-slider .genericon-leftarrow:hover, 
.activities-slider .genericon-leftarrow:focus, 
.activities-slider .genericon-rightarrow:hover, 
.activities-slider .genericon-rightarrow:focus {
  color: #8c6a45 !important;
}

.classy-home-content .classy-home-content-section-wrapper a:hover,
.classy-home-content .classy-home-content-section-wrapper a:focus,
.classy-home-content .classy-home-content-section-wrapper a:active,
.page-template-template-home-hero #home-widgets .home-features a:hover,
.page-template-template-home-hero #home-widgets .home-features a:focus,
.page-template-template-home-hero #home-widgets .home-features a:active {
  color: #5b452e !important;
}

.classy-home-content .classy-home-content-section-wrapper#classy-home-video-accommodation,
.classy-home-content .classy-home-content-section-wrapper#classy-home-gallery {
  background: #e1e0d1 !important;
}

.classy-home-content .classy-home-content-section-wrapper#classy-home-offers {
  background: #8c6a45 !important;
}

.page-template-template-page-hero .lsx-full-width-header {
  background: #5b452e !important;
}

.page-template-template-home-hero #home-widgets a {
  color: #8c6a45 !important;
}

.page-template-template-home-hero #home-widgets a:hover,
.page-template-template-home-hero #home-widgets a:focus,
.page-template-template-home-hero #home-widgets a:active {
  color: #5b452e !important;
}

nav.primary-navbar .nav.navbar-nav li.active > a {
  color: #fff !important;
  background: #8c6a45 !important;
}

#top-menu nav.top-menu ul li a:before {
  color: #dfad55;
}

#top-menu nav.top-menu ul li a:hover {
  color: #dfad55;
}

#primary.col-md-12 .archive-header {
  background: #5b452e !important;
}

article .post-tags-wrapper .post-tags a:hover,
article .post-tags-wrapper .post-tags a:active,
article .post-tags-wrapper .post-tags a:focus {
  background: #8c6a45 !important;
}

article .format-link {
  background-color: #5b452e !important;
  color: #fff !important;
}

article .post-meta a:hover,
article .post-meta a:active,
article .post-meta a:focus,
article header.entry-header h1.entry-title a:hover,
article header.entry-header h1.entry-title a:focus,
article header.entry-header h1.entry-title a:active {
  color: #8c6a45 !important;
}

.comments-link:hover,
.comments-linK:active,
.comments-link:focus {
  color: #dfad55 !important;
}