body {
  font-family: 'Noto Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif', serif !important;
  font-weight: 500;
}

blockquote {
	font-family: 'Noto Serif', serif !important;
}

ul.breadcrumb {
  font-family: 'Noto Serif', serif !important;
}

header.banner nav .nav.navbar-nav li a {
  font-family: 'Noto Serif', serif !important;
}

article header.entry-header h1.entry-title .label {
  font-family: 'Noto Sans', sans-serif !important;
}

.lsx-portfolio-wrapper .lsx-portfolio .jetpack-portfolio .portfolio-content-wrapper .portfolio-title {
  font-family: 'Noto Serif', serif !important;
}

.sharedaddy h3,
.jp-relatedposts h3 {
  font-family: 'Noto Serif', serif !important;
}

.sharedaddy .jp-relatedposts-post,
.jp-relatedposts .jp-relatedposts-post {
  font-family: 'Noto Sans', sans-serif !important;
}

.sharedaddy .jp-relatedposts-post h4.jp-relatedposts-post-title a,
.jp-relatedposts .jp-relatedposts-post h4.jp-relatedposts-post-title a {
  font-family: 'Noto Serif', serif !important;
}

.collapsibles > a {
  font-family: 'Noto Serif', serif !important;
}

.slick-list .slide-container .caption .slide-title,
.offer-slider .slick-list .slide-container .caption .slide-title, 
.room-slider .slick-list .slide-container .caption .slide-title, 
.accommodation-slider .slick-list .slide-container .caption .slide-title, 
.restaurants-slider .slick-list .slide-container .caption .slide-title, 
.activities-slider .slick-list .slide-container .caption .slide-title {
  font-family: 'Noto Serif', serif !important;
}