body {
  font-family: 'Open Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif !important;
}

.btn,
button {
  font-family: 'Raleway', sans-serif !important;
}

ul.breadcrumb {
  font-family: 'Raleway', sans-serif !important;
}

header.banner nav .nav.navbar-nav li a {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: normal !important;
}

article header.entry-header h1.entry-title .label {
  font-family: 'Open Sans', sans-serif !important;
}

.lsx-portfolio-wrapper .lsx-portfolio .jetpack-portfolio .portfolio-content-wrapper .portfolio-title {
  font-family: 'Raleway', sans-serif !important;
}

.sharedaddy h3,
.jp-relatedposts h3 {
  font-family: 'Raleway', sans-serif !important;
}

.sharedaddy .jp-relatedposts-post,
.jp-relatedposts .jp-relatedposts-post {
  font-family: 'Open Sans', sans-serif !important;
}

.sharedaddy .jp-relatedposts-post h4.jp-relatedposts-post-title a,
.jp-relatedposts .jp-relatedposts-post h4.jp-relatedposts-post-title a {
  font-family: 'Raleway', sans-serif !important;
}

.home-bg-image .home-bg-image-header #home-bg-image-navbtn .home-bg-image-nav-title {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 600;
}

.mobile-menu-title {
  font-family: 'Raleway', sans-serif !important;
}

.collapsibles > a {
  font-family: 'Raleway', sans-serif !important;
}