body {
  font-family: 'Open Sans', sans-serif !important; }

blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif !important; }

h1 .label,
h2 .label,
h3 .label,
h4 .label,
h5 .label,
h6 .label {
  font-family: 'Open Sans', sans-serif !important; }

article .entry-content,
article .entry-summary,
article .entry-meta,
article .post-tags-wrapper,
article .post-meta-link,
article #comments .media-body,
article #respond #commentform,
.post-navigation .pager div a .nav-links-description,
body.single-post .wrap #primary #main > article #comments-collapse #respond #reply-title,
.textwidget,
.wp-pagenavi-wrapper,
.btn,
button,
input[type="submit"] {
  font-family: 'Open Sans', serif !important; }

.post_format-post-format-quote .entry-content {
  font-family: 'Raleway', sans-serif !important; }

ul.breadcrumb,
.breadcrumbs-container {
  font-family: 'Open Sans', sans-serif !important; }

header.banner nav .nav.navbar-nav li a {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: normal !important; }

article header.entry-header h1.entry-title .label {
  font-family: 'Open Sans', sans-serif !important; }

.lsx-portfolio-wrapper .lsx-portfolio .jetpack-portfolio .portfolio-content-wrapper .portfolio-title {
  font-family: 'Raleway', sans-serif !important; }

.sharedaddy h3,
.jp-relatedposts h3 {
  font-family: 'Raleway', sans-serif !important; }

.sharedaddy .jp-relatedposts-post,
.jp-relatedposts .jp-relatedposts-post {
  font-family: 'Open Sans', sans-serif !important; }

.sharedaddy .jp-relatedposts-post h4.jp-relatedposts-post-title a,
.jp-relatedposts .jp-relatedposts-post h4.jp-relatedposts-post-title a {
  font-family: 'Raleway', sans-serif !important; }

.collapsibles > a {
  font-family: 'Open Sans', sans-serif !important; }

.home-bg-image .home-bg-image-header #home-bg-image-navbtn .home-bg-image-nav-title {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 600; }

.mobile-menu-title {
  font-family: 'Raleway', sans-serif !important; }

.slick-list .slide-container .caption .slide-title,
.offer-slider .slick-list .slide-container .caption .slide-title,
.room-slider .slick-list .slide-container .caption .slide-title,
.accommodation-slider .slick-list .slide-container .caption .slide-title,
.restaurants-slider .slick-list .slide-container .caption .slide-title,
.activities-slider .slick-list .slide-container .caption .slide-title {
  font-family: 'Raleway', serif !important; }

figure.wp-caption figcaption.wp-caption-text {
  font-family: 'Open Sans', sans-serif !important; }

.sharedaddy .sd-sharing .sd-title {
  font-family: 'Open Sans', sans-serif !important; }
