/*
	WP Job Manager Styles for LSX
*/
body.jobs.page.top-menu-fixed .wrap #primary.col-sm-12, body.jobs.single.top-menu-fixed .wrap #primary.col-sm-12,
body.single-job_listing.page.top-menu-fixed .wrap #primary.col-sm-12,
body.single-job_listing.single.top-menu-fixed .wrap #primary.col-sm-12,
body.resumes.page.top-menu-fixed .wrap #primary.col-sm-12,
body.resumes.single.top-menu-fixed .wrap #primary.col-sm-12,
body.candidate-dashboard.page.top-menu-fixed .wrap #primary.col-sm-12,
body.candidate-dashboard.single.top-menu-fixed .wrap #primary.col-sm-12,
body.listings-stats-dashboard.page.top-menu-fixed .wrap #primary.col-sm-12,
body.listings-stats-dashboard.single.top-menu-fixed .wrap #primary.col-sm-12,
body.my-bookmarks.page.top-menu-fixed .wrap #primary.col-sm-12,
body.my-bookmarks.single.top-menu-fixed .wrap #primary.col-sm-12 {
  max-width: 100%;
  float: left; }

body.jobs.page.top-menu-fixed .wrap, body.jobs.single.top-menu-fixed .wrap,
body.single-job_listing.page.top-menu-fixed .wrap,
body.single-job_listing.single.top-menu-fixed .wrap,
body.post-a-job.page.top-menu-fixed .wrap,
body.post-a-job.single.top-menu-fixed .wrap,
body.resumes.page.top-menu-fixed .wrap,
body.resumes.single.top-menu-fixed .wrap,
body.single-resume.page.top-menu-fixed .wrap,
body.single-resume.single.top-menu-fixed .wrap,
body.candidate-dashboard.page.top-menu-fixed .wrap,
body.candidate-dashboard.single.top-menu-fixed .wrap,
body.listings-stats-dashboard.page.top-menu-fixed .wrap,
body.listings-stats-dashboard.single.top-menu-fixed .wrap,
body.submit-resume.page.top-menu-fixed .wrap,
body.submit-resume.single.top-menu-fixed .wrap,
body.my-bookmarks.page.top-menu-fixed .wrap,
body.my-bookmarks.single.top-menu-fixed .wrap {
  margin-top: 80px; }
body.jobs input[type="text"],
body.jobs select,
body.jobs textarea,
body.jobs input#chart-date-range,
body.jobs ul.chosen-choices,
body.single-job_listing input[type="text"],
body.single-job_listing select,
body.single-job_listing textarea,
body.single-job_listing input#chart-date-range,
body.single-job_listing ul.chosen-choices,
body.post-a-job input[type="text"],
body.post-a-job select,
body.post-a-job textarea,
body.post-a-job input#chart-date-range,
body.post-a-job ul.chosen-choices,
body.resumes input[type="text"],
body.resumes select,
body.resumes textarea,
body.resumes input#chart-date-range,
body.resumes ul.chosen-choices,
body.single-resume input[type="text"],
body.single-resume select,
body.single-resume textarea,
body.single-resume input#chart-date-range,
body.single-resume ul.chosen-choices,
body.candidate-dashboard input[type="text"],
body.candidate-dashboard select,
body.candidate-dashboard textarea,
body.candidate-dashboard input#chart-date-range,
body.candidate-dashboard ul.chosen-choices,
body.listings-stats-dashboard input[type="text"],
body.listings-stats-dashboard select,
body.listings-stats-dashboard textarea,
body.listings-stats-dashboard input#chart-date-range,
body.listings-stats-dashboard ul.chosen-choices,
body.submit-resume input[type="text"],
body.submit-resume select,
body.submit-resume textarea,
body.submit-resume input#chart-date-range,
body.submit-resume ul.chosen-choices,
body.my-bookmarks input[type="text"],
body.my-bookmarks select,
body.my-bookmarks textarea,
body.my-bookmarks input#chart-date-range,
body.my-bookmarks ul.chosen-choices {
  background: #fff !important;
  height: auto;
  font-size: 16px;
  padding: 8px 14px;
  color: #555;
  border: 3px solid #ddd;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  body.jobs input[type="text"]:hover,
  body.jobs select:hover,
  body.jobs textarea:hover,
  body.jobs input#chart-date-range:hover,
  body.jobs ul.chosen-choices:hover,
  body.single-job_listing input[type="text"]:hover,
  body.single-job_listing select:hover,
  body.single-job_listing textarea:hover,
  body.single-job_listing input#chart-date-range:hover,
  body.single-job_listing ul.chosen-choices:hover,
  body.post-a-job input[type="text"]:hover,
  body.post-a-job select:hover,
  body.post-a-job textarea:hover,
  body.post-a-job input#chart-date-range:hover,
  body.post-a-job ul.chosen-choices:hover,
  body.resumes input[type="text"]:hover,
  body.resumes select:hover,
  body.resumes textarea:hover,
  body.resumes input#chart-date-range:hover,
  body.resumes ul.chosen-choices:hover,
  body.single-resume input[type="text"]:hover,
  body.single-resume select:hover,
  body.single-resume textarea:hover,
  body.single-resume input#chart-date-range:hover,
  body.single-resume ul.chosen-choices:hover,
  body.candidate-dashboard input[type="text"]:hover,
  body.candidate-dashboard select:hover,
  body.candidate-dashboard textarea:hover,
  body.candidate-dashboard input#chart-date-range:hover,
  body.candidate-dashboard ul.chosen-choices:hover,
  body.listings-stats-dashboard input[type="text"]:hover,
  body.listings-stats-dashboard select:hover,
  body.listings-stats-dashboard textarea:hover,
  body.listings-stats-dashboard input#chart-date-range:hover,
  body.listings-stats-dashboard ul.chosen-choices:hover,
  body.submit-resume input[type="text"]:hover,
  body.submit-resume select:hover,
  body.submit-resume textarea:hover,
  body.submit-resume input#chart-date-range:hover,
  body.submit-resume ul.chosen-choices:hover,
  body.my-bookmarks input[type="text"]:hover,
  body.my-bookmarks select:hover,
  body.my-bookmarks textarea:hover,
  body.my-bookmarks input#chart-date-range:hover,
  body.my-bookmarks ul.chosen-choices:hover {
    border: 3px solid #ddd;
    box-shadow: none; }
  body.jobs input[type="text"]:focus,
  body.jobs select:focus,
  body.jobs textarea:focus,
  body.jobs input#chart-date-range:focus,
  body.jobs ul.chosen-choices:focus,
  body.single-job_listing input[type="text"]:focus,
  body.single-job_listing select:focus,
  body.single-job_listing textarea:focus,
  body.single-job_listing input#chart-date-range:focus,
  body.single-job_listing ul.chosen-choices:focus,
  body.post-a-job input[type="text"]:focus,
  body.post-a-job select:focus,
  body.post-a-job textarea:focus,
  body.post-a-job input#chart-date-range:focus,
  body.post-a-job ul.chosen-choices:focus,
  body.resumes input[type="text"]:focus,
  body.resumes select:focus,
  body.resumes textarea:focus,
  body.resumes input#chart-date-range:focus,
  body.resumes ul.chosen-choices:focus,
  body.single-resume input[type="text"]:focus,
  body.single-resume select:focus,
  body.single-resume textarea:focus,
  body.single-resume input#chart-date-range:focus,
  body.single-resume ul.chosen-choices:focus,
  body.candidate-dashboard input[type="text"]:focus,
  body.candidate-dashboard select:focus,
  body.candidate-dashboard textarea:focus,
  body.candidate-dashboard input#chart-date-range:focus,
  body.candidate-dashboard ul.chosen-choices:focus,
  body.listings-stats-dashboard input[type="text"]:focus,
  body.listings-stats-dashboard select:focus,
  body.listings-stats-dashboard textarea:focus,
  body.listings-stats-dashboard input#chart-date-range:focus,
  body.listings-stats-dashboard ul.chosen-choices:focus,
  body.submit-resume input[type="text"]:focus,
  body.submit-resume select:focus,
  body.submit-resume textarea:focus,
  body.submit-resume input#chart-date-range:focus,
  body.submit-resume ul.chosen-choices:focus,
  body.my-bookmarks input[type="text"]:focus,
  body.my-bookmarks select:focus,
  body.my-bookmarks textarea:focus,
  body.my-bookmarks input#chart-date-range:focus,
  body.my-bookmarks ul.chosen-choices:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
body.jobs ul.chosen-choices input[type="text"],
body.single-job_listing ul.chosen-choices input[type="text"],
body.post-a-job ul.chosen-choices input[type="text"],
body.resumes ul.chosen-choices input[type="text"],
body.single-resume ul.chosen-choices input[type="text"],
body.candidate-dashboard ul.chosen-choices input[type="text"],
body.listings-stats-dashboard ul.chosen-choices input[type="text"],
body.submit-resume ul.chosen-choices input[type="text"],
body.my-bookmarks ul.chosen-choices input[type="text"] {
  padding: 0;
  margin: 0;
  color: #aaa; }
body.jobs input[type="button"],
body.jobs input[type="submit"],
body.single-job_listing input[type="button"],
body.single-job_listing input[type="submit"],
body.post-a-job input[type="button"],
body.post-a-job input[type="submit"],
body.resumes input[type="button"],
body.resumes input[type="submit"],
body.single-resume input[type="button"],
body.single-resume input[type="submit"],
body.candidate-dashboard input[type="button"],
body.candidate-dashboard input[type="submit"],
body.listings-stats-dashboard input[type="button"],
body.listings-stats-dashboard input[type="submit"],
body.submit-resume input[type="button"],
body.submit-resume input[type="submit"],
body.my-bookmarks input[type="button"],
body.my-bookmarks input[type="submit"] {
  background: #333;
  color: #fff;
  border: none !important;
  box-shadow: none;
  font-size: 17px;
  line-height: inherit;
  white-space: nowrap;
  padding: 11px 26px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background: #428bca;
  line-height: 1.42857143;
  padding: 9.5px 26px; }
  body.jobs input[type="button"]:hover, body.jobs input[type="button"]:focus,
  body.jobs input[type="submit"]:hover,
  body.jobs input[type="submit"]:focus,
  body.single-job_listing input[type="button"]:hover,
  body.single-job_listing input[type="button"]:focus,
  body.single-job_listing input[type="submit"]:hover,
  body.single-job_listing input[type="submit"]:focus,
  body.post-a-job input[type="button"]:hover,
  body.post-a-job input[type="button"]:focus,
  body.post-a-job input[type="submit"]:hover,
  body.post-a-job input[type="submit"]:focus,
  body.resumes input[type="button"]:hover,
  body.resumes input[type="button"]:focus,
  body.resumes input[type="submit"]:hover,
  body.resumes input[type="submit"]:focus,
  body.single-resume input[type="button"]:hover,
  body.single-resume input[type="button"]:focus,
  body.single-resume input[type="submit"]:hover,
  body.single-resume input[type="submit"]:focus,
  body.candidate-dashboard input[type="button"]:hover,
  body.candidate-dashboard input[type="button"]:focus,
  body.candidate-dashboard input[type="submit"]:hover,
  body.candidate-dashboard input[type="submit"]:focus,
  body.listings-stats-dashboard input[type="button"]:hover,
  body.listings-stats-dashboard input[type="button"]:focus,
  body.listings-stats-dashboard input[type="submit"]:hover,
  body.listings-stats-dashboard input[type="submit"]:focus,
  body.submit-resume input[type="button"]:hover,
  body.submit-resume input[type="button"]:focus,
  body.submit-resume input[type="submit"]:hover,
  body.submit-resume input[type="submit"]:focus,
  body.my-bookmarks input[type="button"]:hover,
  body.my-bookmarks input[type="button"]:focus,
  body.my-bookmarks input[type="submit"]:hover,
  body.my-bookmarks input[type="submit"]:focus {
    background: #232222;
    color: #fff; }
  body.jobs input[type="button"]:hover, body.jobs input[type="button"]:focus, body.jobs input[type="button"]:active,
  body.jobs input[type="submit"]:hover,
  body.jobs input[type="submit"]:focus,
  body.jobs input[type="submit"]:active,
  body.single-job_listing input[type="button"]:hover,
  body.single-job_listing input[type="button"]:focus,
  body.single-job_listing input[type="button"]:active,
  body.single-job_listing input[type="submit"]:hover,
  body.single-job_listing input[type="submit"]:focus,
  body.single-job_listing input[type="submit"]:active,
  body.post-a-job input[type="button"]:hover,
  body.post-a-job input[type="button"]:focus,
  body.post-a-job input[type="button"]:active,
  body.post-a-job input[type="submit"]:hover,
  body.post-a-job input[type="submit"]:focus,
  body.post-a-job input[type="submit"]:active,
  body.resumes input[type="button"]:hover,
  body.resumes input[type="button"]:focus,
  body.resumes input[type="button"]:active,
  body.resumes input[type="submit"]:hover,
  body.resumes input[type="submit"]:focus,
  body.resumes input[type="submit"]:active,
  body.single-resume input[type="button"]:hover,
  body.single-resume input[type="button"]:focus,
  body.single-resume input[type="button"]:active,
  body.single-resume input[type="submit"]:hover,
  body.single-resume input[type="submit"]:focus,
  body.single-resume input[type="submit"]:active,
  body.candidate-dashboard input[type="button"]:hover,
  body.candidate-dashboard input[type="button"]:focus,
  body.candidate-dashboard input[type="button"]:active,
  body.candidate-dashboard input[type="submit"]:hover,
  body.candidate-dashboard input[type="submit"]:focus,
  body.candidate-dashboard input[type="submit"]:active,
  body.listings-stats-dashboard input[type="button"]:hover,
  body.listings-stats-dashboard input[type="button"]:focus,
  body.listings-stats-dashboard input[type="button"]:active,
  body.listings-stats-dashboard input[type="submit"]:hover,
  body.listings-stats-dashboard input[type="submit"]:focus,
  body.listings-stats-dashboard input[type="submit"]:active,
  body.submit-resume input[type="button"]:hover,
  body.submit-resume input[type="button"]:focus,
  body.submit-resume input[type="button"]:active,
  body.submit-resume input[type="submit"]:hover,
  body.submit-resume input[type="submit"]:focus,
  body.submit-resume input[type="submit"]:active,
  body.my-bookmarks input[type="button"]:hover,
  body.my-bookmarks input[type="button"]:focus,
  body.my-bookmarks input[type="button"]:active,
  body.my-bookmarks input[type="submit"]:hover,
  body.my-bookmarks input[type="submit"]:focus,
  body.my-bookmarks input[type="submit"]:active {
    background: #2a6496; }
body.jobs input[type="file"],
body.single-job_listing input[type="file"],
body.post-a-job input[type="file"],
body.resumes input[type="file"],
body.single-resume input[type="file"],
body.candidate-dashboard input[type="file"],
body.listings-stats-dashboard input[type="file"],
body.submit-resume input[type="file"],
body.my-bookmarks input[type="file"] {
  line-height: 10px; }

body.single-job_listing article header.entry-header,
body.single-resume article header.entry-header {
  text-align: left; }
  body.single-job_listing article header.entry-header .format-link,
  body.single-job_listing article header.entry-header .entry-meta,
  body.single-resume article header.entry-header .format-link,
  body.single-resume article header.entry-header .entry-meta {
    display: none; }
  body.single-job_listing article header.entry-header .thumbnail,
  body.single-resume article header.entry-header .thumbnail {
    float: left;
    margin-right: 30px !important; }
    body.single-job_listing article header.entry-header .thumbnail img,
    body.single-resume article header.entry-header .thumbnail img {
      min-width: auto !important;
      max-width: 150px !important;
      margin-top: auto !important;
      margin-left: auto !important;
      margin-right: auto !important; }
body.single-job_listing article .company:after,
body.single-resume article .company:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }
body.single-job_listing article .company_logo,
body.single-resume article .company_logo {
  position: relative;
  height: auto;
  left: 0; }

body.single-job_listing .job_description {
  max-width: 700px;
  margin: 0 auto; }

.job_listings,
.resumes {
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .job_listings .job_filters,
  .job_listings .resume_filters,
  .resumes .job_filters,
  .resumes .resume_filters {
    background: #428bca;
    border-bottom: 1px solid #ddd;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px; }
  .job_listings ul.job_listings,
  .job_listings ul.resumes,
  .resumes ul.job_listings,
  .resumes ul.resumes {
    border: none; }
    .job_listings ul.job_listings li.job_listing,
    .job_listings ul.job_listings li.resume,
    .job_listings ul.resumes li.job_listing,
    .job_listings ul.resumes li.resume,
    .resumes ul.job_listings li.job_listing,
    .resumes ul.job_listings li.resume,
    .resumes ul.resumes li.job_listing,
    .resumes ul.resumes li.resume {
      border-bottom: 1px solid #ddd; }
      .job_listings ul.job_listings li.job_listing:last-child,
      .job_listings ul.job_listings li.resume:last-child,
      .job_listings ul.resumes li.job_listing:last-child,
      .job_listings ul.resumes li.resume:last-child,
      .resumes ul.job_listings li.job_listing:last-child,
      .resumes ul.job_listings li.resume:last-child,
      .resumes ul.resumes li.job_listing:last-child,
      .resumes ul.resumes li.resume:last-child {
        border-bottom: none;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-bottom-left-radius: 5px;
        -ms-border-bottom-left-radius: 5px;
        -o-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
        -ms-border-bottom-right-radius: 5px;
        -o-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      .job_listings ul.job_listings li.job_listing > a:hover, .job_listings ul.job_listings li.job_listing > a:active, .job_listings ul.job_listings li.job_listing > a:focus,
      .job_listings ul.job_listings li.resume > a:hover,
      .job_listings ul.job_listings li.resume > a:active,
      .job_listings ul.job_listings li.resume > a:focus,
      .job_listings ul.resumes li.job_listing > a:hover,
      .job_listings ul.resumes li.job_listing > a:active,
      .job_listings ul.resumes li.job_listing > a:focus,
      .job_listings ul.resumes li.resume > a:hover,
      .job_listings ul.resumes li.resume > a:active,
      .job_listings ul.resumes li.resume > a:focus,
      .resumes ul.job_listings li.job_listing > a:hover,
      .resumes ul.job_listings li.job_listing > a:active,
      .resumes ul.job_listings li.job_listing > a:focus,
      .resumes ul.job_listings li.resume > a:hover,
      .resumes ul.job_listings li.resume > a:active,
      .resumes ul.job_listings li.resume > a:focus,
      .resumes ul.resumes li.job_listing > a:hover,
      .resumes ul.resumes li.job_listing > a:active,
      .resumes ul.resumes li.job_listing > a:focus,
      .resumes ul.resumes li.resume > a:hover,
      .resumes ul.resumes li.resume > a:active,
      .resumes ul.resumes li.resume > a:focus {
        background-color: #f8f8f8; }
      .job_listings ul.job_listings li.job_listing .company_logo,
      .job_listings ul.job_listings li.resume .company_logo,
      .job_listings ul.resumes li.job_listing .company_logo,
      .job_listings ul.resumes li.resume .company_logo,
      .resumes ul.job_listings li.job_listing .company_logo,
      .resumes ul.job_listings li.resume .company_logo,
      .resumes ul.resumes li.job_listing .company_logo,
      .resumes ul.resumes li.resume .company_logo {
        height: auto !important; }
      .job_listings ul.job_listings li.job_listing .location:before,
      .job_listings ul.job_listings li.job_listing .candidate-location:before,
      .job_listings ul.job_listings li.resume .location:before,
      .job_listings ul.job_listings li.resume .candidate-location:before,
      .job_listings ul.resumes li.job_listing .location:before,
      .job_listings ul.resumes li.job_listing .candidate-location:before,
      .job_listings ul.resumes li.resume .location:before,
      .job_listings ul.resumes li.resume .candidate-location:before,
      .resumes ul.job_listings li.job_listing .location:before,
      .resumes ul.job_listings li.job_listing .candidate-location:before,
      .resumes ul.job_listings li.resume .location:before,
      .resumes ul.job_listings li.resume .candidate-location:before,
      .resumes ul.resumes li.job_listing .location:before,
      .resumes ul.resumes li.job_listing .candidate-location:before,
      .resumes ul.resumes li.resume .location:before,
      .resumes ul.resumes li.resume .candidate-location:before {
        content: '\f417';
        display: inline-block;
        float: left;
        font-family: genericons;
        font-size: 20px;
        margin-top: 1px;
        margin-right: 3px; }

.single-resume-content .resume-manager-education h3,
.single-resume-content .resume-manager-experience h3 {
  font-size: 18px;
  margin-bottom: 10px; }
.single-resume-content .resume-manager-education small.date:before,
.single-resume-content .resume-manager-experience small.date:before {
  font-family: job-manager !important;
  font-style: normal;
  font-size: 11px;
  margin: 0 5px 0px 0;
  content: '\e80f'; }
.single-resume-content .resume-manager-skills li {
  padding: 0 !important; }
  .single-resume-content .resume-manager-skills li:before {
    content: '\f418';
    font-family: genericons;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 2px; }
.single-resume-content .candidate-video {
  clear: both; }

.job_listing_packages_title:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }
.job_listing_packages_title h2 {
  font-size: 24px;
  margin-top: 7px !important; }
.job_listing_packages_title .button {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.job-manager-form fieldset .wp-editor-container {
  border: 3px solid #ddd; }

#resume-manager-candidate-dashboard table.resume-manager-resumes th,
#resume-manager-candidate-dashboard table.resume-manager-resumes td,
#resume-manager-candidate-dashboard table.job-manager-bookmarks th,
#resume-manager-candidate-dashboard table.job-manager-bookmarks td,
#resume-manager-candidate-dashboard table.job-manager-jobs th,
#resume-manager-candidate-dashboard table.job-manager-jobs td,
#job-manager-bookmarks table.resume-manager-resumes th,
#job-manager-bookmarks table.resume-manager-resumes td,
#job-manager-bookmarks table.job-manager-bookmarks th,
#job-manager-bookmarks table.job-manager-bookmarks td,
#job-manager-bookmarks table.job-manager-jobs th,
#job-manager-bookmarks table.job-manager-jobs td,
#job-manager-job-dashboard table.resume-manager-resumes th,
#job-manager-job-dashboard table.resume-manager-resumes td,
#job-manager-job-dashboard table.job-manager-bookmarks th,
#job-manager-job-dashboard table.job-manager-bookmarks td,
#job-manager-job-dashboard table.job-manager-jobs th,
#job-manager-job-dashboard table.job-manager-jobs td {
  padding: 8px 18px; }
#resume-manager-candidate-dashboard table.resume-manager-resumes thead,
#resume-manager-candidate-dashboard table.job-manager-bookmarks thead,
#resume-manager-candidate-dashboard table.job-manager-jobs thead,
#job-manager-bookmarks table.resume-manager-resumes thead,
#job-manager-bookmarks table.job-manager-bookmarks thead,
#job-manager-bookmarks table.job-manager-jobs thead,
#job-manager-job-dashboard table.resume-manager-resumes thead,
#job-manager-job-dashboard table.job-manager-bookmarks thead,
#job-manager-job-dashboard table.job-manager-jobs thead {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd; }
  #resume-manager-candidate-dashboard table.resume-manager-resumes thead th,
  #resume-manager-candidate-dashboard table.job-manager-bookmarks thead th,
  #resume-manager-candidate-dashboard table.job-manager-jobs thead th,
  #job-manager-bookmarks table.resume-manager-resumes thead th,
  #job-manager-bookmarks table.job-manager-bookmarks thead th,
  #job-manager-bookmarks table.job-manager-jobs thead th,
  #job-manager-job-dashboard table.resume-manager-resumes thead th,
  #job-manager-job-dashboard table.job-manager-bookmarks thead th,
  #job-manager-job-dashboard table.job-manager-jobs thead th {
    border-right: 1px solid #ddd;
    border-bottom: none;
    background: #333;
    color: #fff; }
#resume-manager-candidate-dashboard table.resume-manager-resumes tbody,
#resume-manager-candidate-dashboard table.job-manager-bookmarks tbody,
#resume-manager-candidate-dashboard table.job-manager-jobs tbody,
#job-manager-bookmarks table.resume-manager-resumes tbody,
#job-manager-bookmarks table.job-manager-bookmarks tbody,
#job-manager-bookmarks table.job-manager-jobs tbody,
#job-manager-job-dashboard table.resume-manager-resumes tbody,
#job-manager-job-dashboard table.job-manager-bookmarks tbody,
#job-manager-job-dashboard table.job-manager-jobs tbody {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd; }
  #resume-manager-candidate-dashboard table.resume-manager-resumes tbody td,
  #resume-manager-candidate-dashboard table.job-manager-bookmarks tbody td,
  #resume-manager-candidate-dashboard table.job-manager-jobs tbody td,
  #job-manager-bookmarks table.resume-manager-resumes tbody td,
  #job-manager-bookmarks table.job-manager-bookmarks tbody td,
  #job-manager-bookmarks table.job-manager-jobs tbody td,
  #job-manager-job-dashboard table.resume-manager-resumes tbody td,
  #job-manager-job-dashboard table.job-manager-bookmarks tbody td,
  #job-manager-job-dashboard table.job-manager-jobs tbody td {
    border-right: 1px solid #ddd; }
    #resume-manager-candidate-dashboard table.resume-manager-resumes tbody td.job_title small,
    #resume-manager-candidate-dashboard table.job-manager-bookmarks tbody td.job_title small,
    #resume-manager-candidate-dashboard table.job-manager-jobs tbody td.job_title small,
    #job-manager-bookmarks table.resume-manager-resumes tbody td.job_title small,
    #job-manager-bookmarks table.job-manager-bookmarks tbody td.job_title small,
    #job-manager-bookmarks table.job-manager-jobs tbody td.job_title small,
    #job-manager-job-dashboard table.resume-manager-resumes tbody td.job_title small,
    #job-manager-job-dashboard table.job-manager-bookmarks tbody td.job_title small,
    #job-manager-job-dashboard table.job-manager-jobs tbody td.job_title small {
      background: #2a6496;
      color: #fff;
      padding: 4px 9px;
      margin-left: 5px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
#resume-manager-candidate-dashboard table.resume-manager-resumes tfoot td,
#resume-manager-candidate-dashboard table.job-manager-bookmarks tfoot td,
#resume-manager-candidate-dashboard table.job-manager-jobs tfoot td,
#job-manager-bookmarks table.resume-manager-resumes tfoot td,
#job-manager-bookmarks table.job-manager-bookmarks tfoot td,
#job-manager-bookmarks table.job-manager-jobs tfoot td,
#job-manager-job-dashboard table.resume-manager-resumes tfoot td,
#job-manager-job-dashboard table.job-manager-bookmarks tfoot td,
#job-manager-job-dashboard table.job-manager-jobs tfoot td {
  text-align: center;
  border: none; }
  #resume-manager-candidate-dashboard table.resume-manager-resumes tfoot td a,
  #resume-manager-candidate-dashboard table.job-manager-bookmarks tfoot td a,
  #resume-manager-candidate-dashboard table.job-manager-jobs tfoot td a,
  #job-manager-bookmarks table.resume-manager-resumes tfoot td a,
  #job-manager-bookmarks table.job-manager-bookmarks tfoot td a,
  #job-manager-bookmarks table.job-manager-jobs tfoot td a,
  #job-manager-job-dashboard table.resume-manager-resumes tfoot td a,
  #job-manager-job-dashboard table.job-manager-bookmarks tfoot td a,
  #job-manager-job-dashboard table.job-manager-jobs tfoot td a {
    display: inline-block;
    background: #333;
    color: #fff;
    border: none !important;
    box-shadow: none;
    font-size: 17px;
    line-height: inherit;
    white-space: nowrap;
    padding: 11px 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background: #428bca;
    font-size: 14px;
    margin: 10px 0;
    padding: 7px 40px; }
    #resume-manager-candidate-dashboard table.resume-manager-resumes tfoot td a:hover, #resume-manager-candidate-dashboard table.resume-manager-resumes tfoot td a:focus,
    #resume-manager-candidate-dashboard table.job-manager-bookmarks tfoot td a:hover,
    #resume-manager-candidate-dashboard table.job-manager-bookmarks tfoot td a:focus,
    #resume-manager-candidate-dashboard table.job-manager-jobs tfoot td a:hover,
    #resume-manager-candidate-dashboard table.job-manager-jobs tfoot td a:focus,
    #job-manager-bookmarks table.resume-manager-resumes tfoot td a:hover,
    #job-manager-bookmarks table.resume-manager-resumes tfoot td a:focus,
    #job-manager-bookmarks table.job-manager-bookmarks tfoot td a:hover,
    #job-manager-bookmarks table.job-manager-bookmarks tfoot td a:focus,
    #job-manager-bookmarks table.job-manager-jobs tfoot td a:hover,
    #job-manager-bookmarks table.job-manager-jobs tfoot td a:focus,
    #job-manager-job-dashboard table.resume-manager-resumes tfoot td a:hover,
    #job-manager-job-dashboard table.resume-manager-resumes tfoot td a:focus,
    #job-manager-job-dashboard table.job-manager-bookmarks tfoot td a:hover,
    #job-manager-job-dashboard table.job-manager-bookmarks tfoot td a:focus,
    #job-manager-job-dashboard table.job-manager-jobs tfoot td a:hover,
    #job-manager-job-dashboard table.job-manager-jobs tfoot td a:focus {
      background: #232222;
      color: #fff; }
    #resume-manager-candidate-dashboard table.resume-manager-resumes tfoot td a:active, #resume-manager-candidate-dashboard table.resume-manager-resumes tfoot td a:focus, #resume-manager-candidate-dashboard table.resume-manager-resumes tfoot td a:hover,
    #resume-manager-candidate-dashboard table.job-manager-bookmarks tfoot td a:active,
    #resume-manager-candidate-dashboard table.job-manager-bookmarks tfoot td a:focus,
    #resume-manager-candidate-dashboard table.job-manager-bookmarks tfoot td a:hover,
    #resume-manager-candidate-dashboard table.job-manager-jobs tfoot td a:active,
    #resume-manager-candidate-dashboard table.job-manager-jobs tfoot td a:focus,
    #resume-manager-candidate-dashboard table.job-manager-jobs tfoot td a:hover,
    #job-manager-bookmarks table.resume-manager-resumes tfoot td a:active,
    #job-manager-bookmarks table.resume-manager-resumes tfoot td a:focus,
    #job-manager-bookmarks table.resume-manager-resumes tfoot td a:hover,
    #job-manager-bookmarks table.job-manager-bookmarks tfoot td a:active,
    #job-manager-bookmarks table.job-manager-bookmarks tfoot td a:focus,
    #job-manager-bookmarks table.job-manager-bookmarks tfoot td a:hover,
    #job-manager-bookmarks table.job-manager-jobs tfoot td a:active,
    #job-manager-bookmarks table.job-manager-jobs tfoot td a:focus,
    #job-manager-bookmarks table.job-manager-jobs tfoot td a:hover,
    #job-manager-job-dashboard table.resume-manager-resumes tfoot td a:active,
    #job-manager-job-dashboard table.resume-manager-resumes tfoot td a:focus,
    #job-manager-job-dashboard table.resume-manager-resumes tfoot td a:hover,
    #job-manager-job-dashboard table.job-manager-bookmarks tfoot td a:active,
    #job-manager-job-dashboard table.job-manager-bookmarks tfoot td a:focus,
    #job-manager-job-dashboard table.job-manager-bookmarks tfoot td a:hover,
    #job-manager-job-dashboard table.job-manager-jobs tfoot td a:active,
    #job-manager-job-dashboard table.job-manager-jobs tfoot td a:focus,
    #job-manager-job-dashboard table.job-manager-jobs tfoot td a:hover {
      background: #2a6496; }

#job-manager-job-dashboard table.job-manager-jobs thead th:first-child {
  width: 440px; }

body.listings-stats-dashboard .wpjms-legend {
  padding: 12px 20px 16px;
  border: 1px solid #ddd;
  margin-top: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  body.listings-stats-dashboard .wpjms-legend ul {
    padding: 0;
    margin: 0; }

/*# sourceMappingURL=wp-job-manager.css.map */
