/*!
 * LSX 1.0
 */

@import "bootstrap/bootstrap.scss";
@import "lsx/lsx.scss";


// ========== Variables ========== //

$blacker: #232222;
$black: #333;
$dark-grey: #555;
$mid-grey: #777;
$grey: #999;
$light-grey: #eee;
$off-white: #f1f1f1;
$white: #fff;

$primary: #428bca;
$primary-darker: #357ebd;


// ========== Mixins ========== //

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin border-radius($value) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	-ms-border-radius: $value;
	-o-border-radius: $value;
	border-radius: $value;
}

@mixin border-radius-top($value) {
	-webkit-border-top-left-radius: $value;
	-moz-border-top-left-radius: $value;
	-ms-border-top-left-radius: $value;
	-o-border-top-left-radius: $value;
	border-top-left-radius: $value;

	-webkit-border-top-right-radius: $value;
	-moz-border-top-right-radius: $value;
	-ms-border-top-right-radius: $value;
	-o-border-top-right-radius: $value;
	border-top-right-radius: $value;
}

@mixin border-radius-bottom($value) {
	-webkit-border-bottom-left-radius: $value;
	-moz-border-bottom-left-radius: $value;
	-ms-border-bottom-left-radius: $value;
	-o-border-bottom-left-radius: $value;
	border-bottom-left-radius: $value;

	-webkit-border-bottom-right-radius: $value;
	-moz-border-bottom-right-radius: $value;
	-ms-border-bottom-right-radius: $value;
	-o-border-bottom-right-radius: $value;
	border-bottom-right-radius: $value;
}

@mixin box-shadow($args...) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	-ms-box-shadow: $args;
	-o-box-shadow: $args;
	box-shadow: $args;
}

@mixin text-shadow($args...) {
	-webkit-text-shadow: $args;
	-moz-text-shadow: $args;
	-ms-text-shadow: $args;
	-o-text-shadow: $args;
	text-shadow: $args;
}

@mixin clear-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin title-shadow {
	@include text-shadow(0px -1px 5px rgba(0, 0, 0, 0.08), 0px 3px 2px rgba(0, 0, 0, 0.2));
}
 
@mixin lsx-button {
	background: $black;
	color: $white;
	border: none !important;
	box-shadow: none;
	font-size: 17px;
    line-height: inherit;
	padding: 11px 26px;
    margin: {
    	top: 10px;
    	bottom: 10px;
    }
    @include border-radius(3px);
    @include transition(all .1s ease-in-out);

	&:hover,
	&:focus {
		background: $blacker;
		color: $white;
	}
}

@mixin lsx-cta-button {
	color: $white;
	font-size: 17px;
	padding: 16px 30px;
	margin-top: 14px;
	background: $dark-grey;
	@include box-shadow(0px 3px 0 #444);

	&:hover,
	&:focus {
		background: #444;
	}

	&.book-now,
	&.enquire-modal-button {
		display: block;
	}

	&.book-now {
		background: $primary;
		@include box-shadow(0px 3px 0 $primary-darker);

		&:hover,
		&:focus {
			background: $primary-darker;
		}
	}

	&.enquire-now {
		@include lsx-button;
	}
}

@mixin lsx-border-button($color, $hover-color) {
	background: none !important;
    padding: 9px 30px;
    border: 3px solid $color !important;
    color: $color !important;
    font: {
    	size: 18px;
    	weight: bold;
    }

    &:hover,
    &:focus,
    &:active {
    	background: none !important;
    	border-color: $hover-color !important;
    	color: $hover-color !important;
    }
}

@mixin lsx-full-width($background, $color) {
	margin: 0 -9999rem;
	padding: 60px 9999rem;
	background: $background;
	color: $color;
	margin: {
		top: 60px;
		bottom: 60px;
	}

	@media screen and (max-width: 768px) {
		padding: 40px 9999rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0;
		line-height: 1.4;
		color: $color;

		a {
			color: $color;
		}

		@media screen and (max-width: 992px) {
			margin-top: 40px;
		}

		@media screen and (max-width: 768px) {
			margin-top: 20px;
		}
	}

	a {
		color: $color;
	}

	.lsx-hero-unit {
		color: $color;
	}

	&#home-widgets {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;

			a {
				color: $primary;
			}
		}

		a {
			color: $primary;
		}
	}

	.lsx-hero-unit {
		color: $color;

		.btn,
		button {
			@include lsx-border-button($white, #888);
			margin: 5px 15px;

			@media screen and (max-width: 768px) {
				display: block;
				margin: 15px auto 0;
			}
		}
	}
}	

@mixin lsx-box {
	background: $white;
	text-align: center;
	border: none;
	margin-bottom: 30px;
	font-size: 15px;
	@include border-radius(3px);
	@include box-shadow(0 1px 5px rgba(0, 0, 0, 0.3));

	& > .thumbnail {
		margin: 0;

		img {
			@include border-radius-top(3px);
		}
	}

	& > .content {
		@include clear-list;
		padding: 30px 40px;

		h3 {
			margin: {
				top: 0;
				bottom: 15px;
			}
			padding-bottom: 10px;
			border-bottom: 1px solid #ddd;
			font: {
				size: 22px;
				weight: bold;
			}
		}

		p {
			margin: 0 0 10px;

			.genericon {
				vertical-align: middle;
			}
		}

		.price-wrapper {
			margin: 10px 0;

			.price {
				color: #999;

				.price-inner {
					display: inline-block;
					margin-top: -5px;
					color: $dark-grey;
					font: {
						size: 22px;
						weight: bold;
					}
					vertical-align: middle;

					br {
						display: none;
					}

					.hb_symbol {
						font-size: 15px;
						vertical-align: top;
						margin-right: 3px;
					}
				}
			}
		}

		.btn {
			margin-top: 20px;
		}
	}
}

@mixin lsx-form-field {
	height: auto;
	font-size: 16px;
	padding: 12px 16px;
	color: $dark-grey;
	border: 3px solid #ddd;
	box-shadow: none;
	@include border-radius(3px);
	@include transition(all .1s ease-in-out);

	&:hover {
		border: 3px solid #ddd;
		box-shadow: none;
	}

	&:focus {
		border-color: #66afe9;
		outline: 0;
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6));
	}
}

@mixin lsx-parallax-banner {
	.page-banner {
		position: fixed;
		top: 0;
		margin-top: 0;
		background-color: $black;
		padding: 380px 0;
		z-index: -1;
		@include transition(all .08s ease-in-out);
		
		@media print {
			display: none !important;
		}
	}

	.wrap {
		width: 100%;
		padding: 0;
		background: $white;
		margin-top: 640px;
		margin-bottom: 0;
		padding-bottom: 60px;
		border-top: 1px solid #ddd;

		@media print {
			margin-top: 20px !important;
		}

		& > .content {
			max-width: 1140px;
			margin: 0 auto;
			padding-top: 60px;

			header.page-header {
				display: none;

				@media print {
					display: block;
				}
			}
		}
	}
}

@mixin lsx-info-box {
	background: $off-white;
	padding: 20px 30px;
	margin: 0;
	list-style: none;
	border-top: 3px solid #ccc;
	margin-bottom: 20px;

	& > div,
	li {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ccc;

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
		}

		span:first-child {
			display: block;
			color: $dark-grey;
		}

		p {
			margin: 0;
		}

		.genericon {
			display: inline-block !important;
			margin-right: 5px;
			vertical-align: middle;
		}
	}
}

@mixin lsx-pricing-table {
	@include lsx-box;
	
	ul {
		@include clear-list;
	}
}

@mixin lsx-hero-unit {
	text-align: center;
	max-width: 80%;
	margin: 20px auto;

	@media screen and (max-width: 385px) {
		max-width: 100%;
	}

	a,
	.btn,
	button {
		font-weight: bold;
	}

	.btn,
	button {
		background: none;
		margin: 0 20px;

		@media screen and (max-width: 768px) {
			margin: 15 20px;
		}
	}
}

@mixin lsx-section-heading {
	border-top: 3px solid #ddd;
	padding: 20px 0;
	margin-bottom: 0;
	margin-top: 20px;
}

@mixin lsx-image-section {
	margin-top: 30px;

	.lsx-image-section-content {
		font-size: 16px;
		padding-left: 70px;

		@media screen and (max-width: 385px) {
			padding-left: 0;
		}

		.lsx-image-section-title {
			font-size: 20px;
			margin-top: 0;
			margin-bottom: 10px;

			@media screen and (max-width: 385px) {
				font-size: 19px;
			}
		}
	}

	& > p {
		display: none;
	}

	& > img {
		max-width: 50px;
		float: left;
		margin-top: 2px;

		@media screen and (max-width: 385px) {
			float: none;
			padding-left: 0;
		}
	}
}


 
/* ==========================================================================
	 Base
	 ========================================================================== */

html {
	overflow-x: hidden;
}

body {
	width: auto !important;
	color: $mid-grey;
	margin: 0;
	padding: 0;
	font: {
		size: 17px;
		family: 'Open Sans', sans-serif;
	}
	line-height: 200%;
	overflow-x: hidden !important;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;

	@media screen and (max-width: 768px) {
		line-height: 180%;
	}
}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none !important;
}

p {
	margin: 0 0 20px;

	@media screen and (max-width: 768px) {
		margin: 0 0 15px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: {
		family: 'Raleway', 'Open Sans', sans-serif;
		weight: 600;
	}
	line-height: inherit;

	&.lsx-section-heading {
		@include lsx-section-heading;
	}

	@media screen and (max-width: 768px) {
		line-height: 1.4;
	}
}

h1,
h2,
h3 {
	color: $black;
	margin-top: 40px;

	i {
		margin-right: 15px;
	}

	@media screen and (max-width: 768px) {
		margin-top: 20px;
		margin-bottom: 15px;
	}
}

h4,
h5,
h6 {
	color: $dark-grey;
	margin-top: 25px;
	margin-bottom: 20px;

	i {
		margin-right: 10px;
	}

	@media screen and (max-width: 768px) {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

h1 {
	font-size: 36px;
	margin-bottom: 26px;
}

h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

h3 {
	font-size: 24px;
	margin-bottom: 18px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 19px;
}

h6 {
	font-size: 18px;
}

ul {
	padding-left: 40px;
}

.page-title {
	margin-top: 0 !important;
	margin-bottom: 25px;
	font-size: 36px;
	line-height: 1.4;
}

iframe, 
img,
.thumbnail {
	max-width: 100%;
}

iframe {
	width: 100%;
}

button,
.btn {
	border: none;
	@include transition(all .1s ease-in-out);
	
	&.btn-lg {
		padding: 9px 28px;
	    font-size: 17px;
	    line-height: inherit;
	    @include border-radius(3px);
	}
}

address {
	line-height: inherit;
}

img,
.thumbnail {
	height: auto;

	.caption {
		padding: 12px 10px 7px;
	}

	&.alignright,
	&.pull-right {
		margin: 0 0 15px 20px;
	}

	&.alignleft,
	&.pull-left {
		margin: 0 20px 15px 0;
	}

	&.aligncenter {
		margin: 0 auto 15px;
	}

	&.image-border {
		padding: 4px;
  		border: 1px solid #ddd;
  		@include border-radius(3px);
  		@include transition(all .1s ease-in-out);

  		&:hover {
  			border: 1px solid #ccc;
  		}
	}
}

.page-has-banner,
.single-jetpack-portfolio {
	@include lsx-parallax-banner;
}

.search-submit {
	padding: 8px 12px;
}

.info-box {
	@include lsx-info-box;
}

.lsx-button {
	@include lsx-button
}

.lsx-cta-button {
	@include lsx-cta-button;
}

.lsx-hero-unit {
	@include lsx-hero-unit;
}

.lsx-image-section {
	@include lsx-image-section;
}

.lsx-pricing-table {
	@include lsx-pricing-table;
}

.thumbnail {
	padding: 0;
	border: none;

	.caption {
		padding: 12px 10px 7px;
	}
}

#searchform {
	.input-group {
		input.search-field {
			height: 35px;
		}
 
		span.input-group-btn {
			button.search-submit {
				color: $white;
				background-color: $primary;
				border: none !important;
				margin-left: 0 !important;

				&:hover {
					background-color: $primary-darker;
				}
			}
		}
	}
}

.pagination {
	span.current {
		background: $primary !important;
		color: $white !important;
	}
}

.pager {
	@media print {
		display: none !important;
	}

	a {
		border: none !important;
		font-weight: 600;

		div {
			width: 50%;

			@media screen and (max-width: 768px) {
				width: 100%;
				margin-bottom: 15px;
			}

			.nav-links-description {
				color: $grey;
				margin-bottom: 0;
				font-weight: 500;
			}
		}

		&:hover {
			div {
				.nav-links-description {
					color: $dark-grey;
				}
			}
		}
	}

	.previous {
		text-align: left;
		float: left;
		
		span {
			margin-right: 5px;
		}
	}

	.next {
		text-align: right;
		float: right;
		
		span {
			margin-left: 5px;
		}   
	}

	@media screen and (max-width: 992px) {
		margin: 20px 15px;
	}
}



blockquote {
	position: relative;
	padding: 0 30px;
	margin: 0 0 20px;
	font: {
		family: 'Noto Serif', serif;
		size: 17px;
	}
	border-left: none;
	line-height: 180%;

	&:before {
		content: '\f106';
		font: {
			family: genericons;
			size: 20px;
		}
		position: absolute;
		left: 0;
	}
}

cite {
	font-weight: bold;
}

dl {
	dt {
		margin-top: 15px;
		margin-bottom: 6px;
		padding-bottom: 3px;
		border-bottom: 1px solid #ddd;
	}
}

table {
	width: 100%;
	max-width: 100%;
	background-color: transparent;
	margin-bottom: 20px;
	font-size: 15px;
	border-collapse: collapse;
	border-spacing: 0;
	border: none;

	& > thead {
		tr {
			background: $white;

			th {
				font-weight: bold;
				border-bottom-width: 2px;
			} 
		}
	}

	tbody {
		tr {
			&:nth-child(even) {
				background-color: $white;
			}

			&:nth-child(odd) {
				background-color: $off-white;
			}
		}
	} 

	td,
	th {
		border-bottom: 1px solid #ddd;
		padding: 8px 18px;
		font-weight: normal;
	}
}

.breadcrumbs-container {
	@media screen and (max-width: 768px) {
		display: none;
	}
}


// Plugin Post Types

.room,
.property {
	overflow: visible !important;
	margin-bottom: 40px;

	.stars {
		max-height: 24px;
		
		.genericon-star {
			color: #ffcc00;
			font-size: 22px;
			@include text-shadow(0 1px 0px rgba(0, 0, 0, .2));
		}
	}

	.child-policy {
		margin-bottom: 40px;
	}

	[class*="content-wrapper"] {
		@include lsx-box;

		[class*="thumbnail"] {
			@include border-radius-top(3px);

			img {
				width: 100%;
				opacity: 1 !important;
				@include border-radius-top(3px);
			}
		}

		a[class*="title"] {
			display: inline-block;
			padding: 20px 30px;
			font: {
				family: "Noto Serif", serif;
				size: 20px;
				weight: bold;
			}
			color: $black;
			border-bottom: 1px solid #ddd;
			@include transition(all .1s ease-in-out);

			&:hover {
				color: $mid-grey;
			}
		}

		[class*="content"] {
			background: $white;
			padding: 20px 30px 30px;
			font-size: 15px;

			h3 {
				margin-top: 0;

				a {
					font: {
						size: 20px;
						weight: bold;
					}
					color: $black;
					@include transition(all .1s ease-in-out);

					&:hover {
						color: $mid-grey;
					}
				}
			}

			.price-wrapper {
				margin: 17px 0;
				padding: 15px 0;
				border: {
					top: 1px solid #ddd;
					bottom: 1px solid #ddd;
				}

				.price {
					color: #999;

					.price-inner {
						display: inline-block;
						margin-top: -5px;
						color: $grey;
						font: {
							size: 22px;
							weight: bold;
						}
						vertical-align: middle;

						.hb_symbol {
							font-size: 15px;
							vertical-align: top;
							margin-right: 3px;
						}
					}
				}
			}
		}
	}
}

// Slider Widgets

.slider-widget-title {
	margin-top: 0;
	font: {
		size: 20px;
		weight: normal;
	}

	.genericon {
		font-size: 20px;
		margin-top: 6px;
		margin-right: 3px;
	}
}

.offer-slider,
.room-slider {
	.slick-list {
		overflow: hidden;

		.slide-container {
			background-position: center center;
			padding: 40px;
			@include border-radius-top(3px);

			&:hover {
				.caption {
					background: rgba(255, 255, 255, .84);

					.slide-title {
						color: $primary;
					}
				}
				
				.genericon-leftarrow,
				.genericon-rightarrow {
					color: $black;
				}
			}

			.caption {
			    max-width: 400px;
				background: rgba(255, 255, 255, .6);
				text-align: center;
				padding: 20px;
				margin: 0 auto;
				@include border-radius(5px);
				@include transition(all 0.3s ease-in-out);
				
				.slide-title {
					margin: 0 0 10px;
					font: {
						family: 'Noto Sans', sans-serif !important;
						weight: normal;
					}
					@include transition(all 0.3s ease-in-out);
				}

				.valid-until {
					margin: 0;
					color: $black;
					font-size: 14px;
					line-height: 2;
				}
			}
		}
	}

	.genericon-leftarrow,
	.genericon-rightarrow {
		color: $dark-grey;
		font-size: 24px;
		margin-top: 20px;
		transition: none;

		&:hover,
		&:focus {
			cursor: pointer;
			color: $primary;
		}
	}

	.genericon-rightarrow {
		float: right;
		padding-left: 15px;
	    margin-right: 10px;
	}

	.genericon-leftarrow {
		float: left;
		padding-right: 15px;
	    margin-left: 10px;
	}

	.slick-dots {
		@include clear-list;
		@include lsx-box;
		text-align: center;
		background: white;
		padding: 15px;

		li {
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
			height: 15px;

			&:last-child {
				margin-right: 0;
			}

			button {
				background: $dark-grey;
				text-indent: -999px;
				width: 12px;
				height: 12px;
				padding: 0;
				margin: 0;
				@include border-radius(100%);

				&:hover,
				&:focus {
					background: $primary;
				}
			}

			&.slick-active {
				button {
					background: $primary;
				}
			}
		}
	}
}

// Masonry

.masonry {
	margin-left: -8px;
	margin-right: -8px;

	& > h2 {
		clear: both;
		margin-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.col-md-4,
	.col-md-6 {
		article {
			width: 100% !important;
			margin-bottom: 40px !important;	
		}
	}

	.col-md-8 & {
		article {
			width: 50% !important;
			margin-bottom: 20px;

			@media screen and (max-width: 540px) {
				width: 100% !important;
			}
		}
	}
	
	article {
		width: 33.3%;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;
		overflow: hidden;
		display: block;
		float: left;
		height: auto !important;

		[class*="-content-wrapper"] {
			position: relative;
			background: $blacker;
			margin-bottom: 0;

			[class*="-thumbnail"] {
				overflow: hidden;

				a {
					border: none !important;
				}

				img {
					width: 100%;
					min-height: 246px;
					@include transition(all .4s ease-in-out);
				}
			}

			[class*="-title"] {
				font: {
					size: 22px;
				}
				color: white;
				text-align: center;
				margin-bottom: 10px;
				display: block;
				position: absolute;
				top: 50%;
				margin: -18px auto 0 !important;
				width: 100%;
				border: none !important;
				text-transform: capitalize;
				@include transition(all 0.4s ease-in-out);
				@include title-shadow;

				@media screen and (max-width: 768px) {
					font-size: 18px;
				}

				@media screen and (max-width: 540px) {
					font: {
						size: 20px;
						weight: bold;
					}
				}
			}
		}

		&.active,
		&.restaurant:hover,
		&.offer:hover {
			img {
				opacity: .1;
				-webkit-transform: scale(1.08);
				-moz-transform: scale(1.08);
				-o-transform: scale(1.08);
				transform: scale(1.08);
			}
		}

		@media screen and (max-width: 992px) {
			width: 50% !important;
		}

		@media screen and (max-width: 540px) {
			width: 100% !important;
			margin-bottom: 20px;
		}
	}
} 


// Archive Filters

#filterNav { 
	list-style: none; 
	padding: 0;
	margin: {
		top: 40px;
		bottom: 45px;
	}

	li {
		float: left;
		margin-right: 10px;

		a {
			background: $grey;
			color: $white;
			padding: 9px 15px;
			border: none !important;
			text-transform: capitalize;
			@include border-radius(3px);

			&:hover,
			&.selected {
				background: $black;
			}
		}
	}
}

// Breadcrumbs

ul.breadcrumb {
	margin: 30px 0;
	padding: 0;
	background: none;

	@media print {
		display: none !important;
	}

	li {
		background: $white;
		border: 1px solid #ddd;
		overflow: hidden;
		@include border-radius(3px);

		& > span {
			& > span {
				padding: 0;

				&:first-child {
					a {
						padding-left: 22px;
					}
				}

				& > span,
				a,
				strong {
					position: relative;
					float: left;
					font-size: 14px;
					padding: 5px 20px 5px 27px;

					&:before,
					&:after {
						content: "";
						display: block;
						width: 0;
						height: 0;
						border: {
							top: 30px solid transparent;
							bottom: 30px solid transparent;
						}
						position: absolute;
						top: 0;
						margin-top: -8px;
						z-index: 2; 
					}

					&:before {
						border-left: 20px solid #ccc;
						right: -10px;
					}

					&:after {
						border-left: 20px solid #fff;
						right: -9px;
					}

					&.breadcrumb_last {
						&:before,	
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}

	br {
		display: none !important;
	}
}

// Posts Nav

nav.page-nav {
	p {
		display: inline-block;
		padding: 5px 14px;
		background-color: $white;
		border: 1px solid $light-grey;
		border-radius: 15px;

		a {
			font-weight: bold;
		}
	}
}

// Post Comments

#comments {
	h3 {
		margin-bottom: 20px;
	}

	.media-heading {
		margin: 0;
	}
	
	ol.media-list {
		li.comment {
			&.odd {
				background: $off-white;
			}

			time {
				font-size: 15px;
			}
		}
	}
}

hr {
	margin: 60px auto;
	border: 0;
    border-top: 3px solid #e5e5e5;
	max-width: 20%;

	@media screen and (max-width: 768px) {
		margin: 40px auto;
	}
}

.media > .pull-left {
	margin-right: 20px;
}

.lsx-full-width {
	@include lsx-full-width($primary, $white);
}

.lsx-full-width-alt {
	@include lsx-full-width($black, $white);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@media screen and (max-width: 992px) {
			margin-top: 0;
		}

		@media screen and (max-width: 768px) {
			margin-top: 0;
		}
	}

	.btn,
	button {
		&:hover,
		&:focus,
		&:active {
			background: $white !important;
			border-color: $white !important;
		}
	}
}

.lsx-box {
	@include lsx-box;
}

.lsx-border-button {
	@include lsx-border-button($black, $blacker);
}

.caldera-grid {
	.form-group {
		margin-bottom: 20px;
	}

	.control-label {
		font-weight: bold;
	}

	.form-control {
		@include lsx-form-field;
	}

	.btn {
		@include lsx-button;
	}

	.cf-toggle-group-buttons {
		button {
			background: $primary;
			font-size: 15px;

			&:hover,
			&.btn-success {
				background: $primary-darker;
			}
		}
	}

	.minicolor-picker {
		width: auto !important;
	}

	.help-block {
		color: $grey;
		font-size: 15px;
	}

	.cf-color-picker {
		.input-group-addon {
			padding: 0 25px;
			border: 3px solid #ddd;
			border-left: none;

			&:focus,
			&:active {
				cursor: pointer;
				border-color: $primary;
			}
		}
	}

	.radio,
	.checkbox {
		margin-top: 0px;
		margin-bottom: 7px;
	}

	input[type="checkbox"],
	input[type="radio"] {
		margin: 11px 0 0 -20px;
	}
}


// Modals

.modal-dialog {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
}

.modal-content {
	max-height: 100%;
	padding: 30px 40px;
	border: none;
	@include box-shadow(0 2px 10px rgba(0, 0, 0, 0.32));
}

.modal-header {
	border: none;
	@include border-radius-top(3px);

	.close {
		background: none !important;
		float: none;
    	position: absolute;
    	right: 30px;
    	top: 30px;
	}
}

.modal-content .modal-title {
	font-size: 26px;
}

.modal-body {
	background: $white;
	overflow-y: auto;
	@include border-radius-bottom(3px);

	.form-group {
		width: 100%;
	}

	.btn {
		display: block;
		width: 100%;
		margin-top: 25px;
	}

	textarea {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;	
	}
}

.modal-footer {
	margin-top: 0;
}

@media screen and (max-width: 767px) {
	.modal-dialog {
		width: 100%;
	}
}

// Sliders Default

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	margin-top: -10px;
	padding: 0;
	border: none;
	outline: none;

	&:hover, &:focus {
		outline: none;
		background: transparent;
		color: transparent;
		
		&:before {
			opacity: 1;
		}
	}

	&.slick-disabled:before {
		opacity: 0.25;
	}
}

.slick-prev:before, .slick-next:before {
	font-size: 20px;
	line-height: 1;
	color: $white;
	opacity: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

.slick-next {
    right: -25px;
}


// Slider Nav

@media (min-width: 768px) {
    #slider-navbtn {
        display: block;
    }

    #slider-navbar.collapse {
        display: none !important;
    }

    #slider-navbar.collapse.in {
        display: block !important;
    }

    #slider-navbar .navbar-nav {
        float: none !important;
    }
}

/* ==========================================================================
	 Header
	 ========================================================================== */

header.banner {
	position: fixed;
	width: 100%;
	top: 0;
	background: $light-grey;
	border: none;
	@include box-shadow(0px 1px 1px rgba(0, 0, 0, .1));

	@media screen and (max-width: 992px) {
		& > .container {
			position: relative;
		}
	}

	@media screen and (max-width: 768px) {
		position: relative !important;
		top: 0 !important;
		padding: 0 15px;
		margin: 0;
	}

	.admin-bar & {
		top: 32px;

		@media screen and (max-width: 783px) {
			top: 46px;
		}
	}

	.navbar-header {
		.site-logo-link {
			img {
				width: auto;
				max-height: 70px;
				margin: 30px 0;
				@include transition(all .3s ease-in-out);

				@media screen and (max-width: 992px) {
					max-height: 64px;
					margin: 15px 0;
				}

				@media screen and (max-width: 768px) {
					max-height: 40px !important;
				}
			}
		}
	}

	&.scrolled {
		.navbar-header {
			.site-logo-link {
				img {
					max-height: 64px;
					margin: 15px 0;
				}
			}
		}

		.site-description {
			display: none;
		}
	}

	.site-branding {
		.site-title {
			margin: {
				top: 31px;
				bottom: 0px;
			}
			font-weight: bold;

			@media screen and (max-width: 992px) {
				font-size: 30px;
			}

			@media screen and (max-width: 768px) {
				margin-top: 18px;
				font-size: 26px;
			}

			@media screen and (max-width: 540px) {
				margin-top: 21px;
				font-size: 22px;
			}
		}

		.site-description {
			@media screen and (max-width: 992px) {
				display: none;
			}
		}
	}
	
	.header-central & {
		.navbar-header,
		nav,
		.navbar-nav {
			float:none;
			display:block;
			text-align:center;
		}
		
		.navbar-nav > li {
		    display: inline-block;
		    float: none;
		}		
	}
	
	.header-expanded & {
		nav,
		.navbar-nav {
			float:none;
			display:block;
		}
		.navbar-header {
			float: none;
			width: 50%;
		}	
		.navbar-nav > li {
		    display: inline-block;
		    float: none;
		}		
	}	
	
}


/* ==========================================================================
	 Navigation
	 ========================================================================== */

nav {
	header.banner & {
		float: right;
		margin: 40px 0;
		border: none !important;
		@include transition(all .3s ease-in-out);

		@media screen and (max-width: 1200px) {
			width: 100%;
			border: none !important;
		    box-shadow: none !important;
		    margin: 0 !important;
		    padding: {
		    	bottom: 40px !important;
		    }
		    float: none !important;
		}

		@media screen and (max-width: 992px) {
			padding-top: 20px;
			margin: 0 !important;
		}

		@media screen and (max-width: 768px) {
			transition: none !important;
		}

		.nav.navbar-nav {
			@media screen and (max-width: 992px) {
				margin: 0;
			}

			& > li {
				& > a {
					@include border-radius(4px);

					@media screen and (max-width: 992px) {
						padding-left: 0 !important;
					}
				}
			}

			li {
				a {
					background-color: inherit;
					color: $dark-grey;
					font: {
						family: 'Raleway', 'Open Sans', sans-serif;
						size: 18px;
						weight: 500;
					}
					padding: 15px 24px;
					transition: none;

					.caret {
						margin-left: 6px;

						@media screen and (max-width: 992px) {
							display: none;
						}
					}

					@media screen and (max-width: 992px) {
						background: none !important;
						font-size: 20px;

						&:hover {
							color: $black !important;
						}
					}
				}
				
				@media screen and (min-width: 992px) {
					&.dropdown:hover > ul.dropdown-menu {
						display: block;
					}	 
				}			

				&:hover,
				&.open {
					& > a {
						color: $light-grey;
						background: $dark-grey;

						@media screen and (max-width: 992px) {
							background: none !important;
							color: $black !important;
						}
					}
				}

				ul.dropdown-menu {
					background: $dark-grey;
					padding: 0;
					margin-top: -3px;
					box-shadow: none;
					border: none;
					-webkit-border-top-right-radius: 3px;
					-moz-border-top-right-radius: 3px;
					border-top-right-radius: 3px;

					-webkit-border-bottom-left-radius: 3px;
					-moz-border-bottom-left-radius: 3px;
					border-bottom-left-radius: 3px;

					-webkit-border-bottom-right-radius: 3px;
					-moz-border-bottom-right-radius: 3px;
					border-bottom-right-radius: 3px;

					@media screen and (max-width: 992px) {
						display: block;
						position: relative;
						width: 100%;
						background: none !important;
						margin-bottom: 16px;
					}

					li {
						a {
							background: none;
							background-color: inherit;
							color: $light-grey;
							font-size: 17px;
							border-radius: 0;

							&:hover {
								background: $mid-grey; 
							}

							@media screen and (max-width: 992px) {
								color: $grey;
								font-size: 18px;
							}
						}

						&:first-child {
							a {
								-webkit-border-top-right-radius: 3px !important;
								-moz-border-top-right-radius: 3px !important;
								border-top-right-radius: 3px !important;
							}
						}

						&:last-child {
							a {
								-webkit-border-bottom-left-radius: 3px !important;
								-moz-border-bottom-left-radius: 3px !important;
								border-bottom-left-radius: 3px !important;

								-webkit-border-bottom-right-radius: 3px !important;
								-moz-border-bottom-right-radius: 3px !important;
								border-bottom-right-radius: 3px !important;
							}
						}

						ul.dropdown-menu {
							margin-top: 0;
						}
					}
				}

				&.active {
					a {
						color: $black;
					}

					&:hover {
						& > a {
							color: $white;						
						}
					}
				}
			}
		}
	}

	header.banner.scrolled & {
		margin: 21px 0;
	}

	&#social-navigation {
		float: right;
		margin: 25px 0 10px !important;
		background: none;

		@media screen and (max-width: 992px) {
			float: left;
			position: relative;
			clear: both;

			ul {
				margin: -20px 0 0 -40px !important;
			}
		}

		ul {
			list-style: none;
			margin: 0 0 -30px 0;

			li {
				float: left;
				margin-right: 15px;
				margin-bottom: 15px;

				@media screen and (max-width: 992px) {
					margin-right: 20px;
					margin-bottom: 20px;
				}

				&:last-child {
					margin-right: 0;
				}

				a {
					display: block;
					position: relative;
					width: 24px;
					height: 24px;
					overflow: hidden;

					@media screen and (max-width: 992px) {
						width: 30px;
						height: 30px;
					}

					&:before {
						display: inline-block;
						font: {
							family: "Genericons";
							size: 24px;
							weight: normal;
							variant: normal;
						}
						line-height: 1;
						text-decoration: none !important;
						-moz-transition: color .1s ease-in 0;
						-webkit-transition: color .1s ease-in 0;
						text-decoration: inherit;
						text-transform: none;
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						speak: none;

						@media screen and (max-width: 992px) {
							font-size: 30px;
						}
					}

					&[href$="/feed/"]:before {
						content: "\f413";
					}

					&[href*="codepen.io"]:before {
						content: "\f216";
					}

					&[href*="digg.com"]:before {
						content: "\f221";
					}

					&[href*="dribbble.com"]:before {
						content: "\f201";
					}

					&[href*="dropbox.com"]:before {
						content: "\f225";
					}

					&[href*="facebook.com"]:before {
						content: "\f203";
					}

					&[href*="flickr.com"]:before {
						content: "\f211";
					}

					&[href*="foursquare.com"]:before {
						content: "\f226";
					}

					&[href*="plus.google.com"]:before {
						content: "\f206";
					}

					&[href*="github.com"]:before {
						content: "\f200";
					}

					&[href*="instagram.com"]:before {
						content: "\f215";
					}

					&[href*="linkedin.com"]:before {
						content: "\f208";
					}

					&[href*="pinterest.com"]:before {
						content: "\f210";
					}

					&[href*="getpocket.com"]:before {
						content: "\f224";
					}

					&[href*="polldaddy.com"]:before {
						content: "\f217";
					}

					&[href*="reddit.com"]:before {
						content: "\f222";
					}

					&[href*="stumbleupon.com"]:before {
						content: "\f223";
					}

					&[href*="tumblr.com"]:before {
						content: "\f214";
					}

					&[href*="twitter.com"]:before {
						content: "\f202";
					}

					&[href*="vimeo.com"]:before {
						content: "\f212";
					}

					&[href*="wordpress.com"]:before,
					&[href*="wordpress.org"]:before {
						content: "\f205";
					}

					&[href*="youtube.com"]:before {
						content: "\f213";
					}

					&[href*="mailto:"]:before {
						content: "\f410";
					}

					&[href*="spotify.com"]:before {
						content: "\f515";
					}

					&[href*="twitch.tv"]:before {
						content: "\f516";
					}
				}
			}
		}
	}
}

.navbar-toggle {
	margin: 48px 0;

	.scrolled & {
		margin: 32px 0;
	}

	@media screen and (max-width: 992px) {
		margin: 32px 0;
	}

	@media screen and (max-width: 768px) {
		margin: 19px 0;
	}
}

.mobile-menu-title {
	display: none;
	float: right;
	margin: 52px 13px;
	font-weight: 600;

	.scrolled & {
		margin: 30px 10px;
	}

	@media screen and (min-width: 450px) and (max-width: 1200px) {
		display: block;
	}

	@media screen and (max-width: 992px) {
		margin: 31px 10px !important;
	}

	@media screen and (max-width: 768px) {
		margin: 20px 10px !important;
	}

	@media screen and (max-width: 768px) {
		margin: 20px 10px !important;
	}

	@media screen and (max-width: 540px) {
		display: none !important;
	}
}

.pager {
	.next {
		@media screen and (max-width: 768px) {
			text-align: left;

			.meta-nav {
				float: left;
				margin-left: 0;
				margin-right: 5px;
			}
		}
	}
}

/* ==========================================================================
	 Content 2
	 ========================================================================== */

.wrap {
	margin-top: 140px;
	margin-bottom: 60px;

	.home & {
		margin-top: 220px;
		margin-bottom: 40px;

		@media screen and (max-width: 992px) {
			margin-top: 0;
			margin-bottom: 40px;
		}
	}

	.page-template-template-page-hero & {
		@media screen and (max-width: 992px) {
			margin-top: 90px !important;
		}

		@media screen and (max-width: 768px) {
			margin-top: 0 !important;
		}
	}

	#primary,
	#secondary {
		&.col-sm-12 {
			max-width: 780px;
			margin: 0 auto;
			float: none;
			
			.single-jetpack-portfolio &,
			.lsx-portfolio &,
			.post-type-archive-jetpack-portfolio &,
			.page-template &,
			.post-type-archive &			 {
				max-width: 100%;
			}
		}	
	
		.page-template-template-full-width &,
		.page-template-template-front-page &,
		.page-template-template-portfolio & { 
			max-width: 1140px;
			margin: 0 auto;
			float: none;

			.single-jetpack-portfolio &,
			.lsx-portfolio &,
			.post-type-archive-jetpack-portfolio & {
				max-width: 100%;
			}
		}
	}

	.page-template-template-full-width-narrow & {
		#primary {
			margin: 0 auto;
			float: none;
		}
	}

	@media screen and (max-width: 992px) {
		margin-top: 120px;
		margin-bottom: 60px;
	}

	@media screen and (max-width: 768px) {
		margin-top: 20px;
		margin-bottom: 40px;
	}
	@media screen and (max-width: 768px) {
		margin-top: 20px;
	}
}

header.page-header {
	margin: 0;
	padding: 0;
	border: none;

	.template-sticky & {
		img {
			margin-bottom: 40px;
		}
	}

	.page-template-template-page-hero & {
		display: none;
	}
}

// Homepage

.soliloquy-slider {
	.home & {
		padding-top: 130px;
		margin-bottom: -150px;
		background: $light-grey;

		@media screen and (max-width: 992px) {
			padding-top: 80px;
			margin-bottom: -80px;
		}

		@media screen and (max-width: 768px) {
			padding-top: 0;
			margin-bottom: 0;
		}

		.soliloquy-container {
			max-width: 100% !important;
		}
	}

	.soliloquy-controls-direction {
		.soliloquy-prev {
			left: 30px;
		}

		.soliloquy-next {
			right: 30px;
		}
	}
}

.page-template-template-home-hero {
	background: $primary !important;

	.wrap {
		margin-top: 230px;

		@media screen and (max-width: 992px) {
  			margin-top: 160px;
		}

		@media screen and (max-width: 768px) {
  			margin-top: 40px;
		}
	}

	#primary {
		float: none;
		margin: 0 auto;

		@media screen and (max-width: 992px) {
			width: 90%;
		}

		@media screen and (max-width: 670px) {
			width: 100%;
		}

		article.page {
			margin-bottom: 115px;

			@media screen and (max-width: 768px) {
	  			margin-bottom: 50px;
			}

			h1.page-title {
				font-size: 46px;
			    text-align: center;
			    color: $white;

			    @media screen and (max-width: 768px) {
		  			font-size: 36px;
				}

				@media screen and (max-width: 670px) {
		  			font-size: 32px;
				}
			}

			.entry-content {
				color: $white;

				.hero-tagline {
					text-align: center;
					margin-top: -11px;

					em {
						font-size: 22px;
					}
				}

				hr {
					margin: 40px auto;
				}

				h1,
				h2,
				h3,
				h4,
				h5,
				h6,
				a {
					color: $white;
					font-weight: bold;
				}

				a {
					&:focus,
					&:hover,
					&:active {
						color: $black;
					}
				}

				.btn,
				button {
					@include lsx-border-button($white, $black);

					.btn,
					button {
						&:hover,
						&:focus,
						&:active {
							background: $white !important;
							border-color: $white !important;
						}
					}
				}
			}

			.entry-meta {
				display: none;
			}
		}	
	}

	#home-widgets {
		@include lsx-full-width($white, $dark-grey);
		margin-bottom: -40px;
		padding: {
			top: 60px !important;
			bottom: 60px !important;
		}

		@media screen and (max-width: 992px) {
  			margin-top: -70px;
		}

		@media screen and (max-width: 768px) {
			margin: 0 -8px -40px;
			padding: 40px 40px !important;
		}
	}	
}

.page-template-template-page-hero {
	ul.breadcrumb {
		position: absolute;
		top: -25px;

		li.active {
			@include border-radius-top(0);
		}

		@media screen and (max-width: 1200px) {
  			top: -17px;
		}

		@media screen and (max-width: 992px) {
  			top: -7px;
		}
	}

	.lsx-full-width-header {
		margin-top: -15px;
	}

	.lsx-full-width-footer {
		margin-bottom: -120px;
		padding: 40px 9999rem;


		@media screen and (max-width: 992px) {
  			margin-bottom: -110px;
  			padding: 30px 9999rem;
		}

		@media screen and (max-width: 768px) {
  			margin-bottom: -80px;
  			padding: 20px 9999rem;
		}
	}

	.edit-link {
		display: none !important;
	}
}

.front-page {
	#home-widgets {
		aside.widget {
			margin-bottom: 50px;

			@media screen and (max-width: 768px) {
				padding-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.page-banner {
	margin-top: 120px;
	background: {
		repeat: no-repeat;
		size: cover !important;
		position: 50%;
		color: $black;
	}
	width: 100%;
	padding: 240px 0;

	.home & {
		margin-top: 0;
		background-position: 50% 50% !important;
	}

	header.page-header {
		h1.page-title {
			width: 100%;
			max-width: 1140px;
			color: $white;
			text-align: center;
			font-size: 52px;
			padding: 0 10px 0;
			margin: 0 auto;
			border-bottom: none;
			@include title-shadow;

			@media screen and (max-width: 768px) {
				font-size: 42px;
			}

			@media screen and (max-width: 768px) {
				font-size: 24px;
			}
		}
	}

	@media screen and (max-width: 992px) {
		margin-top: 70px;
		padding: 140px 0;
	}

	@media screen and (max-width: 768px) {
		margin-top: 0;
		padding: 100px 0;
	}

	@media screen and (max-width: 430px) {
		padding: 80px 0;
	}
}


// 404 Template

.error404 {
	.wrap {
		margin-top: 205px;

		#primary {
			width: 100%;

			.error-404 {
				text-align: center;

				.page-title {
					border: none;
					padding: 0;
					margin-bottom: 18px;
					font-size: 60px;
					color: #999;
				}
			}
		}
	}
}


// Portfolio

.page-template-template-portfolio, .post-type-archive-jetpack-portfolio {
	.page-title {
		margin-bottom: 40px;
	} 
	
	#filterNav { 
		list-style: none; 
		padding: 0;
		margin-bottom: 20px;

		li {
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;

			a {
				display: block;
				background: $grey;
				color: $white;
				padding: 3px 15px;
				border: none !important;
				@include border-radius(3px);

				&:hover,
				&.selected {
					background: $black;
				}
			}
		}
	}
}

.lsx-portfolio-wrapper {
	text-align: center;
	margin-left: -7px;
	margin-right: -7px;
	
	#infinite-handle, .infinite-loader {
 		bottom: 0;
    	position: absolute;	
	}

	.lsx-portfolio {
		width: 100% !important;

		.jetpack-portfolio {
			width: 33.3%;
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 20px;
			overflow: hidden;
			display: block;
    		float: left;
    		height: auto !important;	

			.portfolio-content-wrapper {
				position: relative;
				background: $blacker;

				.portfolio-thumbnail {
					overflow: hidden;
					min-height: 246px; 

					a {
						border: none !important;
					}
					
					

					img {
						@include transition(all .4s ease-in-out);
						width: 100%;
						
						max-height:246px;
					}
				}

				.portfolio-title {
					opacity: .8;
					font: {
						size: 18px;
						weight: bold;
					}
					color: $white;
					text-align: center;
					margin-bottom: 10px;
					display: block;
					position: absolute;
					top: 50%;
					margin: -18px auto 0 !important;
					letter-spacing: .7px;
					padding: 0 15px;
					width: 100%;
					border: none !important;
					@include transition(all .4s ease-in-out);
				}

				&.active {
					.portfolio-title {
						opacity: 1;
					}

					img {
						opacity: .08;
						-webkit-transform: scale(1.08);
						-moz-transform: scale(1.08);
						-o-transform: scale(1.08);
						transform: scale(1.08);
					}
				}
			}

			@media screen and (max-width: 992px) {
				width: 50%;
				margin-bottom: 20px;
			}

			@media screen and (max-width: 600px) {
				width: 100%;
			}
		}
	}
}

.single-jetpack-portfolio {
	#primary {
		float: left;
	}

	#secondary {
		float: right;
	}

	.jetpack-portfolio {
		header.page-header {
			display: none;
			margin-bottom: 10px;

			@media print {
				display: block;
			}
		}

		.gallery {
			dl.gallery-item {
				width: 100% !important;

				dt,
				dl {
					border: none !important;
				}

				img {
					border: 0 !important; 
					width: 100% !important;
			  		border: 1px solid #ddd !important;
			  		@include border-radius(3px);
				}
			}
		}
	}
}
 
/* ==========================================================================
	 Sidebar
	 ========================================================================== */

#secondary, 
#tertiary {
	@media screen and (max-width: 768px) {
		margin-top: 50px;
	}

	.widget {
		margin-bottom: 30px;

		h3 {
			color: $black;
		}
		.widget-title {
			font-size: 24px;

			@media screen and (max-width: 992px) {
				font-size: 30px;
			}
		}

		&.gform_widget {
			ul {
				padding-left: 0;
			}
		}

		select {
			max-width: 100%;
			width: auto;
		}

		button {
			margin-bottom: 15px;
		}

		&.widget_rss {
			ul {
				li {
					margin-bottom: 15px;
				}
			}
		}

		&.widget_tag_cloud {
			.tagcloud a {
				display: inline-block;
				background: $grey;
				color: $white;
				line-height: 2;
				font-size: 14px !important;
				padding: 2px 10px;
				margin: 2px 0px;
				border: none !important;
				@include transition(all .1s ease-in-out);
				@include border-radius(3px);
			
				&:hover {
					background: $primary;
				}
			}
		}

		&.widget_calendar {
			#wp-calendar {
				caption {
					font-weight: bold;
					margin-bottom: 5px;
					font-size: 18px;
				}

				tfoot {
					td {
						&#prev {
							border-right: 0 !important;
						}

						&.pad {
							border: none;
						}
					}
				}
			}
		}    
	}

	#related-rooms {
		@include lsx-full-width(#f1f1f1, inherit);
		margin-bottom: -60px;

		.room-content {
			& > p {
				display: none;
			}
		}
	}
}


/* ==========================================================================
	 Posts
	 ========================================================================== */

article {
	margin-bottom: 60px;

	@media screen and (max-width: 992px) {
		margin-bottom: 50px;
	}

	@media screen and (max-width: 768px) {
		margin-bottom: 40px;
	}
	
	body &.column-1 {
		width: 100%;
		max-width: 100%;
		margin-left:auto;
		margin-right:auto;
	}
	
	body &.column-2 {
		width: 50% !important;
	}
	
	body &.column-3 {
		width: 33.3% !important;
	}
	
	body &.column-4 {
		width: 25% !important;
	}
	
	body &.column-5 {
		width: 20% !important;
	}
	
	body &.column-6 {
		width: 16.666% !important;
	}	

	.single & {
		margin-bottom: 0;
	}

	&:nth-of-type(1) {
		header.entry-header {
			h1.entry-title {
				margin-top: 0;
			}
		}
	}

	header.entry-header {
		h1.entry-title {
			position: relative;
			line-height: 150%;

			.label {
				display: inline-block;
				padding: 8px 12px;
				margin-left: 5px;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: .3px;
				font-family: 'Open Sans', sans-serif;
				vertical-align: middle;
				@include border-radius(3px);

				&.label-sticky {
					position: absolute;
					top: 0;
					left: 40px;
					background: rgba(0, 0, 0, .7);
					padding: 10px 15px;
					margin: 0;
					font: {
						size: 18px;
						weight: 600;
					}

					&.no-thumb {
						position: relative;
						font-size: 16px;
						vertical-align: middle;
						margin-top: -5px;
						margin-left: 10px;
						left: auto;
					}
				}
			}
		}

		.entry-image {
			.thumbnail {
				margin-right: 0;
				margin-bottom: 30px;

				&.pull-left,
				&.pull-right {
					@media screen and (max-width: 768px) {
						float: none !important;
					}
				}

				&.pull-left {
					margin-right: 20px;

					@media screen and (max-width: 768px) {
						margin-right: 0;
					}
				}

				&.pull-right {
					margin-left: 20px;

					@media screen and (max-width: 768px) {
						margin-left: 0;
					}
				}
			}
		}
	}

	div.entry-summary {
		margin-top: 15px;
	}

	.post-meta,
	.post-format {
		color: $dark-grey;

		& > div {
			float: left;
			margin-right: 20px;

			&.clearfix {
				float: none;
				margin: 0;
			}
		}

		.genericon {
			vertical-align: middle;
		}
	}

	.clearfix {
		float: none;
		margin: 0;
	}

	.post-format {
		float: left;
		margin-right: 20px;

		.genericon {
			margin-right: 5px;
		}
	}

	&.format-video {
		.post-format {
			span:before {
				content: "\f104";
			}
		}
	}

	&.format-image {
		.post-format {
			span:before {
				content: "\f102";
			}
		}
	}

	&.format-gallery {
		.post-format {
			span:before {
				content: "\f103";
			}
		}
	}

	.entry-content {
		.embed-youtube {
			iframe {
				height: auto;
				min-height: 320px;
			}
		}
	}

	footer.entry-meta {
		span.comments-link {
			margin-right: 10px;
		}
	}

	footer.footer-meta {
		border-top: 3px solid #ddd;
		padding: 20px 0;
	}
}

#respond {
	.comment-notes {
		margin-bottom: 15px;
	}

	#submit {
		@include button-variant($white, $primary, rgba(0, 0, 0, 0));
		padding: 4px 20px;
		@include border-radius(3px);
	}

	.comment-subscription-form {
		margin: 0;

		&:hover {
			cursor: pointer;
		}
		
		label {
			font: {
				size: 16px;
				weight: 500;
			}
		}
	}
}

// Jetpack Sharing and Related Posts

.sharedaddy,
.jp-relatedposts {
	@media print {
		display: none !important;
	}

	h3 {
		font: {
			family: 'Raleway', 'Open Sans', sans-serif !important;
			size: 28px !important;
			weight: 600 !important;
		}
		margin: 20px 0 !important;

		&:before,
		em:before {
			display: none !important;
		}
	}

	.jp-relatedposts-post {
		font-family: 'Open Sans', sans-serif;

		a {
			border: none !important;
		}

		img {
			margin-bottom: 10px;
		}

		h4.jp-relatedposts-post-title {
			margin-bottom: 10px !important;
			line-height: 200% !important;

			a {
				font: {
					family: 'Raleway', 'Open Sans', sans-serif !important;
					size: 18px !important;
					weight: 600 !important;
				}
			}
		}

		p {
			line-height: 200% !important;
		}
	}
}

.sharedaddy {
	margin: 40px 0;

	.sd-social-icon-text {
		.sd-content {
			ul {
				li {
					a,
					a.sd-button {
						background: #555;
						border: 2px solid #555 !important;
						font: {
							size: 14px !important;
							weight: bold !important;
						}
						padding: 6px 18px 6px 16px !important;
						box-shadow: none !important;
						color: $white !important;
						@include transition(all .1s ease-in-out);

						&:hover,
						&:focus {
							background: none !important;
							border: 2px solid !important;
							color: $white !important;
						}
					}

					&.share-print a,
					&.share-email a {
						background: #555;

						&:hover,
						&:focus {
							color: #555 !important;
						}
					}

					&.share-facebook a {
						background: #3b5998;
						border-color: #3b5998 !important;

						&:hover,
						&:focus {
							color: #3b5998 !important;
						}
					}

					&.share-linkedin a {
						background: #007bb6;
						border-color: #007bb6 !important;

						&:hover,
						&:focus {
							color: #007bb6 !important;
						}
					}

					&.share-reddit a {
						background: #5f99cf;
						border-color: #5f99cf !important;

						&:hover,
						&:focus {
							color: #5f99cf !important;
						}
					}

					&.share-stumbleupon a {
						background: #eb4924;
						border-color: #eb4924 !important;

						&:hover,
						&:focus {
							color: #eb4924 !important;
						}
					}

					&.share-twitter a {
						background: #00aced;
						border-color: #00aced !important;

						&:hover,
						&:focus {
							color: #00aced !important;
						}
					}

					&.share-google-plus-1 a {
						background: #dd4b39;
						border-color: #dd4b39 !important;

						&:hover,
						&:focus {
							color: #dd4b39 !important;
						}
					}

					&.share-tumblr a {
						background: #35465c;
						border-color: #35465c !important;

						&:hover,
						&:focus {
							color: #35465c !important;
						}
					}

					&.share-pinterest a {
						background: #cb2027;
						border-color: #cb2027 !important;

						&:hover,
						&:focus {
							color: #cb2027 !important;
						}
					}

					&.share-pocket a {
						background: #d3505a;
						border-color: #d3505a !important;

						&:hover,
						&:focus {
							color: #d3505a !important;
						}
					}
				}
			}
		}
	}		 
}

.jp-relatedposts {
	clear: both;
}

.read-more {
	margin-right: 10px;
}

#infinite-handle {
	margin-top: 60px;

	@media screen and (max-width: 768px) {
		margin-top: 20px;
	}

	span {
		background: $primary !important;
		font: {
			size: 15px !important;
			weight: 600;
		}
		padding: 9px 17px !important;
		text-transform: uppercase;
		@include border-radius(3px);

		@media screen and (max-width: 800px) {
			text-align: center;
		}

		&:hover {
			background: $black !important;
		}
	}
}


/* ==========================================================================
	 Footer
	 ========================================================================== */

// Footer Subscribe

.footer-subscribe {
	background: $primary;
	padding: 55px 0 60px;

	h2 {
		text-align: center;
		font-weight: normal;
		color: $light-grey;
		margin: {
			top: 0;
			bottom: 45px;
		}
	}

	.btn {
		@include lsx-button;
		@include lsx-border-button($white, $primary);
	}
}

// Footer Widgets

#footer-widgets {
	background: $black;

	.footer-widgets-title {
		display: none;
	}

	.widget {
		margin: 70px 0 90px;
		color: #ccc;

		@media screen and (max-width: 768px) {
			margin: 50px 0;
		}

		h3.widget-title {
			color: $light-grey;
		}

		a {
			color: $light-grey;

			&:hover {
				color: $grey;
			}
		}

		.btn,
		button {
			&:hover {
				color: $white;
			}
		}

		&.widget_tag_cloud {
			.tagcloud a {
				display: inline-block;
				background: $grey;
				color: $white;
				line-height: 2;
				font-size: 14px !important;
				padding: 2px 10px;
				margin: 2px 0px;
				border: none !important;
				@include transition(all .1s ease-in-out);
				@include border-radius(3px);
			
				&:hover {
					background: $primary;
					text-decoration: none;
				}
			}
		}
	}
}

// Footer

footer.content-info {
	background: $blacker;
	text-align: center;

	.credit {
		color: $white;
		margin: 20px 0;
		font-size: 15px;

		@media screen and (max-width: 992px) {
			font-size: 17px;
		}

		&.credit-float {
			float: left;
		}
	}
}


/* ==========================================================================
	 Gravity Forms
	 ========================================================================== */


.gform_wrapper {
	ul {
		@extend .list-unstyled;
	}

	li {
		@extend .form-group;
	}

	form {
		margin-bottom: 0;
	}



	.gfield_required {
		padding-left: 1px;
		color: $state-danger-text;
	}
}
 
.ginput_container {
	input,
	select,
	textarea {
		@extend .form-control;
		@include lsx-form-field;
	}

	textarea {
		height: auto;
	}
}
 
.gform_button,
.gform_page_footer input[type="button"] {
	@include lsx-button;
}
 
.gform_wrapper .gfield_error {
 
		.gfield_label {
			color: $state-danger-text;
		}
 
		input,
		select,
		textarea {
			border-color: $alert-danger-border;
			background-color: $alert-danger-bg;
			color: $alert-danger-text;
			@include form-control-focus( $alert-danger-text );
		}
}
 
.validation_error {
	@extend .alert;
	@extend .alert-danger;
}
 
#gforms_confirmation_message {
	@extend .alert;
	@extend .alert-success;
}

select {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: $white;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* ==========================================================================
	 WordPress Generated Classes
	 See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
	 ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img { float: none !important; }

.bypostauthor,
.wp-caption,
.wp-caption-text,
.gallery-caption,
.sticky
 {
	font-style: inherit;
}

// Medium nav break backup

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}