/*
	WP Job Manager Styles for LSX
*/

@import "lsx/_mixins.scss";

body.jobs,
body.resumes,
body.candidate-dashboard,
body.listings-stats-dashboard {
	&.page.top-menu-fixed,
	&.single.top-menu-fixed {
		.wrap {
			#primary.col-sm-12 {
				max-width: 100%;
				float: left;
			}
		}
	}
}

body.jobs,
body.single-job_listing,
body.post-a-job,
body.resumes,
body.single-resume,
body.candidate-dashboard,
body.listings-stats-dashboard,
body.submit-resume {
	&.page.top-menu-fixed,
	&.single.top-menu-fixed {
		.wrap {
			margin-top: 80px;
		}
	}

	input[type="text"],
	select,
	textarea {
		@include lsx-form-field;
	}

	input[type="button"],
	input[type="submit"] {
		@include lsx-button;
		background: $primary;
		line-height: 1.42857143;
	    padding: 9.5px 26px;

		&:hover,
		&:focus,
		&:active {
			background: $primary-darker;
		}
	}
}

body.single-job_listing,
body.single-resume {
	article {
		header.entry-header {
			text-align: left;

			.format-link,
			.entry-meta {
				display: none;
			}

			.thumbnail {
				float: left;
				margin-right: 30px !important;

				img {
					min-width: auto !important;
					max-width: 150px !important;
					margin: {
						top: auto !important;
						left: auto !important;
						right: auto !important;
					}
				}
			}
		}

		.company {
			@include lsx-clear-div;
		}

		.company_logo {
			position: relative;
			height: auto;
			left: 0;
		}
	}
}

.job_listings,
.resumes {
	border: 1px solid #ddd;
	@include border-radius(5px);

	.job_filters,
	.resume_filters {
		background: $primary;
		border-bottom: 1px solid #ddd;
		@include border-radius-top(5px);
	}

	ul.job_listings,
	ul.resumes {
		border: none;

		li.job_listing,
		li.resume {
			border-bottom: 1px solid #ddd;

			&:last-child {
				border-bottom: none;
				@include border-radius-bottom(5px);
			}

			.company_logo {
				height: auto !important;
			}

			.location,
			.candidate-location {
				&:before {
					content: '\f417';
					display: inline-block;
				    float: left;
				    font: {
				    	family: genericons;
				    	size: 20px;
				    }
				    margin: {
				    	top: 1px;
				    	right: 3px;
				    }
				}
			}
		}
	}
}

.single-resume-content {
	.resume-manager-education,
	.resume-manager-experience {
		h3 {
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
}

.job_listing_packages_title {
	@include lsx-clear-div;

	h2 {
		font-size: 24px;
		margin-top: 7px !important;
	}

	.button {
		margin: {
			top: 0 !important;
			bottom: 0 !important;
		}
	}
}

.job-manager-form fieldset .wp-editor-container {
	border: 3px solid #ddd ;
}