.wp-block-yoast-faq-block .schema-faq-section {
    border: 1px solid #d1dfee;
    margin-bottom: 20px;
    background-color: #fdfeff;
}
.wp-block-yoast-faq-block .schema-faq-question {
font-size: 14px;
font-weight: bold;
margin: 0;
padding: 17px 56px 17px 12px;
line-height: 1.4;
cursor: pointer;
position: relative;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
display: block;
}
.wp-block-yoast-faq-block .schema-faq-question.faq-q-open {
border-bottom: 1px solid #d1dfee;
}
.wp-block-yoast-faq-block .schema-faq-question:after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0;
    width: 56px;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: bold;
    color: #000;
    font-size: 20px;
}
.wp-block-yoast-faq-block .schema-faq-question.faq-q-open:after {
    content: "-"; 
}
.wp-block-yoast-faq-block p.schema-faq-answer {
margin: 0;
padding: 12px;
background-color:#fff;
font-size: 16px!important;
line-height: 1.4!important;
  border-bottom: 1px solid #dedee0;
  display: none;
}