*,
*:focus,
*:active:focus { outline: none !important; }

html { overflow-x: hidden; }

body { direction: ltr; }

img { @include img-responsive(inline-block); }

.form-control {
	@extend %lsx-form-field;
}
