@import '../scss/global/variables';
@import '../scss/global/mixins';
@import '../scss/global/placeholders';

// Placeholders and Mixins

%button {
	background-color: #418ad0;
    box-shadow: 2px 2px 0 0 #27639e;
    color: #fff;
    border: 0 none;
    border-radius: 3px;
    padding: 12px 20px;
    font-size: 14px;
    letter-spacing: 0.6px;
    line-height: 1.25;
    text-transform: uppercase;
}
%button-hover {
	background-color: #367dc0;
}

%bootstrap-form-control {
	display: block;
	width: 100%;
	height: 50px;
	// padding: 6px 12px;
	// font-size: 15px;
	// line-height: 1.6;
	color: #4a4a4a;
	background-color: #fff;
	background-image: none;
	//border: 1px solid #DDD;
	border-radius: 2px;
	// box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	// transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

	// lsx-form-control

	border-width: 2px;
	box-shadow: none;
	font-size: 18px;
	line-height: 1.33;
	padding: 10px 20px;
	transition: all 150ms ease;

	&:focus {
		border-color: #418AD0;
		// outline: 0;
		// box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 138, 208, 0.6);
	}
}

%small-form-field {
	height: 42px;
	padding: 10px 12px;
}

%small-form-select {
	height: 42px;
	padding: 0 12px;
}

%sensei-clearfix {
	clear: both;
	content: '';
	display: table;
}

@mixin small-button() {
	&,
	&:active,
	&:visited {
		height: 40px;
		line-height: 20px;
		padding: 10px 18px;
	}
}

// Archive page
.post-type-archive-course {
	#primary {
		#main {
			> h1 {
				display: none;
			}
		}
	}
}

// Structure

article.page {
	.page-template-default:not(.has-sidebar).sensei & {
		width: 100% !important;
	}
}

.site-main {
	.archive:not(.has-sidebar).sensei & { width: 100% !important; }
}

.sensei {
	.fix {
		&:after { @extend %sensei-clearfix; }
	}

	article.post + article.post { margin-top: 4.25rem; }

	.post-entries { margin-top: 4.25rem; }

	.thumbnail {
		border: 0;
		border-radius: 0;
		padding: 0;
	}
}

.lesson-content {
	.entry {
		&:after { @extend %sensei-clearfix; }
	}
}

.sensei-share-your-grade {
	&.message { margin-top: 4.25rem; }
	&.buttons { padding-left: 0; }
}

#main {
	.course,
	.course-container {
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	.course-container {
		.course {
			padding: 0;
			margin: 0;
			margin-bottom: 30px;
			section.course-content {
				background: white;
				border: 1px solid #E9E9E9;
				padding: 10px;
				.entry {
					@include media('>tablet') {
						display: flex;
					}
					.course-thumbnail {
						@include media('>tablet') {
							margin-right: $lsx-gap;
							width: 30%;
							min-width: 225px;
						}
						@include media('>desktop-wide') {
							min-width: 378px;
						}
						flex-grow: 1;
						a {
							img {
								width: auto;
								height: 100%;
								object-fit: cover;
							}
						}
					}
					.course-body {
						min-width: 65%;
						flex-grow: 2;
						@include media('>desktop') {
							padding-right: 2.4em;
						}
						.course-title {
							display: block;
							font-family: $font-family-sans-serif;
						}
						.sensei-course-meta,
						.course-author {
							margin: 10px 0px 0px 0;
							display: block;
							a {
								color: black;
							}
						}
						.sensei-course-meta {
							+ .sensei-course-participants,
							+ .course-details-info {
								margin-top: 10px;
							}
						}
						.course-price {
							color: #77A464;
							font-size: 22px;
							display: block;
							font-style: initial;
							font-weight: 700;
							margin: 5px 0;
						}
						.entry-actions {
							margin-bottom: 0;
						}
						.course-details-info {
							display: flex;
							flex-direction: column;
							.course-excerpt {
								order: 1;
							}
							.entry-actions {
								order: 2;
								&:nth-of-type(2) {
									margin-top: 2.4rem;
									display: flex;
									.button.view-results {
										margin-left: 0;
									}
								}
								@include media('>desktop-wide') {
									width: 50%;
									&:nth-of-type(1) {
										width: 25%;
									}
									&:nth-of-type(2) {
										margin-top: 0;
										display: initial;
										width: 49%;
										margin-left: 23%;
										position: relative;
										top: -4rem;
										margin-bottom: -4rem;
									}
								}
							}
							.meter {
								order: 3;
							}
						}
					}
				}
			}
		}
	}
	.course {
		.status {
			&.in-progress {
				background: #B7B6B6;
			}
		}
		.sensei-course-participants {
			margin-bottom: 10px;
		}
		.course-excerpt {
			margin-bottom: 10px;
			margin-top: 0;
		}
		.meter {
			border: 1px solid #DDDDDD;
			background: white;
			margin-bottom: 0;
			&.orange, &.red {
				>span {
					background: #ED3833;
				}
			}
			+ a {
				img {
					display: none;
				}
			}
		}
	}
}

.single-course {
	#primary {
		#main {
			.course {
				//@include media('<tablet') {
					display: flex;
					flex-direction: column;
				//}
				>p:first-child {
					@include media('>desktop') {
						width: 20%;
						float: right;
					}
					@include media('<tablet') {
						.button {
							width: 100%;
						}
					}
					display: flex;
					justify-content: flex-end;
					.button.send-message-button {

					}
				}

				> header:nth-of-type(1) {
					display: none;
				}
				.progress.course-completion-rate {
					font-size: 30px;
					font-family: $font-family-serif;
					@include media('<desktop') {
						order: -1;
					}
				}
				.sensei-course-participants {
					@include media('<desktop') {
						order: -1;
					}
				}
				.meter {
					margin-bottom: 2.4rem;
					@include media('<desktop') {
						order: -1;
					}
				}
				.course-meta {
					+ p {
						order: -1;
						@include media('>desktop') {
							align-self: flex-end;
							margin-bottom: -4.24rem;
						}
					}
				}
				.modules-title {
					margin-bottom: $lsx-gap;
				}
				.module {
					header {
						background-color: white;
						h2 {
							color: #337ab7;
						}
					}
					.module-description {
						background: #E7E6E6;
						font-style: initial;
					}
					.module-lessons {
						header {
							background: #F2F2F2;
							* {
								font-family: $font-family-sans-serif;
							}
						}
						ul {
							li {
								a {
									background: #ECE9E9;
									&:hover {
										background: white;
									}
								}
							}
						}
					}
				}
				&.user-status-completed {
					.course-meta {
						.sensei-results-links {
							.view-results {
								@include lsx-button-scaffolding();
								@include lsx-button-colour();
								@include small-button();
								margin-left: 2.4rem;
								&:hover {
									@extend %button-hover;
								}
							}
							@include media('<tablet') {
								display: flex;
								width: 100%;
								padding-top: 2.4rem;
								justify-content: space-between;
								a {
									width: 48%;
									margin-left: 0 !important;
									text-align: center;
								}
							}
						}
					}
				}
			}
			#post-entries {
				display: none;
			}
		}
	}
	&:not(.logged-in) {
		#primary {
			#main {
				.course {
					.modules-title {
						display: none;
					}
				}
			}
		}
	}
}

.single-lesson {
	#primary {
		#main {
			.lesson {
				display: flex;
				flex-direction: column;
				* {
					order: 1;
				}
				.lesson-title {
					display: none;
				}
				.sensei-message {
					+ p {
						order: 2;
						align-self: flex-end;
						margin-bottom: -4.25rem;
					}
				}
				footer {
					order: 2;
					width: 35%;
					display: flex;
					justify-content: space-between;
					.quiz-submit.complete {
						background: nth($green, 1);
						box-shadow: 2px 2px 0 0 #446B0C;
						margin-top: 0;
						&:hover {
							background: #446B0C;
						}
					}
				}
				.sensei-share-your-grade {
					order: 3;
				}
			}
		}
	}
}

// Buttons and fields

.sensei-ordering {
	select {
		@extend %bootstrap-form-control;
		@extend %lsx-form-field;
		@extend %small-form-select;
		font-size: 15px;
		height: 52px;
		min-width: 180px;
		border: 2px solid #DADDDF;
	}
}

.sensei {
	form {
		.form-row {
			input.input-text,
			textarea {
				@extend %bootstrap-form-control;
				@extend %lsx-form-field;
			}

			input.input-text { @extend %small-form-field; }

			textarea { height: 80px; }
		}
	}
}

.course-container,
.course,
.lesson,
.quiz {
	a.button,
	a.comment-reply-link,
	#commentform #submit,
	.submit,
	input[type=submit],
	input.button,
	button.button {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
		@include small-button();
	}
	p {
		.button.send-message-button:not(.btn) {
			@include lsx-bordered-button();
			@include small-button();
		}
	}

}

.sensei
.course-container,
.course,
.lesson,
.quiz,
.learner-info {
	p.sensei-message,
	div.sensei-message {
		line-height: 36px;
		overflow: hidden;

		a.next-lesson {
			@include lsx-button-scaffolding();
			@include lsx-button-colour();
			@include small-button();
		}
	}
}

.sensei-course-filters {
	margin-bottom: 2em;

	li {
		a {
			border: 0;
			font-size: 18px;
			padding: 12px 22px;
		}
	}
}

#sensei-user-courses {
	.my-messages-link-container {
		@include media('>desktop') {
			width: 20%;
			float: right;
			display: flex;
			justify-content: flex-end;
		}
		.my-messages-link {
			border: 2px solid #418AD0;
			border-radius: 3px;
			padding: 10px 18px;
			text-transform: uppercase;
			font-weight: 600;
			&:hover {
				color: white;
				background: #418AD0;
			}
		}
	}
	#user-course-status-toggle {
		width: 80%;
	}
	.course-container {
		.course-content {
			.course-author {
				display: none;
			}
		}
	}
}

#user-course-status-toggle {
	border-bottom: 0;
	margin-bottom: 2em;

	a {
		border: none;
		font-size: 18px;
		font-weight: normal;
		padding: 12px 22px;

		&.active { border-bottom: none; }
	}
}

.entry-actions {
	margin-bottom: 2.4rem;

	& > form {
		display: inline;
		margin-left: 1em;
		&:first-child { margin-left: 0; }
	}
}

.sensei-results-links {
	display: inline;
	overflow: hidden;

	.entry-actions & {
		margin-bottom: 0;
		a.view-results { float: none; }
	}
}

// Share

.fb_iframe_widget {
	span { vertical-align: top !important; }
}

// Login screen test

#my-courses {
	background: none;
	border: 0;
	color: inherit;
	font-size: inherit;
	padding: 0;
	#customer_login {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}

	form#loginform, form.register {
		input[type="text"],
		input[type="password"],
		input[type="email"] {
			display: block;
				width: 100%;
				height: $input-height-base;
				padding: $padding-base-vertical $padding-base-horizontal;
				font-size: $font-size-base;
				line-height: $line-height-base;
				color: $input-color;
				background-color: $input-bg;
				background-image: none;
				border: 2px solid $input-border;
				border-radius: $input-border-radius;
				@include input-size('.input-lg', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $input-border-radius-large);
				@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  				@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
				@include form-control-focus;
				@include placeholder;
		}

		input[type="submit"] {
			@include lsx-button-scaffolding();
			@include lsx-button-colour();
			@include small-button();

			& + a { margin-left: 15px; }
		}

		input[type="checkbox"] { margin-right: 10px; }
	}
}
