.woocommerce-page {
	#reviews:not(.woocommerce-Reviews) {
		#subscribe_to_replies { position: relative; }

		.product-rating {
			.product-rating-summary,
			.product-rating-details {
				display: block;
				width: 100%;
			}

			.product-rating-summary { text-align: left; }

			.product-rating-details {
				table {
					td {
						padding: 0.202em 0.5407911001em;

						&.rating-count {
							a { text-decoration: none; }
						}
					}
				}
			}
		}

		.form-contribution {
			border: none;
			padding: 0;

			#review_rating_field {
				fieldset {
					float: left;

					label {
						display: inline-block;
						float: right;

						&.checkbox:before { font-size: 0.875em; }
					}
				}

				.star-label {
					float: none;
					line-height: 42px;
					margin-left: 0.6180469716em;
				}
			}

			.form-row { clear: both; }
		}

		.contribution-karma { margin-left: 0; }

		#comments {
			margin-top: 4.25rem;

			ol.commentlist {
				padding-left: 0;

				li {
					padding-top: 0;

					img.avatar {
						width: 2.617924em;
						height: auto;
						margin: 0;
						float: right !important;
					}

					.description { padding-bottom: 0; }

					.comment-text {
						border-radius: 0;
						margin-left: 0;

						img,
						iframe {
							margin-bottom: 1.618em;
						}
					}

					h3.contribution-title {
						margin: 0;
						font-size: 1em;
					}

					.contribution-actions {
						a {
							&.done { opacity: 0.5; }
						}
					}

					ul.children {
						li { margin-bottom: 1.618em; }
					}
				}
			}

			ul.children + .form-contribution_comment {
				border-top: 0;
				padding-top: 0;
			}
		}

		.contribution-flag-form {
			border-radius: 0;
			padding: 1.618em;
			margin-bottom: 1.618em;
		}

		.contributions-filter {
			@include media ('<phone') { float: none; }

			p#comments_filter_field {
				select {
					margin-left: 0;

					@include media ('<phone') { width: 100%; }
				}
			}
		}
	}

	.form-photo {
		#photo_attachment_file {
			color: inherit;
			margin: 1em 0;
		}
	}

	.contribution-type-selector {
		> a {
			display: inline-block;
			margin-right: 1em;
			padding: 0.5407911001em 0;
		}
	}

	.star-rating-selector {
		fieldset {
			float: none;
			clear: both;
		}

		> label:first-child { display: block !important; }
	}

	.star-rating-selector:not(:checked) {
		label.checkbox { float: none; }
	}

	#wc-product-reviews-pro-modal {
		#customer_login {
			.col-1,
			.col-2 {
				width: 100%;
			}
		}
	}
}

#tiptip_content,
.chart-tooltip {
	font-size: 0.875em;
	padding: 0.6180469716em 1em;
}

#tiptip_holder.tip_bottom {
	#tiptip_arrow_inner { margin-top: -6px; }
}
