.woocommerce,
.woocommerce-page {
	.coupon-container {
		box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
		margin: 0;

		&.medium {
			line-height: inherit;
			padding: 0.6180469716em;
		}
	}

	.generated_coupon_summary { margin: 0; }

	.coupon-content {
		&.small { padding: 0.6180469716em 1.41575em; }

		.coupon-expire,
		.discount-info {
			font-family: inherit;
		}
	}

	#coupons_list {
		border-radius: 3px;
		margin-bottom: 2.4rem;
		padding: 1.2rem;

		h3 { margin-bottom: 1.2rem; }
	}
}
