.woocommerce {
	div.product {
		form.cart {
			.variations {
				td.label {
					padding: 10px 10px 10px 0;

					label {
						font-weight: bold;
					}
				}

				td.value {
					padding: 10px;

					.swatch-label:empty {
						display: none;
					}
				}
			}
		}
	}
}

.mnm_form.layout_grid {
	ul.products {
		li.product {
			flex-direction: row;
			flex-wrap: wrap;
			max-width: 300px;
			margin: 0 auto 4rem;
			.product-thumbnail {
				min-width: 100%;
				width: 100%;
				img {
					width: 100%;
				}
			}
			.product-details {
				flex-grow: 4;
				margin: 0;
				align-self: center;
				text-align: left;
				@include media("<tablet") {
					text-align: center;
				}
				.variation {
					display: flex;
					align-items: center;
					justify-content: left;
					margin: 0;
					font-weight: bold;
					text-align: left;
					@include media("<tablet") {
						justify-content: center;
					}
					dd {
						margin-left: 8px;
					}
				}
			}
			.product-quantity {
				margin: 0;
				align-self: center;
			}
		}
	}
}
