.author {
	&.archive {
		.content {
			#primary {
				margin-top: 4.25rem;
				.site-main {
					width: 100%;
				}
			}
		}
	}
}
.archive-author-data {
	display: block;
	margin-top: $lsx-medium-gap;

	.archive-author-avatar {
		padding-top: 8px;
		display: block;
		//height: 20rem;
		overflow: hidden;
		margin: 0 auto ($lsx-large-gap / 2);
		position: relative;
		//width: 20rem;
	}

	.archive-author-bio {
		display: block;
		margin-bottom: $lsx-large-gap / 2;
	}

	.archive-author-title {
		margin: 5px 0 25px;
	}

	& > .archive-author-posts {
		margin: ($lsx-large-gap / 2) 0 0;
	}

	.archive-author-social-links {
		margin-bottom: $lsx-gap;

		.archive-author-social-link {
			display: inline-block;
			padding: 0 8px;
			transition: color 300ms ease;

			.fa {
				&:before { font-size: 22px; }
			}
		}
	}
}
a.back-to-blog {
	text-transform: uppercase;
	&:before {
		content: '\f177';
		display: inline-block;
		font-family: 'FontAwesome';
		font-size: inherit;
		margin-right: 5px;
		text-rendering: auto;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
