.blog,
.archive,
.search-results {
	&:not(.has-sidebar) {
		.site-main {
			@include media ('>=tablet') {
				margin: 0 auto;
				width: 83.33333%;
			}

			@include media ('>=desktop') { width: 66.66667%; }
		}
	}
}

article.post,
article.page,
article.lsx-slot {
	.blog &,
	.archive &,
	.search-results &,
	.lsx-related-posts & {
		& + article.post,
		& + article.page,
		& + article.lsx-slot { margin-top: $lsx-large-gap; }

		.entry-layout {
			background-color: #FFF;
			padding-bottom: 15px;

			& > .entry-image {
				@include media('>=phone') { display: none; }
			}
		}

		.entry-header { position: relative; }

		.thumbnail {
			border: 0 none;
			border-radius: 0;
			display: block;
			margin-bottom: 0;
			overflow: hidden;
			padding: 0;
			position: relative;

			& > .attachment-responsive {
				border: 0;
				width: 100%;

				&.lazyload, &.lazyloading { width: auto; }
			}
		}

		.entry-meta {
			padding: 42.5px 10rem 15px;

			.post-meta {
				display: block;
				font-size: 13px;
				position: relative;
				text-align: center;
			}

			.post-meta-avatar {
				border: 2px solid #FFF;
				border-radius: 50%;
				height: 75px;
				left: 50%;
				overflow: hidden;
				position: absolute;
				top: -80px;
				transform: translateX(-50%);
				transition: border 300ms ease;
				width: 75px;
			}
		}

		.entry-title {
			font-size: 30px;
			padding: 0 10rem;
			text-align: center;

			& .fa { display: none; }

			& .label-sticky {
				border-radius: 0;
				color: #FFF;
				font-family: $font-family-base;
				font-size: $font-size-base;
				font-weight: 400;
				padding: 1rem;
				position: absolute;
				right: 1rem;
				top: 1rem;
				box-shadow: 0 10px 6px -6px rgba(0, 0, 0, .15);
			}
		}

		.entry-summary { padding: 0 10rem; }

		.entry-content { padding: 0 10rem; }

		.post-tags-wrapper {
			padding: 0 10rem;

			& > * + * {
				&:before {
					@include fa-icon();

					content: $fa-var-circle;
					display: inline-block;
					font-size: 5px;
					margin: 0 10px;
					vertical-align: middle;
				}
			}

			.post-meta-categories,
			.post-tags,
			.post-comments {
				display: inline;
				font-size: 13px;
			}
		}

		.post-tags {
			& > a {
				display: inline-block;
				margin-right: 5px;

				&:before {
					content: '#';
					display: inline-block;
				}

				&:last-child,
				&:only-child {
					margin-right: 0;
				}
			}
		}

		.moretag {
			line-height: 1.33;

			&:after {
				@include fa-icon();

				content: $fa-var-long-arrow-right;
				display: inline-block;
				margin-left: 5px;
			}
		}

		&.has-thumb {
			.entry-meta {
				padding-top: 0;

				.post-meta-top { margin-top: 42.5px; }
			}
		}

		&.format-quote {
			.entry-title { display: none; }
		}
	}
}

.search-results {
	article.lsx-slot {
		&:not(.post),
		&.post.format-quote {
			.post-meta {
				& > .post-meta-avatar,
				& > .post-meta-author {
					display: none;
				}
			}
		}

		&:not(.post) {
			.entry-meta {
				& > .post-meta.post-meta-top { margin-top: 22.5px; }
			}
		}

		&.post.format-quote {
			.entry-meta {
				& > .post-meta.post-meta-top { margin-top: 0; }
			}
		}
	}
}
