article.page {
	.page-template-template-no-sidebar &,
	.page-template-default:not(.has-sidebar) & {
		@include media(">=tablet") {
			margin: 0 auto;
			width: 83.33333%;
		}

		@include media(">=desktop") {
			width: 66.66667%;
		}
	}
}
.edit-link {
	display: none !important;
}

/* -------------------------------------------------------------------------- */
/*	Template: Cover Template
/* -------------------------------------------------------------------------- */

.page-template-template-cover,
.post-template-template-cover {
	#primary {
		margin-top: 0;
	}
	.breadcrumbs-container {
		z-index: 100;
	}
	.cover-header {
		display: flex;
		overflow: hidden;
		@include media("<tablet") {
			margin-right: -15px;
			margin-left: -15px;
		}
		&.bg-image {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&.bg-attachment-fixed {
			background-attachment: fixed;
		}
		.cover-header-inner-wrapper {
			display: flex;
			position: relative;
			flex-direction: column;
			justify-content: flex-end;
			width: 100%;
			min-height: calc(100vh - 130px);
			.cover-header-inner {
				padding: 10rem 0 5rem 0;
				width: 100%;
				.cover-color-overlay,
				.cover-color-overlay::before {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					top: 0;
				}
				.cover-color-overlay::before {
					background: currentColor;
					content: "";
					display: block;
				}
			}
		}
	}
	#main {
		.entry-header {
			background: transparent;
			padding: 0;
			position: relative;
			width: 100%;
			* {
				color: white;
			}
			.entry-categories-inner {
				a {
					font-size: 15px;
					text-transform: uppercase;
					text-decoration: underline;
					margin: 0 5px;
					@include media("<custom") {
						font-size: 13px;
					}
				}
			}
			.entry-title {
				font-size: 56px;
				@include media("<custom") {
					font-size: 36px;
				}
			}
			.intro-text {
				* {
					font-size: 28px;
					@include media("<custom") {
						font-size: 18px;
					}
				}
			}
			.moretag {
				display: none;
			}
		}
	}

	#primary {
		.entry-categories-inner {
			a {
				&:hover {
					color: nth($blue, 1);
				}
			}
		}
		.entry-meta {
			.post-meta {
				.vcard {
					&:before {
						content: "\f007";
						font-family: FontAwesome;
						margin-right: 10px;
					}
					margin-right: $lsx-gap;
					&:hover,
					&:hover * {
						color: nth($blue, 1);
					}
				}
				.post-meta-time {
					&:before {
						content: "\f073";
						font-family: FontAwesome;
						margin-right: 10px;
					}
					&:hover,
					&:hover * {
						color: nth($blue, 1);
					}
				}
			}
		}
	}
}

body.template-cover .entry-header {
	background: transparent;
	padding: 0;
}

.cover-header h1,
.cover-header h2,
.cover-header h3,
.cover-header h4,
.cover-header h5,
.cover-header h6,
.cover-header .faux-heading {
	color: inherit;
}

.cover-header .entry-header a {
	color: inherit;
}
