article.page {
	.page-template-template-no-sidebar &,
	.page-template-default:not(.has-sidebar) & {
		@include media ('>=tablet') {
			margin: 0 auto;
			width: 83.33333%;
		}

		@include media ('>=desktop') { width: 66.66667%; }
	}
}
.edit-link {
	display: none !important; 
}