html {
	overflow-x: hidden;
}

body {
	width: auto !important;
	color: $mid-grey;
	margin: 0 !important;
	padding: 0 !important;
	font: {
		size: 18px;
		family: 'Open Sans', sans-serif;
	}
	line-height: 198%;
	overflow-x: hidden !important;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;

	@media screen and (max-width: 768px) {
		line-height: 180%;
	}
}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none !important;

	.wrap & {
		@include transition(all .1s ease-in-out);
	}
}

p {
	margin: 0 0 20px;

	@media screen and (max-width: 768px) {
		margin: 0 0 15px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: {
		family: 'Raleway', 'Open Sans', sans-serif;
		weight: 600;
	}
	line-height: 1.4;

	&.lsx-section-heading {
		@include lsx-section-heading;
	}
}

h1,
h2,
h3 {
	color: $black;
	margin-top: 40px;

	i {
		margin-right: 15px;
	}

	@media screen and (max-width: 768px) {
		margin-top: 20px;
		margin-bottom: 15px;
	}
}

h4,
h5,
h6 {
	color: $dark-grey;
	margin-top: 25px;
	margin-bottom: 20px;

	i {
		margin-right: 10px;
	}

	@media screen and (max-width: 768px) {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

h1 {
	font-size: 36px;
	margin-bottom: 26px;
}

h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

h3 {
	font-size: 24px;
	margin-bottom: 18px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 19px;
}

h6 {
	font-size: 18px;
}

ul {
	padding-left: 40px;
}

hr {
	margin: 60px auto;
	border: 0;
    border-top: 3px solid #e5e5e5;
	max-width: 20%;

	@media screen and (max-width: 768px) {
		margin: 40px auto;
	}
}

.page-title {
	margin-bottom: 25px;
	font-size: 36px;
	line-height: 1.4;
}

.lsx-breaker {
	margin: 80px -9999rem 160px;
	padding: 1px 9999rem;
	border-bottom: 1px solid #ddd;

	.single-post & {
	    margin: 80px -9999rem 50px;	
	}

	.archive #primary.col-md-8 &,
	.archive #primary.col-sm-8 &,
	.blog #primary.col-md-8 &,
	.blog #primary.col-sm-8 &,
	.single-post #primary.col-md-8 &,
	.single-post #primary.col-sm-8 &,
	.search #primary.col-md-8 &,
	.search #primary.col-sm-8 &,
	.page #primary.col-md-8 &,
	.page #primary.col-sm-8 &  {
		margin: 60px 0;
		padding: 1px 0;
	}

	@media screen and (max-width: 992px) {
		margin: 40px -9999rem 100px;
	}
}

code {
	white-space: inherit;
}

figure,
iframe, 
img,
.thumbnail {
	max-width: 100%;
}

figure {
	&.wp-caption {
		border: 1px solid #ddd;
		margin: 40px 0;
		@include border-radius(3px);
		@include box-shadow(0 1px 5px rgba(0, 0, 0, 0.1));

		figcaption.wp-caption-text {
			font: {
				family: 'Noto Sans', sans-serif;
				size: 16px;
				weight: normal;
			}
			padding: 7px 17px;
			border-top: 1px solid #ddd;
		}
	}

	&.alignright,
	&.alignleft {
		& > img {
			min-width: auto !important;
		    margin-bottom: 0 !important;
		    max-width: 100% !important;
		    margin-left: 0 !important;
		    margin-top: 0 !important;
		}
	}

	img {
		@include lsx-clear-image;
	}
}

button,
.btn {
	background: $primary;
	color: $white;
	border: none;
	font-size: 16px;
	line-height: inherit;
  	padding: 6px 24px;
  	text-shadow: none !important;
	@include transition(all .1s ease-in-out);
	@include border-radius(3px);

	&:hover,
	&:active,
	&:focus {
		background: $primary-darker;
		color: $white;
	}
	
	&.btn-lg {
		padding: 9px 28px;
	    font-size: 17px;
	}
}

address {
	line-height: inherit;
}



img,
.thumbnail {
	height: auto;

	.caption {
		padding: 12px 10px 7px;
	}

	&.alignright,
	&.pull-right {
		margin: 0 0 15px 20px;
	}

	&.alignleft,
	&.pull-left {
		margin: 0 20px 15px 0;
	}

	&.aligncenter {
		margin: 0 auto 15px;
	}

	&.image-border {
		@include lsx-image-border;
	}
}

.page-has-banner,
.single-jetpack-portfolio {
	@include lsx-parallax-banner;
}

.page-has-banner {
	&.home.header-central {
		.wrap {
			margin-bottom: 0;
		}
	}
}

.search-form {
	header.banner & {
		display: inline-block;
		float: right;
		margin: 44px 0 0;
		@include transition(all .3s ease-in-out);

		.input-group {
			display: inline-block;
		}

		.input-group-btn {
			width: auto;
		}

		&:hover,
		&:active,
		&:focus {
			.search-field {
				opacity: 1;
				width: 300px;
				z-index: 999;
			}

			.search-submit {
				cursor: pointer;
				color: $blacker !important;
				font-weight: bold;
				z-index: 9999;

				.genericon {
					color: $blacker !important;
					font-weight: bold;
				}
			}
		}

		@media (max-width: 992px) {
			margin: 30px 0 0;
		}

		@media (max-width: 768px) {
			margin: 16px 0 0;
		}
	}

	header.banner.scrolled & {
		margin: 26px 0 0;
	}
}

.search-field {
	header.banner & {
		opacity: 0;
		position: absolute;
    	width: 10px;
    	right: 0;
    	padding: 7px 11px;
    	@include transition(all .4s ease-in-out);

    	&:hover,
		&:active,
		&:focus {
			opacity: 1;
			width: 300px;
			z-index: 999;
		}
	}
}

.search-submit {
	padding: 15px 22px;
	line-height: 1.2;

	.genericon {
		vertical-align: middle;
		font-size: 21px;
	}

	header.banner & {
	    padding: 10px 12px;
	    background: none !important;
	    color: $black !important;
	    z-index: 999;

	    .genericon {
	    	font-size: 19px;
	    	background: $white;
	    }

	    &:hover,
	    &:active,
	    &:focus {
	    	color: $blacker;

	    	.genericon {
	    		font-weight: bold;
	    	}
	    }
	}
}

.info-box {
	@include lsx-info-box;
}

.lsx-button {
	@include lsx-button
}

.lsx-cta-button {
	@include lsx-cta-button;
}

.lsx-hero-unit {
	@include lsx-hero-unit;
}

.lsx-image-section {
	@include lsx-image-section;
}

.lsx-pricing-table {
	@include lsx-pricing-table;
}

.lsx-image-border {
	@include lsx-image-border;
}

.lsx-form-field {
	@include lsx-form-field;
}

.thumbnail {
	padding: 0;
	border: none;

	.caption {
		padding: 12px 10px 7px;
	}
}

#searchform {
	.input-group {
		input.search-field {
			.ie & {
				font-size: 14px;
				line-height: 0.5;
			}
		}
 
		span.input-group-btn {
			button.search-submit {
				color: $white;
				background-color: $primary;
				border: none !important;
				margin-left: 0 !important;

				&:hover {
					background-color: $primary-darker;
				}
			}
		}
	}
}

.wp-pagenavi-wrapper {
	text-align: center;
    margin-bottom: 60px;

    .lsx-breaker {
    	margin-bottom: 60px;
    }
}

.wp-pagenavi {
	@media (min-width: 992px) {
		margin: {
			left: -35px;
			right: -35px;
		}
	}

	span {
		border: none !important;

		&.current {
			border: none !important;
		}
	}

	.pages {
		display: block;
		border: none !important;
		margin-bottom: 30px;
		color: $black;
		font: {
			size: 24px;
			weight: bold;
		}
	}

	a,
	.current,
	.extend {
		display: inline-block;
		padding: 5px 12px;
    	margin: 0 3px 14px;
    	line-height: 1.4;
	}

	.current {
		font-weight: bold;
	}

	a {
	    border-radius: 3px;
	    border: 2px solid #ccc;
	    color: $black;
	    @include transition(all .2s ease-in-out);

	    &:hover,
	    &:active,
	    &:focus {
	    	border: 2px solid $black;
	    }
	}
}

.pagination {
	span.current {
		background: $primary !important;
		color: $white !important;
	}
}

.post-navigation {
	margin-bottom: 60px;
	clear: both;

	.pager {
		margin: 0 !important;

		@media print {
			display: none !important;
		}

		a {
			border: none !important;
			font-weight: 600;

			div {
				max-width: 30%;

				@media screen and (max-width: 992px) {
					width: 100%;
					max-width: 100%;
					margin-bottom: 15px;
				}

				h3 {
					display: inline-block;
					font: {
						weight: 700;
					}
					margin: 0;
					color: $black;
					@include transition(all .1s ease-in-out);
				}

				.nav-links-description {
					color: $mid-grey;
					margin-bottom: 0;
					font: {
						family: 'Noto Serif', serif !important;
						size: 15px;
						weight: 500;
					}
					@include transition(all .1s ease-in-out);
				}
			}

			&:hover {
				h3 {
				    color: $blacker;
				}

				.nav-links-description {
					color: $black;
				}
			}
		}

		.previous,
		.next {
			color: $black;
	    	font-size: 24px;

	    	@media screen and (max-width: 992px) {
	    		text-align: left !important;
	    	}
		}

		.previous {
			text-align: left;
			float: left;
			
			span {
				margin-right: 5px;
			}
		}

		.next {
			text-align: right;
			float: right;
			
			span {
				margin-left: 5px;
			}   
		}

		@media screen and (max-width: 992px) {
			margin: 20px 15px;
		}
	}
}

blockquote {
	max-width: 370px;
	position: relative;
	padding: 0 0 17px;
	margin: 0 0 17px;
	border-bottom: 2px solid;
    display: inline-block;
	font: {
		family: 'Noto Serif', serif;
		size: 20px;
		style: italic;
	}
	border-left: none;

	p {
		font-size: 20px;
		line-height: 1.7;
	}

	@media screen and (max-width: 768px) {
		max-width: 100%;
		margin: 20px 0 40px !important;
	}

	&.alignleft {
		float: left;
		margin-right: 30px;

		#primary.col-sm-8 &,
		#primary.col-md-8 & {
			margin-left: 0 !important;
		}

		@media screen and (min-width: 992px) {
			margin-left: -155px;
		}
	}

	&.alignright {
		float: right;
		margin-left: 30px;

		#primary.col-sm-8 &,
		#primary.col-md-8 & {
			margin-right: 0 !important;
		}

		@media screen and (min-width: 992px) {
			margin-right: -155px;
		}
	}
}

cite {
	font-weight: bold;
}

dl {
	dt {
		margin-top: 15px;
		margin-bottom: 6px;
		padding-bottom: 3px;
		border-bottom: 1px solid #ddd;
	}
}

table {
	width: 100%;
	max-width: 100%;
	background-color: transparent;
	margin-bottom: 20px;
	font-size: 15px;
	border-collapse: collapse;
	border-spacing: 0;
	border: none;

	& > thead {
		tr {
			background: $white;

			th {
				font-weight: bold;
				border-bottom-width: 2px;
			} 
		}
	}

	tbody {
		tr {
			&:nth-child(even) {
				background-color: $white;
			}

			&:nth-child(odd) {
				background-color: $off-white;
			}

			&:last-child {
				td {
					border-bottom: none;
				}
			}
		}
	} 

	td,
	th {
		border-bottom: 1px solid #ddd;
		padding: 8px 18px;
		font-weight: normal;
	}
}

header.banner {
	.search-toggle {
		display: none !important;
	}
}

.ccselect2-container {
	display: block !important;

	.ccselect2-arrow {
		background: none !important;
		border: none !important;

		b {
			background-position: -4px 13px !important;
		}
	}
}

.breadcrumbs-container {
	.page-template-template-page-hero &,
	.blog & {
		display: none;
	}

	@media screen and (max-width: 768px) {
		display: none;
	}
}

// Breadcrumbs

ul.breadcrumb {
	margin-bottom: 20px;
	padding: 0;
	background: none;

	@media print {
		display: none !important;
	}

	li {
		background: $white;
		border: 1px solid #ddd;
		overflow: hidden;
		@include border-radius(3px);

		& > span {
			& > span {
				padding: 0 !important;
				
				&:before,	
				&:after {
					display: none !important;
				}

				&.breadcrumb_last {
					padding: 5px 20px 5px 27px !important; 

					&:before,	
					&:after {
						display: none !important;
					}
				}
			}

			a,
			span,
			strong {
				@include lsx-breadcrumbs;
			}

			.breadcrumb_last {
				&:before,	
				&:after {
					display: none !important;
				}
			}

			a {
				padding-left: 22px;
			}

			span[typeof="v:Breadcrumb"] {
				padding: 0 !important;
				
				&:before,	
				&:after {
					display: none !important;
				}
			}

			span[rel="v:child"] {
				padding: 0 !important;
				
				&:before,	
				&:after {
					display: none !important;
				}

				span,
				a,
				strong {
					@include lsx-breadcrumbs;
				}

				.breadcrumb_last {
					&:before,	
					&:after {
						display: none !important;
					}
				}
			}
		}
	}

	br {
		display: none !important;
	}
}