// ------------------------------------
// ---------- Blog Styles V2 ----------
// ------------------------------------


// ---------- Placeholders ----------


%font-awesome {
	content: '';
	color: #333;
	margin-right: 5px;
	display: inline-block;

	font: {
		family: fontawesome;
		weight: normal;
		size: 16px;
	}
}

%module-single-box {
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #eee;
	overflow: hidden;
	margin: 30px 0 !important;

	&:last-child {
		margin-bottom: 60px !important;
	}

	.entry-meta,
	.entry-summary,
	.entry-content {
		padding: 0 40px;
	}
}

%module-single-no-box {
	margin: 30px 0 !important;
}

%module-single-title {
	display: block;
	font-size: 30px;
	margin: 30px 0 20px 0;

	.format-link {
		margin: 0 5px 0 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 15px;
		vertical-align: middle;

		&.fa-file-text-o {
			display: none;
		}
	}

	a:not(.format-link), // archive
	span { // single
		display: inline-block;
		vertical-align: middle;
	}
}

%module-single-title_quote {
	.format-link {
		margin-right: 0;
	}

	a:not(.format-link), // archive
	span { // single
		display: none;
	}
}

%module-single-meta {
	margin-bottom: 15px;

	@media only screen and (max-width: 767px) {
		padding: 0 20px;
	}

	.post-meta {
		font-style: normal;
		color: #333;

		.post-meta-time,
		.post-meta-author,
		.post-meta-categories {
			margin: 0 0 0 25px;

			&:first-child {
				margin-left: 0;
			}

			@media only screen and (max-width: 767px) {
				margin: 0;
				display: block;
				text-align: left;
			}

			&:before {
				@extend %font-awesome;
			}

			a {
				color: #337ab7;

				&:hover,
				&:active,
				&:focus {
					color: #23527c;
				}
			}
		}

		.post-meta-time {
			& > span {
				display: none;
			}

			&:before {
				content: '\f073';
			}
		}

		.post-meta-author {
			&:before {
				content: '\f007';
			}
		}

		.post-meta-categories {
			&:before {
				content: '\f07c';
			}
		}
	}
}

%module-single-text {
	font-size: 16px;
	color: #333;

	@media only screen and (max-width: 767px) {
		padding: 0 20px;
	}

	.moretag {
		border-bottom: none;
		padding-bottom: 0;
	}
}

%module-single-related-posts {
	margin-top: 30px;
	padding: 20px 0 13px 0;

	h3.jp-relatedposts-headline {
		font-size: 30px;
		text-align: center;
		float: none;
		display: block;

		em {
			&:before {
				display: none;
			}
		}
	}
}

%module-single-footer_archive {
	@include lsx-clear-div;
					
	margin-top: 30px;
	padding: 20px 40px 13px 40px;
	border-top: 1px solid #ddd;

	@media only screen and (max-width: 767px) {
		padding: 20px 20px 13px 20px;
	}

	.post-tags {
		@extend %module-single-tags;
	}

	.post-comments {
		@extend %module-single-comments-counter;
	}
}

%module-single-footer_single {
	@include lsx-clear-div;

	margin: 40px 0 20px 0;
	padding: 20px 0 13px 0;

	border: {
		top: 1px solid #ddd;
		bottom: 1px solid #ddd;
	}

	.post-tags {
		@extend %module-single-tags;
	}

	.sharedaddy {
		@extend %module-single-sharedaddy;
	}
}

%module-single-tags {
	display: block;
	float: left;
	width: 50%;

	@media only screen and (max-width: 767px) {
		width: 100%;
	}

	&:before {
		@extend %font-awesome;
		content: '\f02c';
		float: left;
		line-height: 24px;
	}

	& > span {
		display: block;
		float: left;
		line-height: 24px;
		font-size: 15px;
		color: #333;
	}

	& > a {
		line-height: 26px;
		border-radius: 13px;
		padding: 0 15px;
		margin: 0 0 7px 7px;
		font-size: 13px;
		background-color: #ededed;
		color: #666;

		&:hover,
		&:active,
		&:focus {
			background-color: #dedede;
		}
	}
}

%module-single-comments-counter {
	display: block;
	float: right;
	width: 50%;
	text-align: right;
	line-height: 24px;
	font-size: 15px;
	color: #333;
	margin-bottom: 7px;

	@media only screen and (max-width: 767px) {
		width: 100%;
		margin-top: 10px;
		text-align: left;
	}

	&:before {
		@extend %font-awesome;
		content: '\f075';
	}

	a {
		color: #337ab7;

		&:hover,
		&:active,
		&:focus {
			color: #23527c;
		}
	}
}

%module-single-sharedaddy {
	margin: 0 0 7px 0;
	float: right;
	width: 50%;
	clear: none;
	line-height: 1;
	text-align: right;

	@media only screen and (max-width: 767px) {
		width: 100%;
		margin-top: 10px;
		text-align: left;
	}

	.sd-sharing {
		padding: 0;
		border-top: none;
		width: 100%;

		.sd-title {
			font-size: 15px;
			font-family: inherit !important;
			line-height: 26px;
			margin: 0 8px 0 0;
			display: inline-block;

			&:before {
				@extend %font-awesome;
				content: '\f1e0';
				border-top: none;
				width: auto;
				min-width: auto;
				margin-bottom: 0;
			}
		}

		.sd-content {
			float: right;

			ul {
				display: block;
				float: left;
				margin: 0 !important;

				li {
					margin-right: 5px !important;
					float: left;
					display: block;

					a.sd-button {
						padding: 7px;
						display: block;
						float: none;
						margin: 0;
						top: 0;
						
						&:before {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}


// ---------- Placeholders Pagination ----------


%module-single-pagenavi {
	margin: 50px 0 40px 0;

	.lsx-breaker,
	.pages {
		display: none;
	}

	.wp-pagenavi {
		font-size: 15px;

		span.current {
			background-color: #333;
			color: #fff;
			border-radius: 3px;
			border: 2px solid transparent !important;
		}
	}
}

%module-single-post-navigation {
	.pager {
		margin: {
			left: -15px !important;
			right: -15px !important;
		}

		a {
			div {
				.nav-links-description {
					color: #333;
					line-height: 30px;
				}

				&.previous {
					.nav-links-description {
						&:before {
							@extend %font-awesome;
							content: '\f060';
							font-size: 14px;
						}
					}
				}

				&.next {
					.nav-links-description {
						&:after {
							@extend %font-awesome;
							content: '\f061';
							font-size: 14px;

							margin: {
								right: 0;
								left: 5px;
							}
						}
					}
				}

				h3 {
					font-size: 22px;
					color: #337ab7;
				}
			}

			&:hover,
			&:active,
			&:focus {
				div{
					h3 {
						color: #23527c;
					}
				}
			}
		}
	}
}


// ---------- Placeholders Comments ----------


%module-single-comments-cta {
	border-top: none;
	font-size: 15px;
	padding: 10px 0 5px 0;
	width: 100%;
	text-align: left;
	display: inline-block;
	font-family: inherit;

	&:before {
		@extend %font-awesome;
		content: '\f086';
	}

	.fa {
		margin-left: 3px;
	}
}

%module-single-comments-list {
	padding-top: 20px;

	& > h3 {
		display: none;
	}

	& > ol {
		margin: 0;

		.comment {
			& > img {
				margin-right: 5px;
			}

			.media-body {
				text-align: left;

				h4 {
					font-size: 16px;
					margin-bottom: 0;
				}

				time {
					font-size: 14px;
				}

				.comment-edit-link {
					font-size: 16px;
				}

				p {
					font-size: 16px;
					line-height: 25px;
				}
			}
		}
	}
}

%module-single-comments-form {
	margin: 0;
	padding: 0 0 20px 0;

	#reply-title {
		font-size: 15px;
		color: #333;
		font-weight: normal;
		text-align: left;
		margin-bottom: 10px;

		&:before {
			@extend %font-awesome;
			content: '\f075';
		}
	}

	#commentform {
		text-align: left;

		.logged-in-as,
		.comment-notes {
			font-size: 15px;
			text-align: left;
			margin-bottom: 15px;
			line-height: 25px;
		}

		.comment-form-author,
		.comment-form-email {
			display: inline-block;
			width: 100%;

			@media only screen and (min-width: 768px) {
				width: 49%;
			}

			label,
			.required {
				display: none;
			}
		}

		.comment-form-email {
			@media only screen and (min-width: 768px) {
				float: right;
			}
		}

		.comment-form-url {
			display: none;
		}

		.form-submit {
			text-align: left;

			#submit {
				font-size: 16px;
				line-height: 25px;
				padding: 4px 40px;
				width: 100%;

				@media only screen and (min-width: 768px) {
					width: 49%;
				}
			}
		}

		.comment-subscription-form {
			label {
				font-size: 15px
			}
		}
	}
}

%module-single-comments-form-after-comments {
	margin: 20px 0 0 0;
	padding: 20px 0;
	border-top: 1px solid #ddd;
}


// ---------- Placeholders Banners ----------


%module-single-banner {
	.page-banner {
		height: 0;
		padding: 0 0 36% 0;

		@media only screen and (min-width: 1200px) {
			padding-bottom: 427px; // 36% of 1185px (internal window with of 1200px)... so it's like max-padding-bottom: 427px
		}

		.page-title {
			display: none;
		}
	}

	&:not(.top-menu-fixed) {
		.page-banner {
			@extend %module-single-banner_without-menu-fixed;
		}
	}

	&.top-menu-fixed {
		.page-banner {
			@extend %module-single-banner_with-menu-fixed;
		}
	}

	.page-banner + .wrap {
		margin-top: 0;
	}
}

%module-single-banner_without-menu-fixed {
	@media only screen and (min-width: 768px) {
		margin-top: 0;
	}
}

%module-single-banner_with-menu-fixed {
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		margin-top: 143px;
	}

	@media only screen and (min-width: 992px) and (max-width: 1199px) {
		margin-top: 176px;
	}

	@media only screen and (min-width: 1200px) {
		margin-top: 176px;
	}
}


// ---------- Archives (blog, year, month, day, tag, category, author, search) ----------


body.blog,
body.archive,
body.search {
	.wrap {
		#primary {
			&.col-sm-12 {
				max-width: 768px;
			}

			article {
				@extend %module-single-box;

				header.entry-header {
					h1.entry-title {
						@extend %module-single-title;
					}
				}

				&.post_format-post-format-quote {
					header.entry-header {
						h1.entry-title {
							@extend %module-single-title_quote;
						}
					}
				}

				.entry-meta {
					@extend %module-single-meta;
				}

				.entry-summary,
				.entry-content {
					@extend %module-single-text;
				}

				.post-tags-wrapper {
					@extend %module-single-footer_archive;
				}

				.lsx-breaker,
				.edit-link {
					display: none;
				}
			}

			.wp-pagenavi-wrapper {
				@extend %module-single-pagenavi;
			}
		}
	}
}


// ---------- Single (post) ----------


body.single-post {
	@extend %module-single-banner;

	.wrap {
		#primary {
			&.col-sm-12 {
				max-width: 768px;
			}

			article {
				@extend %module-single-no-box;

				header.single-header {
					h1.single-title {
						@extend %module-single-title;
					}
				}

				/*&.post_format-post-format-quote {
					header.entry-header {
						h1.entry-title {
							@extend %module-single-title_quote;
						}
					}
				}*/

				.entry-meta {
					@extend %module-single-meta;
				}

				.entry-content {
					@extend %module-single-text;
				}

				#jp-relatedposts {
					@extend %module-single-related-posts;
				}

				.post-tags-wrapper {
					@extend %module-single-footer_single;
				}

				.post-meta-link {
					@extend %module-single-comments-cta;
				}

				#comments-collapse {
					#comments {
						@extend %module-single-comments-list;
					}

					#respond {
						@extend %module-single-comments-form;
					}

					#comments + #respond {
						@extend %module-single-comments-form-after-comments;
					}
				}

				footer.entry-meta {
					display: none;
				}
			}

			.post-navigation {
				@extend %module-single-post-navigation;
			}
		}
	}
}


// ---------- Single (other) ----------


body.single:not(.single-post) {
	.wrap {
		#primary {
			article {
				@extend %module-single-no-box;

				.entry-content {
					@extend %module-single-text;
				}

				.edit-link {
					display: none;
				}
			}
		}
	}
}


// ---------- Single (page) ----------


body.page {
	@extend %module-single-banner;

	.wrap {
		#primary {
			.entry-content {
				@extend %module-single-text;
			}

			.edit-link {
				display: none;
			}
		}
	}
}
