// New Archive Styles

body.archive,
body.blog,
body.page,
body.search {

	.page-banner + .wrap {
		margin-top: 0;
	}

	margin-top: 15px;

	&.top-menu-fixed {
		&.header-central,
		&.header-expanded {
			@media (min-width: 992px) {
				.wrap {
					margin-top: 260px;
				}
			}
		}

		.wrap {
			@media (min-width: 992px) {
				margin-top: 176px;
			}

			#primary {
				&.col-md-12,
				&.col-sm-12 {
					.archive-header {
						margin: -10px -9999rem 40px;
					    padding: 60px 9999rem;

					    @media (max-width: 991px) {
				    		margin: 0 -9999rem 40px;
					    }

					    @media (max-width: 767px) {
					    	margin: 0 -9999rem 40px;
					    }
					}
				}

				&.col-md-8,
				&.col-sm-8 {
					.archive-header {
						.archive-title {
							margin: {
								top: 0;
								bottom: 240px;
							}

							@media (max-width: 991px) {
								margin: {
									top: 140px;
									bottom: -80px;
								}
						    }

						    @media (max-width: 767px) {
						    	margin: {
									top: 30px;
									bottom: 200px;
								}
						    }
						}
					}
				}
			}

			#secondary {
				@media (max-width: 991px) {
					margin: {
						top: 140px;
					}
			    }

			    @media (max-width: 767px) {
					margin: {
						top: 20px;
					}
			    }
			}
		}
	}
			
	#primary {
		article.no-thumb {
			margin-top: 60px;
		}

		&.col-md-8,
		&.col-sm-8 {
			.archive-header {
				text-align: left;

				.archive-title {
					margin: {
						bottom: 180px;
					}
				    padding-bottom: 20px;
				    border-bottom: 2px solid #ccc;
				    font: {
				    	size: 32px;
				    }
				}

				.author-desc,
				& > p {
					margin: -150px 0 180px;

					@media (max-width: 991px) {
				    	margin: -150px 0 160px;
				    }

				    @media (max-width: 767px) {
				    	margin: -150px 0 200px;
				    }
				}
			}

			.no-thumb {
				.format-link {
					margin-top: 20px;
				}
			}
		}

		&.col-md-12,
		&.col-sm-12 {
			.archive-header {
				margin: 0 -9999rem 40px;
			    padding: 60px 9999rem;
			    background: $primary-darker;
			    color: $white;
			    text-align: center;

			    .archive-title,
			    h1 {
					color: $white;
					margin: 0;
					line-height: 1.6;
					font: {
						size: 40px;
						weight: 700;
					}
			    }

			    & > p {
			    	text-align: left;

			    	&:nth-of-type(1) {
			    		margin-top: 24px;
			    	}

			    	&.author-desc {
			    		text-align: center;
			    		margin-bottom: 0 !important;
			    	}
			    }
			}
		}
	}

	#secondary {
		margin-top: 40px;

		@media (max-width: 767px) {
			width: 100% !important;
		}
	}
}

body.search {
	#primary {
		&.col-md-8,
		&.col-sm-8 {
			.archive-header {
				.archive-title {
					margin: {
						bottom: 40px !important;
					}
				}
			}
		}
	}
}

body.single-post {
	.page-banner {
		padding: 580px 40px 80px;
		text-align: left;
		margin-top: 100px;

		@media screen and (max-width: 767px) {
			padding: 300px 20px 80px;
			margin-top: 0;
		}

		h1.page-title {
			text-align: center !important;
			font-size: 44px !important;
			padding: 0 !important;

			@media screen and (max-width: 767px) {
				text-align: center !important;
			}
		}
	}

	&.has-sidebar {
		.page-banner {
			h1.page-title {
				text-align: left !important;
			}
		}
	}

	#secondary {
		margin: {
			top: 40px;
			bottom: 40px;
		}
	}

	.single-header {
		text-align: center;

		.single-title {
			margin: {
				top: 0;
				bottom: 44px;
			}
			font-weight: 700;
			line-height: 1.3;

			@media screen and (min-width: 992px) {
				font-size: 44px;
			}
		}
	}

	&.top-menu-fixed {
		.format-link {
			margin: 80px 0 40px;

			&.has-thumb {
				margin: 130px 0 40px;
			}
		}

		&.header-central,
		&.header-expanded {
			.page-banner {
				@media (min-width: 992px) {
					margin-top: 160px;
				}
			}

			.wrap {
				margin-top: 60px !important;

				.format-link {
					margin: -40px 0 40px;

					&.has-thumb {
						margin: -100px 0 40px;
					}
				}
			}
		}
	}

	.wrap {
		#primary {
			.lsx-breaker {
				display: none;
			}
		}

		.format-link {
			margin: 0 0 40px;

			&.has-thumb {
				margin: -50px 0 40px;
			}
		}

		header.page-header {
			display: none !important;
		}

		.entry-content {
			font: {
				family: 'Noto Serif', serif;
			}
			color: $dark-grey;
			line-height: 1.98;
		    margin: {
		    	top: 30px;
		    	bottom: 30px;
		    }
		}

		.footer-meta {
			text-align: center;
		}

		.post-meta-link {
			font: {
				family: 'Noto Serif', serif;
				size: 20px;
			}
			color: $black;
			@include transition(all .1s ease-in-out);
			padding: 30px 20px 34px;
   			border-top: 1px solid #ccc;

			&:hover,
			&:active,
			&:focus {
				color: $primary;
			}

			.genericon {
				font-size: 18px;
				vertical-align: middle;
			}
		}
	}
}

/* ==========================================================================
	 Posts
	 ========================================================================== */

article {
	margin-bottom: 60px;

	&:last-of-type {
		.lsx-breaker {
			display: none;
		}
	}

	&.post {
		.blog &,
		.archive & {
			&:last-of-type {
				.lsx-breaker {
					display: none !important;
				}
			}
		}

		.term-post-format-quote & {
			&:nth-of-type(1) {
				&.no-thumb {
					margin-top: 40px !important;
				}
			}
		}

		.top-menu-fixed.blog &,
		.top-menu-fixed.archive & {
			&:last-child {
				.lsx-breaker {
					display: none !important;
				}
			}
		}

		.top-menu-fixed.archive.term-post-format-quote & {
			&:nth-of-type(1) {
				img {
					margin-top: 40px !important;
				}
			}
		}
	}

	@media screen and (max-width: 991px) {
		margin-bottom: 50px;
	}

	@media screen and (max-width: 767px) {
		margin-bottom: 40px;
	}
	
	body &.column-1 {
		width: 100%;
		max-width: 100%;
		margin-left:auto;
		margin-right:auto;
	}
	
	body &.column-2 {
		width: 50% !important;

		@media screen and (max-width: 767px) {
			width: 100% !important;
		}
	}
	
	body &.column-3 {
		width: 33.3% !important;

		@media screen and (max-width: 991px) {
			width: 50% !important;
		}

		@media screen and (max-width: 767px) {
			width: 100% !important;
		}
	}
	
	body &.column-4 {
		width: 25% !important;

		@media screen and (max-width: 991px) {
			width: 50% !important;
		}

		@media screen and (max-width: 767px) {
			width: 100% !important;
		}
	}
	
	body &.column-5 {
		width: 20% !important;

		@media screen and (max-width: 991px) {
			width: 50% !important;
		}

		@media screen and (max-width: 767px) {
			width: 100% !important;
		}
	}
	
	body &.column-6 {
		width: 16.666% !important;

		@media screen and (max-width: 991px) {
			width: 50% !important;
		}

		@media screen and (max-width: 767px) {
			width: 100% !important;
		}
	}	

	.single-post & {
		margin: {
			top: 40px;
			bottom: 0;
		}

		&.has-post-thumbnail {
			margin-top: 80px;
		}
	}

	.single .no-thumb & {
		margin-top: 20px;
	}

	.single.top-menu-fixed.no-thumb & {
		margin-top: 200px;
	}

	&.post_format-post-format-quote {
		h1.entry-title {
			display: none;
		}

		.entry-content {
			line-height: 1.6;
			text-align: center;
			margin-top: 20px;
			font: {
				family: Noto Serif, serif;
				size: 33px;
				style: italic;
			}
		}
	}

	&.post_format-post-format-link {
		.genericon {
			font-size: 36px;
			vertical-align: middle;
		}
	}

	.format-link {
		font-size: 40px;
		color: $white;
		background-color: $primary;
		margin: -40px 0 30px;
		padding: 17px;
		@include border-radius(100%);

		.archive #primary.col-sm-8,
		.archive #primary.col-md-8 {
			margin: 40px 0 30px;
		}

		.archive #primary.col-sm-8 &.has-thumb,
		.archive #primary.col-md-8 &.has-thumb {
			margin: -40px 0 30px;
		}
	}

	header.entry-header {
		text-align: center;

		h1.entry-title {
			position: relative;
			line-height: 130%;
			font: {
				size: 40px;
				weight: 800;
			}
			margin: {
				top: 30px;
				bottom: 40px;
			}

			@media screen and (max-width: 767px) {
				line-height: 130%;
				font-size: 30px;
			}

			a {
				color: $black !important;
				@include transition(all .1s ease-in-out);

				&:hover,
				&:active,
				&:focus {
					color: $primary !important;
				}
			}

			.label {
				display: inline-block;
				padding: 8px 12px;
				margin-left: 5px;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: .3px;
				font-family: 'Open Sans', sans-serif;
				vertical-align: middle;
				@include border-radius(3px);

				&.label-sticky {
					position: absolute;
					top: 0;
					left: 40px;
					background: rgba(0, 0, 0, .7);
					padding: 10px 15px;
					margin: 0;
					font: {
						size: 18px;
						weight: 600;
					}

					&.no-thumb {
						position: relative;
						font-size: 16px;
						vertical-align: middle;
						margin-top: -5px;
						margin-left: 10px;
						left: auto;
					}
				}
			}
		}

		.entry-image {
			text-align: center;

			.thumbnail {
				margin-right: 0 !important;
				margin-bottom: 0;

				&.pull-left,
				&.pull-right {
					@media screen and (max-width: 767px) {
						float: none !important;
					}
				}

				&.pull-left {
					margin-right: 20px;

					@media screen and (max-width: 767px) {
						margin-right: 0;
					}
				}

				&.pull-right {
					margin-left: 20px;

					@media screen and (max-width: 767px) {
						margin-left: 0;
					}
				}
			}

			br {
				@media screen and (max-width: 767px) {
					display: none;
				}
			}
		}
	}

	.entry-summary {
		font: {
			family: 'Noto Serif', serif;
			size: 19px;
		}
		color: $dark-grey;
		line-height: 1.98;
		margin-bottom: 30px;

		.moretag {
			border-bottom: 1px solid;
			padding-bottom: 3px;
		}

		@media screen and (max-width: 767px) {
			font-size: 17.5px;
		}
	}

	.post-tags-wrapper {
		text-align: center;
		margin-top: 80px;

		.sinlge-post & {
			margin-bottom: 60px;
		}

		.post-tags {
			display: inline-block;
			
			a {
				background: #ccc;
				padding: 3px 16px;
				font-size: 15px;
				margin: 3px;
				float: left;
				color: $dark-grey;
				@include border-radius(3px);
				@include transition(all .1s ease-in-out);

				&:hover,
				&:focus,
				&:active {
					background: $primary;
					color: $white;
				}
			}
		}
	}

	.post-meta {
		font: {
			size: 15px;
			style: italic;
		}
		color: $grey;

		a {
			color: $grey;
			@include transition(all .1s ease-in-out);

			&:hover,
			&:active,
			&:focus {
				color: $primary;
			}
		}

		& > div {
			float: left;
			margin-right: 20px;

			&.clearfix {
				float: none;
				margin: 0;
			}
		}

		.genericon {
			vertical-align: middle;
		}
	}

	.clearfix {
		float: none;
		margin: 0;
	}

	.post-format {
		float: left;
		margin-right: 20px;

		.genericon {
			margin-right: 5px;
		}
	}

	&.format-video {
		.post-format {
			span:before {
				content: "\f104";
			}
		}
	}

	&.format-image {
		.post-format {
			span:before {
				content: "\f102";
			}
		}
	}

	&.format-gallery {
		.post-format {
			span:before {
				content: "\f103";
			}
		}
	}

	.entry-content {
		.embed-youtube {
			iframe {
				height: auto;
				min-height: 320px;
			}
		}
	}

	footer.entry-meta {
		span.comments-link {
			margin-right: 10px;
		}
	}

	.entry-meta {
		text-align: center;
	}
}

#respond {
	margin-top: 20px;

	.comment-reply-title {
		margin-top: 0;
	}

	.comment-notes {
		margin-bottom: 15px;
	}

	#submit {
		@include button-variant($white, $primary, rgba(0, 0, 0, 0));
		padding: 4px 20px;
		@include border-radius(3px);
	}

	.comment-subscription-form {
		margin: 0;

		&:hover {
			cursor: pointer;
		}
		
		label {
			font: {
				size: 16px;
				weight: 500;
			}
		}
	}
}