// Homepage

.soliloquy-slider {
	.home & {
		padding-top: 130px;
		margin-bottom: -150px;
		background: $light-grey;

		@media screen and (max-width: 991px) {
			padding-top: 80px;
			margin-bottom: -80px;
		}

		@media screen and (max-width: 767px) {
			padding-top: 0;
			margin-bottom: 0;
		}

		.soliloquy-container {
			max-width: 100% !important;
		}
	}

	.soliloquy-controls-direction {
		.soliloquy-prev {
			left: 30px;
		}

		.soliloquy-next {
			right: 30px;
		}
	}
}

.client-showcase {
	float: none;
	margin: 0 auto 100px;

	@media screen and (max-width: 991px) {
		margin: 0 auto 20px;
	}

	@media screen and (max-width: 767px) {
		display: none;
	}

	.soliloquy-container {
		&.client-showcase-slider {
			max-height: 100% !important;

			.soliloquy-viewport {
				@include box-shadow(0 1px 2px rgba(0, 0, 0, .25));
				@include border-radius(10px);
				height: 737px !important;

				@media screen and (max-width: 1199px) {
					height: 612px !important;
				}

				@media screen and (max-width: 991px) {
					height: 479px !important;
				}
			}

			.soliloquy-slider {
				background: none !important;
			}

			.soliloquy-item {
				@include border-radius(3px);

				.soliloquy-link,
				& > .soliloquy-image {
					padding: 180px 30px 30px;
					background: url(../img/browser-window.png);
					background: {
						size: 100%;
						repeat: no-repeat;
					}

					@media screen and (max-width: 1199px) {
						padding: 150px 30px 30px;
					}

					@media screen and (max-width: 991px) {
						padding: 120px 30px 30px;
					}
				}

				.soliloquy-caption {
					max-width: 450px;
					top: 180px;
				    right: 30px;
					left: auto;
  					bottom: auto;

  					@media screen and (max-width: 1199px) {
					    top: 150px;
					}

					@media screen and (max-width: 991px) {
						max-width: 360px;
						top: 120px;
					}

					.soliloquy-caption-inside {
						background: rgba(255, 255, 255, 0.88);
						text-align: left;
						padding: 40px 50px;
						height: 527px;

						@media screen and (max-width: 1199px) {
							height: 432px;
						}

						@media screen and (max-width: 991px) {
							padding: 20px 25px;
							height: 328px;
						}

						h3 {
							font-size: 24px;
							margin-top: 0 !important;
							margin-bottom: 7px;

							@media screen and (max-width: 991px) {
								font-size: 22px;
							}

							a {
								color: $primary !important;

								&:hover,
								&:focus,
								&:active {
									color: $black !important;
								}
							}
						}

						.website-link {
							color: $primary !important;
							border-bottom: 1px solid;
							font-size: 15px;

							&:hover,
							&:focus,
							&:active {
								color: $black !important;
							}
						}

						p {
							color: $black;
							font-size: 16px;
							line-height: 175%;
							margin: 28px 0px 31px;
						}

						.lsx-border-button {
							color: $black !important;
							border-color: $black !important;
							border-width: 2px !important;
							padding: 13px 30px;
							font-weight: 500;

							&:hover,
							&:focus,
							&:active {
								background: $black !important;
								color: $white !important;
							}
						}
					}
				}
			}

			.soliloquy-controls {
				.soliloquy-prev {
					left: -60px;
				}

				.soliloquy-next {
					right: -60px;
				}

				.soliloquy-pager {
					bottom: -45px;

					.soliloquy-pager-link {
						background: #555 !important;
						@include border-radius(10px);

						&:hover,
						&:focus,
						&:active,
						&.active {
							background: $black !important;
						}
					}

					@media screen and (max-width: 991px) {
						display: none;
					}
				}
			}
		}
	}
}

.page-template-template-home-hero {
	background: $primary-darker !important;

	.wrap {
		margin-top: 60px !important;
	}

	&.header-central,
	&.header-expanded {
		.wrap {
			margin-top: 60px;

			@media screen and (max-width: 991px) {
	  			margin-top: 180px !important;
			}

			@media screen and (max-width: 767px) {
	  			margin-top: 40px !important;
			}
		}

		&.top-menu-fixed {
			.wrap {
				margin-top: 337px;
			}
		}
	}

	&.top-menu-fixed {
		header {
			& + .wrap {
				margin-top: 240px !important;

				@media screen and (max-width: 991px) {
					margin-top: 180px !important;
				}

				@media screen and (max-width: 767px) {
					margin-top: 40px !important;
				}
			}
		}

		.page-banner {
			@media screen and (max-width: 991px) {
				margin-top: 143px !important;
			}

			@media screen and (max-width: 767px) {
				margin-top: 0 !important;
			}

			& + .wrap {
				margin-top: 40px !important;
			}
		}
	}

	#primary {
		float: none;
		margin: 0 auto;

		@media screen and (max-width: 991px) {
			width: 90%;
		}

		@media screen and (max-width: 670px) {
			width: 100%;
		}

		article.page {
			margin-bottom: 115px;

			@media screen and (max-width: 767px) {
	  			margin-bottom: 50px;
			}

			h1.page-title {
				font-size: 46px;
			    text-align: center;
			    color: $white;

			    @media screen and (max-width: 767px) {
		  			font-size: 36px;
				}

				@media screen and (max-width: 670px) {
		  			font-size: 32px;
				}
			}

			.entry-content {
				color: $white;

				.hero-tagline {
					text-align: center;
					margin-top: -11px;

					em {
						font-size: 22px;
					}
				}

				hr {
					margin: 40px auto;
				}

				h1,
				h2,
				h3,
				h4,
				h5,
				h6,
				a {
					color: $white;
					font-weight: bold;
				}

				a {
					&:focus,
					&:hover,
					&:active {
						color: $black;
					}
				}

				.btn,
				button {
					@include lsx-border-button($black, $blacker);

					.btn,
					button {
						&:hover,
						&:focus,
						&:active {
							background: $blacker !important;
							border-color: $blacker !important;
						}
					}
				}
			}

			.entry-meta {
				display: none;
			}
		}	
	}

	#home-widgets {
		@include lsx-full-width($white, $dark-grey);
		margin-bottom: -40px;
		padding: {
			top: 60px !important;
			bottom: 60px !important;
		}

		@media screen and (max-width: 991px) {
  			margin-top: -70px;
		}

		@media screen and (max-width: 767px) {
			margin: 0 -8px -40px;
			padding: 40px 40px !important;
		}

		a {
			color: $primary;

			&:hover,
			&:active,
			&:focus {
				color: $primary-darker;
			}
		}
	}	
}

.front-page {
	#home-widgets {
		aside.widget {
			margin-bottom: 50px;

			@media screen and (max-width: 767px) {
				padding-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.home {
	.page-banner {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: 0;
		min-height: 100vh;

		@media screen and (max-width: 991px) {
			min-height: 60vh;
		}
	}
}