// Homepage

.client-showcase {
	float: none;
	margin: 0 auto 100px;

	@media screen and (max-width: 991px) {
		margin: 0 auto 20px;
	}

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.page-template-template-home-hero {
	background: $primary-darker !important;

	.wrap {
		margin-top: 60px !important;
	}

	&.header-central,
	&.header-expanded {
		.wrap {
			margin-top: 60px;

			@media screen and (max-width: 991px) {
	  			margin-top: 180px !important;
			}

			@media screen and (max-width: 767px) {
	  			margin-top: 40px !important;
			}
		}

		&.top-menu-fixed {
			.wrap {
				margin-top: 337px;
			}
		}
	}

	&.top-menu-fixed {
		header {
			& + .wrap {
				margin-top: 240px !important;

				@media screen and (max-width: 991px) {
					margin-top: 180px !important;
				}

				@media screen and (max-width: 767px) {
					margin-top: 40px !important;
				}
			}
		}

		.page-banner {
			@media screen and (max-width: 991px) {
				margin-top: 143px !important;
			}

			@media screen and (max-width: 767px) {
				margin-top: 0 !important;
			}

			& + .wrap {
				margin-top: 40px !important;
			}
		}
	}

	#primary {
		float: none;
		margin: 0 auto;

		@media screen and (max-width: 991px) {
			width: 90%;
		}

		@media screen and (max-width: 670px) {
			width: 100%;
		}

		article.page {
			margin-bottom: 115px;

			@media screen and (max-width: 767px) {
	  			margin-bottom: 50px;
			}

			h1.page-title {
				font-size: 46px;
			    text-align: center;
			    color: $white;

			    @media screen and (max-width: 767px) {
		  			font-size: 36px;
				}

				@media screen and (max-width: 670px) {
		  			font-size: 32px;
				}
			}

			.entry-content {
				color: $white;

				.hero-tagline {
					text-align: center;
					margin-top: -11px;

					em {
						font-size: 22px;
					}
				}

				hr {
					margin: 40px auto;
				}

				h1,
				h2,
				h3,
				h4,
				h5,
				h6,
				a {
					color: $white;
					font-weight: bold;
				}

				a {
					&:focus,
					&:hover,
					&:active {
						color: $black;
					}
				}

				.btn,
				button {
					@include lsx-border-button($black, $blacker);

					.btn,
					button {
						&:hover,
						&:focus,
						&:active {
							background: $blacker !important;
							border-color: $blacker !important;
						}
					}
				}
			}

			.entry-meta {
				display: none;
			}
		}	
	}

	#home-widgets {
		@include lsx-full-width($white, $dark-grey);
		margin-bottom: -40px;
		padding: {
			top: 60px !important;
			bottom: 60px !important;
		}

		@media screen and (max-width: 991px) {
  			margin-top: -70px;
		}

		@media screen and (max-width: 767px) {
			margin: 0 -8px -40px;
			padding: 40px 40px !important;
		}

		a {
			color: $primary;

			&:hover,
			&:active,
			&:focus {
				color: $primary-darker;
			}
		}
	}	
}

.front-page {
	#home-widgets {
		aside.widget {
			margin-bottom: 50px;

			@media screen and (max-width: 767px) {
				padding-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.home {
	.page-banner {
		display: flex;
		align-items: center;
		position: relative;
		padding: 0;
		min-height: 100vh;

		@media screen and (max-width: 991px) {
			min-height: 60vh;
		}
	}
}