// Homepage

.client-showcase {
	float: none;
	margin: 0 auto 100px;

	@media screen and (max-width: 991px) {
		margin: 0 auto 20px;
	}

	@media screen and (max-width: 767px) {
		display: none;
	}
}

.front-page {
	#home-widgets {
		aside.widget {
			margin-bottom: 50px;

			@media screen and (max-width: 767px) {
				padding-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
