// Portfolio

.page-template-template-portfolio, .post-type-archive-jetpack-portfolio {
	.page-title {
		margin-bottom: 40px;
	} 
	
	#filterNav { 
		list-style: none; 
		padding: 0;
		margin-bottom: 20px;

		li {
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;

			a {
				display: block;
				background: $grey;
				color: $white;
				padding: 3px 15px;
				border: none !important;
				@include border-radius(3px);

				&:hover,
				&.selected {
					background: $black;
				}
			}
		}
	}
}

.single-jetpack-portfolio {
	#primary {
		float: left;

		@media screen and (max-width: 768px) {
			width: 100% !important;		
		}

		.info-box-mobile {
			display: none;

			.sticky-wrapper {
				height: auto !important;
			}

			.portfolio-meta {
				position: relative !important;
				top: auto !important;
				width: auto !important;
			}

			@media screen and (max-width: 768px) {
				display: block;
			}
		}
	}

	#secondary {
		float: right;

		@media screen and (max-width: 992px) {
			float: none;

			.sticky-wrapper {
				height: auto !important;
			}
			
			.portfolio-meta {
				position: relative !important;
				top: auto !important;
				width: auto !important;
			}
		}

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	.jetpack-portfolio {
		header.page-header {
			display: none;
			margin-bottom: 10px;

			@media print {
				display: block;
			}
		}

		.gallery {
			dl.gallery-item {
				width: 100% !important;

				dt,
				dl {
					border: none !important;
				}

				img {
					border: 0 !important; 
					width: 100% !important;
			  		border: 1px solid #ddd !important;
			  		@include border-radius(3px);
				}
			}
		}
	}
}

// Jetpack Sharing and Related Posts

.sharedaddy,
.jp-relatedposts {
	@media print {
		display: none !important;
	}

	.jp-relatedposts-post {
		font-family: 'Open Sans', sans-serif;

		a {
			border: none !important;
		}

		img {
			margin-bottom: 10px;
		}

		h4.jp-relatedposts-post-title {
			margin-bottom: 10px !important;
			line-height: 200% !important;

			a {
				font: {
					family: 'Raleway', 'Open Sans', sans-serif !important;
					size: 18px !important;
					weight: 600 !important;
				}
			}
		}

		p {
			line-height: 200% !important;
		}
	}
}

.sharedaddy {
	margin: 60px 0 0;
	text-align: center;

	.sd-sharing {
		display: inline-block;
		padding: 20px 20px 30px;
   		border-bottom: 1px solid #ccc;

		.sd-title {
		    font: {
		    	family: 'Noto Serif', serif !important;
		    	size: 20px;
		    	weight: 400;
		    }
		    color: $black;

		    &:before {
		    	display: none;
		    }
		}

		.sd-content {
			ul {
				li {
					a {
						padding: 12px;
						margin: 0 8px 5px 0;
					}
				}
			}
		}
	}		 
}

.jp-relatedposts {
	clear: both;
}

.read-more {
	margin-right: 10px;
}

#infinite-handle {
	margin-top: 60px;

	@media screen and (max-width: 768px) {
		margin-top: 20px;
	}

	span {
		background: $primary !important;
		font: {
			size: 15px !important;
			weight: 600;
		}
		padding: 9px 17px !important;
		text-transform: uppercase;
		@include border-radius(3px);

		@media screen and (max-width: 800px) {
			text-align: center;
		}

		&:hover {
			background: $black !important;
		}
	}

	button {
		border-radius: 0 !important;
	}
}