@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

.no-js img.lazyload {
	display: none;
}

img.lazyload {
	opacity: 0;
}

img.lazyloading {
	opacity: 1;
	@include transition(opacity 500ms ease-in-out);
	background: #f7f7f7 url(../svg/loading.svg) no-repeat center center;
	background-size: 35px 35px;
	min-height: 35px;
	min-width: 35px;
}

img.lazyloaded {
	opacity: 1;
	@include transition(opacity 10ms ease-in-out);
	background: none;
}