// Classy Homepage Template

.classy-home-content {
	.classy-home-content-section-wrapper {
		@include lsx-full-width($off-white, #777);
		margin: {
			top: 0;
			bottom: 0;
		}
		padding: {
			top: 70px;
			bottom: 70px;
		}
		border-bottom: 1px solid #ddd;

		&:last-child {
			border-bottom: none;
		}



		a {
			color: $primary;

			&:hover,
			&:active,
			&:focus {
				color: $primary-darker;
			}
		}

		.classy-home-content-section {
			text-align: center;
				
			@media screen and (max-width: 991px) {
				margin-bottom: 60px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			& > h3 {
				color: $black;
				font-size: 30px;
				margin-bottom: 14px;
			}

			& > span {
				display: block;
				font-size: 19px;
				margin-bottom: 40px;
			}

			[class*="-slider"] {
				.slide-container {
					background-size: cover;
					padding: 120px 40px;

					@media screen and (max-width: 991px) {
						padding: 100px 40px;
					}

					@media screen and (max-width: 767px) {
						margin-bottom: 80px 40px;
					}

					.caption {
						h3 {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		&#classy-home-intro {
			.lsx-hero-unit {
				text-align: left;
				font-size: 18px;

				h1 {
					text-align: center;
					color: $black;
					margin-bottom: 40px;

					@media screen and (max-width: 991px) {
						text-align: left;
					}
				}

				h3 {
					color: $black;
					margin-bottom: 24px;
				}

				ul {
					@include clear-list;

					li {
						margin-bottom: 12px;

						.fa {
							vertical-align: middle;
							margin-right: 10px;
							font-size: 20px;
						}
					}
				}
			}
		}

		&#classy-home-intro,
		&#classy-home-blog,
		&#classy-home-activities-restaurants {
			background: $white;
		}

		&#classy-home-offers {
			@include lsx-full-width($primary, #ccc);

			.classy-home-content-section {
				margin: 0 auto;
				float: none;

				& > h3 {
					color: $white;
				}

				& > span {
					a {
						color: $white !important;

						&:hover,
						&:active,
						&:focus {
							color: $black !important;
						}
					}
				}
			}

			.offer-slider {
				.slick-track {
					width: auto !important;
				}

				.slide-title {
					color: $black;
					margin: 0 !important;
				}
			}
		}

		&#classy-home-gallery {
			img  {
				@media screen and (max-width: 767px) {
					margin-bottom: 24px;
				}
			}
		}

		&#classy-home-blog {
			.post {
				@include lsx-hover-cards;
			}
		}
	}
}


.page-template-template-page-hero {
	ul.breadcrumb {
		position: absolute;
		top: -25px;

		li.active {
			@include border-radius-top(0);
		}

		@media screen and (max-width: 1199px) {
  			top: -17px;
		}

		@media screen and (max-width: 991px) {
  			top: -7px;
		}
	}

	.lsx-full-width-footer {
		margin-bottom: -120px;
		padding: 40px 9999rem;


		@media screen and (max-width: 991px) {
  			margin-bottom: -110px;
  			padding: 30px 9999rem;
		}

		@media screen and (max-width: 767px) {
  			margin-bottom: -80px;
  			padding: 20px 9999rem;
		}
	}

	.edit-link {
		display: none !important;
	}

}

// 404 Template

.error404 {
	.wrap {
		#primary {
			width: 100%;

			.error-404 {
				text-align: center;

				.page-title {
					border: none;
					padding: 0;
					margin-bottom: 18px;
					font-size: 60px;
					color: #999;
				}
			}
		}
	}
}	