@charset "UTF-8";
#top-menu .top-menu > .menu, .social-navigation > ul, .footer-navigation > ul { list-style: none; padding-right: 0; }

.social-navigation > ul > li a[href*="codepen"], .social-navigation > ul > li a[href*="digg"], .social-navigation > ul > li a[href*="dribbble"], .social-navigation > ul > li a[href*="dropbox"], .social-navigation > ul > li a[href*="facebook"], .social-navigation > ul > li a[href*="feed"], .social-navigation > ul > li a[href*="flickr"], .social-navigation > ul > li a[href*="foursquare"], .social-navigation > ul > li a[href*="getpocket"], .social-navigation > ul > li a[href*="github"], .social-navigation > ul > li a[href*="instagram"], .social-navigation > ul > li a[href*="linkedin"], .social-navigation > ul > li a[href*="mailto"], .social-navigation > ul > li a[href*="pinterest"], .social-navigation > ul > li a[href*="plus.google"], .social-navigation > ul > li a[href*="polldaddy"], .social-navigation > ul > li a[href*="reddit"], .social-navigation > ul > li a[href*="spotify"], .social-navigation > ul > li a[href*="stumbleupon"], .social-navigation > ul > li a[href*="tumblr"], .social-navigation > ul > li a[href*="twitch"], .social-navigation > ul > li a[href*="twitter"], .social-navigation > ul > li a[href*="vimeo"], .social-navigation > ul > li a[href*="wordpress"], .social-navigation > ul > li a[href*="youtube"] { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.social-navigation > ul > li a[href*="codepen"]:before, .social-navigation > ul > li a[href*="digg"]:before, .social-navigation > ul > li a[href*="dribbble"]:before, .social-navigation > ul > li a[href*="dropbox"]:before, .social-navigation > ul > li a[href*="facebook"]:before, .social-navigation > ul > li a[href*="feed"]:before, .social-navigation > ul > li a[href*="flickr"]:before, .social-navigation > ul > li a[href*="foursquare"]:before, .social-navigation > ul > li a[href*="getpocket"]:before, .social-navigation > ul > li a[href*="github"]:before, .social-navigation > ul > li a[href*="instagram"]:before, .social-navigation > ul > li a[href*="linkedin"]:before, .social-navigation > ul > li a[href*="mailto"]:before, .social-navigation > ul > li a[href*="pinterest"]:before, .social-navigation > ul > li a[href*="plus.google"]:before, .social-navigation > ul > li a[href*="polldaddy"]:before, .social-navigation > ul > li a[href*="reddit"]:before, .social-navigation > ul > li a[href*="spotify"]:before, .social-navigation > ul > li a[href*="stumbleupon"]:before, .social-navigation > ul > li a[href*="tumblr"]:before, .social-navigation > ul > li a[href*="twitch"]:before, .social-navigation > ul > li a[href*="twitter"]:before, .social-navigation > ul > li a[href*="vimeo"]:before, .social-navigation > ul > li a[href*="wordpress"]:before, .social-navigation > ul > li a[href*="youtube"]:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 22px; transition: color 300ms ease-in-out; }

.form-control { border-width: 2px; box-shadow: none; font-size: 18px; line-height: 1.33; padding: 10px 30px; transition: border-color 150ms ease-in-out; }

*, *:focus, *:active:focus { outline: none !important; }

html { overflow-x: hidden; }

body { direction: rtl; }

img { display: inline-block; max-width: 100%; height: auto; }

.btn { box-shadow: -2px 2px 0 0 #27639e; transition: all 100ms ease; }

.btn, .btn:active, .btn:visited { border: 0 none; display: inline-block; font-size: 15px; right: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; }

.btn, .btn:active, .btn:visited { background-color: #418AD0; color: #FFF; }

.btn:hover, .btn:hover:active, .btn:focus { background-color: #367DC0; color: #FFF; }

.btn:active { right: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

.cta-btn { box-shadow: -2px 2px 0 0 #ab7800; transition: all 100ms ease; }

.cta-btn, .cta-btn:active, .cta-btn:visited { background-color: #F7AE00; color: #FFF; }

.cta-btn:hover, .cta-btn:hover:active, .cta-btn:focus { background-color: #EDA700; color: #FFF; }

.cta-btn:active { right: 2px; top: 2px; box-shadow: 0 0 0 0 #ab7800; }

.wrap .widget { padding: 85px 0; }

.wrap .widget + .widget { padding-top: 0; }

.wrap .widget h3, .wrap .widget .widget-title { font-size: 30px; letter-spacing: 1px; line-height: 1.2; margin-bottom: 45px; margin-top: 0; text-align: center; }

.wrap .widget h3:after, .wrap .widget .widget-title:after { background-color: #E2E1E1; content: ''; display: block; height: 2px; margin: 20px auto 0; width: 80px; }

.wrap .widget h3 > small, .wrap .widget .widget-title > small { color: inherit; display: block; letter-spacing: .7px; line-height: inherit; margin-top: 8px; }

.wrap .widget .textwidget, .wrap .widget p { margin-bottom: 0; }

.wrap .widget p { color: inherit; }

.wrap .widget p + p { margin-top: 24px; }

.wrap .widget p + p > .btn { margin-top: 21px; }

.wrap .widget a:not(.btn) { transition: all 300ms ease; }

.wrap .widget .btn { margin-top: 45px; }

.wrap .widget .lsx-full-width, .wrap .widget .lsx-full-width-alt { margin: 0 -9999px; padding: 85px 9999px; }

.wrap .widget .lsx-full-width h3:after, .wrap .widget .lsx-full-width .widget-title:after, .wrap .widget .lsx-full-width-alt h3:after, .wrap .widget .lsx-full-width-alt .widget-title:after { display: none; }

body { background-color: #F6F6F6; }

.lsx-breaker { border-bottom-color: #E2E1E1; }

.wrap .widget { color: #4A4A4A; }

.wrap .widget h3, .wrap .widget .widget-title { color: #4A4A4A; }

.wrap .widget a:not(.btn), .wrap .widget a:not(.btn):active, .wrap .widget a:not(.btn):visited { color: #418AD0; }

.wrap .widget a:not(.btn):hover, .wrap .widget a:not(.btn):hover:active, .wrap .widget a:not(.btn):focus { color: #F7AE00; }

.wrap .widget .lsx-full-width { background-color: #FFF; color: #4A4A4A; }

.wrap .widget .lsx-full-width h3, .wrap .widget .lsx-full-width .widget-title { color: #4A4A4A; }

.wrap .widget .lsx-full-width a:not(.btn), .wrap .widget .lsx-full-width a:not(.btn):active, .wrap .widget .lsx-full-width a:not(.btn):visited { color: #418AD0; }

.wrap .widget .lsx-full-width a:not(.btn):hover, .wrap .widget .lsx-full-width a:not(.btn):hover:active, .wrap .widget .lsx-full-width a:not(.btn):focus { color: #F7AE00; }

.wrap .widget .lsx-full-width-alt { background-color: #418AD0; color: #FFF; }

.wrap .widget .lsx-full-width-alt h3, .wrap .widget .lsx-full-width-alt .widget-title { color: #FFF; }

.wrap .widget .lsx-full-width-alt a:not(.btn), .wrap .widget .lsx-full-width-alt a:not(.btn):active, .wrap .widget .lsx-full-width-alt a:not(.btn):visited { color: #374750; }

.wrap .widget .lsx-full-width-alt a:not(.btn):hover, .wrap .widget .lsx-full-width-alt a:not(.btn):hover:active, .wrap .widget .lsx-full-width-alt a:not(.btn):focus { color: #F7AE00; }

#top-menu > .container { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; height: 32px; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding: 0; width: 100%; }

.header-central #top-menu { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#top-menu .top-menu { height: 100%; }

#top-menu .top-menu:not(.pull-left) { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

#top-menu .top-menu.pull-left { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; float: none !important; }

.header-central #top-menu .top-menu.pull-left { -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; }

#top-menu .top-menu > .menu { height: 100%; margin-bottom: 0; }

#top-menu .top-menu > .menu:before, #top-menu .top-menu > .menu:after { content: " "; display: table; }

#top-menu .top-menu > .menu:after { clear: both; }

#top-menu .top-menu > .menu > .menu-item { display: table; float: right; height: 100%; }

#top-menu .top-menu > .menu > .menu-item > a { display: table-cell; font-size: 13px; padding: 0 15px; vertical-align: middle; }

@media (min-width: 768px) { #top-menu .top-menu > .menu > .menu-item > a { transition: all 300ms ease; } }

#top-menu .top-menu > .menu > .menu-item > a:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 15px; padding-left: 5px; transition: all 300ms ease; }

@media (max-width: 767px) { #top-menu .top-menu > .menu > .menu-item:not(.cta) > a { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; padding: 0; }
  #top-menu .top-menu > .menu > .menu-item:not(.cta) > a:before { font-size: 18px; padding: 0 5px; } }

#top-menu .top-menu > .menu > .menu-item.map > a:before { content: ""; }

#top-menu .top-menu > .menu > .menu-item.tel > a:before { content: ""; }

#top-menu .top-menu > .menu > .menu-item.email > a:before { content: ""; }

#top-menu .top-menu > .menu > .menu-item.cta { margin-right: 15px; padding-left: 0; }

#top-menu .top-menu > .menu > .menu-item.cta > a { box-shadow: -2px 2px 0 0 #ab7800; transition: all 100ms ease; }

#top-menu .top-menu > .menu > .menu-item.cta > a, #top-menu .top-menu > .menu > .menu-item.cta > a:active, #top-menu .top-menu > .menu > .menu-item.cta > a:visited { border: 0 none; display: inline-block; font-size: 15px; right: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; }

#top-menu .top-menu > .menu > .menu-item.cta > a, #top-menu .top-menu > .menu > .menu-item.cta > a:active, #top-menu .top-menu > .menu > .menu-item.cta > a:visited { background-color: #F7AE00; color: #FFF; }

#top-menu .top-menu > .menu > .menu-item.cta > a:hover, #top-menu .top-menu > .menu > .menu-item.cta > a:hover:active, #top-menu .top-menu > .menu > .menu-item.cta > a:focus { background-color: #CE9100; color: #FFF; }

#top-menu .top-menu > .menu > .menu-item.cta > a:active { right: 2px; top: 2px; box-shadow: 0 0 0 0 #ab7800; }

#top-menu .top-menu > .menu > .menu-item.cta > a, #top-menu .top-menu > .menu > .menu-item.cta > a:active, #top-menu .top-menu > .menu > .menu-item.cta > a:visited { border-radius: 0; box-shadow: none; display: table-cell; font-size: 12px; padding-bottom: 0; padding-top: 0; transition: all 300ms ease; }

@media (max-width: 1199px) { #top-menu .dropdown.open > .dropdown-menu { opacity: 1; -webkit-transform: scale(1, 1); transform: scale(1, 1); } }

@media (min-width: 1200px) { #top-menu .dropdown:hover > .dropdown-menu { opacity: 1; -webkit-transform: scale(1, 1); transform: scale(1, 1); } }

#top-menu .dropdown-menu { box-shadow: none; border: 0 none; border-radius: 0; display: block; right: 15px; margin: 0; opacity: 0; padding: 0; transition: all 300ms ease; -webkit-transform: scale(1, 0); transform: scale(1, 0); -webkit-transform-origin: top center; transform-origin: top center; z-index: 1001; }

#top-menu .dropdown-menu > .menu-item { transition: all 300ms ease; }

#top-menu .dropdown-menu > .menu-item.dropdown:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; position: absolute; left: 15px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#top-menu .dropdown-menu > .menu-item > a { background-color: inherit; color: inherit; font-size: 14px; padding: 12px 15px 12px 40px; }

#top-menu .dropdown-menu > .menu-item > a:hover, #top-menu .dropdown-menu > .menu-item > a:active:hover, #top-menu .dropdown-menu > .menu-item > a:focus { background-color: transparent; }

#top-menu .dropdown-menu > .menu-item .dropdown-menu { right: 100%; top: 0; }

#top-menu { background-color: #F2F2F2; }

#top-menu .top-menu > .menu > .menu-item.open > a, #top-menu .top-menu > .menu > .menu-item:hover > a { color: #F7AE00; }

#top-menu .top-menu > .menu > .menu-item.open > a:before, #top-menu .top-menu > .menu > .menu-item:hover > a:before { color: #F7AE00; }

#top-menu .top-menu > .menu > .menu-item > a { color: #418AD0; }

#top-menu .top-menu > .menu > .menu-item > a:before { color: #434343; }

#top-menu .dropdown-menu { background-color: #374750; }

#top-menu .dropdown-menu > .menu-item { color: #FFF; }

#top-menu .dropdown-menu > .menu-item.open, #top-menu .dropdown-menu > .menu-item:hover, #top-menu .dropdown-menu > .menu-item:active:hover, #top-menu .dropdown-menu > .menu-item:focus { background-color: #2B3840; color: #418AD0; }

#top-menu .dropdown-menu > .menu-item .dropdown-menu > .menu-item { background-color: #2B3840; }

#masthead { border: 0 none; border-radius: 0; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); margin-bottom: 0; min-height: none; }

#masthead > .container { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: relative; }

@media (min-width: 768px) and (max-width: 1199px) { #masthead > .container { padding-right: 30px; padding-left: 30px; } }

@media (max-width: 1199px) { #masthead > .container { width: 100%; } }

@media (min-width: 1200px) { #masthead > .container { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; min-height: 80px; padding-right: 15px; padding-left: 15px; } }

@media (max-width: 1199px) { #masthead .navbar-header { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; margin: 0; width: 100%; } }

#masthead .navbar-header .site-branding { padding: 15px 0; }

@media (max-width: 1199px) { #masthead .navbar-header .site-branding { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; } }

#masthead .navbar-header .site-title { margin: 0; }

#masthead .navbar-header .site-title > a { transition: color 300ms ease; }

#masthead .navbar-header .site-description { margin-bottom: 0; }

#masthead .navbar-header .custom-logo-link > img { margin-bottom: 10px; margin-top: 10px; max-height: 50px; max-width: 80%; width: auto; transition: all 300ms ease; }

@media (min-width: 768px) { #masthead .navbar-header .custom-logo-link > img { max-width: none; } }

@media (min-width: 1200px) { #masthead .navbar-header .custom-logo-link > img { margin-bottom: 15px; margin-top: 15px; } }

#masthead { background-color: #FFF; }

#masthead .navbar-header .site-title > a, #masthead .navbar-header .site-title > a:active, #masthead .navbar-header .site-title > a:visited { color: #D84E2E; }

#masthead .navbar-header .site-title > a:hover, #masthead .navbar-header .site-title > a:hover:active, #masthead .navbar-header .site-title > a:focus { color: #F7AE00; }

#masthead .navbar-header .site-description { color: #434343; }

@media (max-width: 1199px) { #masthead .wrapper-toggle { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-right: -15px; margin-left: -15px; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; width: calc(100% + 30px); }
  #masthead .wrapper-toggle.open .mobile-menu-title:after { content: ""; }
  #masthead .wrapper-toggle .mobile-menu-title { font-size: 14px; font-weight: 700; letter-spacing: .5px; line-height: 1; text-transform: uppercase; text-align: left; }
  #masthead .wrapper-toggle .mobile-menu-title:after { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; margin-right: 5px; text-align: center; width: 16px; }
  #masthead .wrapper-toggle .navbar-toggle { border: 0 none; border-radius: 0; margin: 0; padding: 10px 15px; }
  #masthead .wrapper-toggle .navbar-toggle > .icon-bar { border-radius: 0; width: 30px; }
  #masthead .wrapper-toggle .navbar-toggle > .icon-bar + .icon-bar { margin-top: 5px; }
  #masthead .primary-navbar { border: 0 none; box-shadow: none; margin-right: -15px; margin-left: -15px; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; width: calc(100% + 30px); z-index: 1000; }
  #masthead .primary-navbar > .nav { margin-bottom: 0; margin-top: 0; padding: 5px 20px 10px; }
  #masthead .primary-navbar > .nav .caret { display: none; }
  #masthead .primary-navbar > .nav > .menu-item + .menu-item > a:before { background-color: #979797; content: ''; height: 1px; right: 0; position: absolute; left: 0; top: 0; }
  #masthead .primary-navbar .menu-item.active > a, #masthead .primary-navbar .menu-item > a { font-size: 16px; padding: 10px 0; }
  #masthead .primary-navbar .menu-item.dropdown > a { position: relative; }
  #masthead .primary-navbar .menu-item.dropdown > a:after { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; margin-right: 10px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  #masthead .primary-navbar .dropdown-menu { border-radius: 0; padding: 0; }
  #masthead .primary-navbar .dropdown-menu > .menu-item a { padding-right: 15px; }
  #masthead .primary-navbar .dropdown-menu > .menu-item.open > a:before { background-color: #979797; bottom: 0; content: ''; height: 1px; right: 15px; position: absolute; left: 0; }
  #masthead .primary-navbar .dropdown-menu .dropdown-menu > .menu-item a { padding-right: 30px; } }

@media (min-width: 768px) and (max-width: 1199px) { #masthead .wrapper-toggle, #masthead .primary-navbar { margin-right: -30px; margin-left: -30px; width: calc(100% + 60px); } }

@media (min-width: 1200px) { #masthead .mobile-menu-title { display: none; }
  #masthead .primary-navbar { -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; margin-right: 100px; padding: 0; position: relative; }
  #masthead .primary-navbar > .nav { height: 100%; right: 0; position: absolute; left: 0; }
  #masthead .primary-navbar > .nav > .menu-item { display: table; height: 100%; }
  #masthead .primary-navbar > .nav > .menu-item > a, #masthead .primary-navbar > .nav > .menu-item.active > a { display: table-cell; font-size: 14px; padding: 0 15px; vertical-align: middle; transition: all 300ms ease; }
  #masthead .primary-navbar > .nav .menu-item-has-children:hover > .dropdown-menu { opacity: 1; -webkit-transform: scale(1, 1); transform: scale(1, 1); }
  #masthead .primary-navbar > .nav .dropdown-menu { box-shadow: none; border: 0 none; border-radius: 0; display: block; margin: 0; opacity: .3; padding: 0; transition: all 300ms ease; -webkit-transform: scale(1, 0); transform: scale(1, 0); -webkit-transform-origin: top center; transform-origin: top center; }
  #masthead .primary-navbar > .nav .dropdown-menu > .menu-item { transition: all 300ms ease; }
  #masthead .primary-navbar > .nav .dropdown-menu > .menu-item.dropdown:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; position: absolute; left: 15px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  #masthead .primary-navbar > .nav .dropdown-menu > .menu-item > a { background-color: inherit; color: inherit; font-size: 14px; padding: 12px 15px 12px 40px; }
  #masthead .primary-navbar > .nav .dropdown-menu > .menu-item > a:hover, #masthead .primary-navbar > .nav .dropdown-menu > .menu-item > a:active:hover, #masthead .primary-navbar > .nav .dropdown-menu > .menu-item > a:focus { background-color: transparent; }
  #masthead .primary-navbar > .nav .dropdown-menu > .menu-item .dropdown-menu { right: 100%; top: 0; } }

@media (max-width: 1199px) { #masthead .wrapper-toggle { background-color: #374750; }
  #masthead .wrapper-toggle .mobile-menu-title { color: #FFF; }
  #masthead .wrapper-toggle .navbar-toggle { background-color: #374750; }
  #masthead .wrapper-toggle .navbar-toggle > .icon-bar { background-color: #FFF; }
  #masthead .primary-navbar { background-color: #374750; }
  #masthead .primary-navbar .menu-item.active > a, #masthead .primary-navbar .menu-item > a { background-color: #374750; color: #FFF; }
  #masthead .primary-navbar .dropdown-menu > .menu-item a { color: #FFF; }
  #masthead .primary-navbar .dropdown-menu .dropdown-menu > .menu-item a { color: #FFF; } }

@media (min-width: 1200px) { #masthead .primary-navbar > .nav > .menu-item:hover > a, #masthead .primary-navbar > .nav > .menu-item.active:hover > a { background-color: #374750; color: #418AD0; }
  #masthead .primary-navbar > .nav > .menu-item > a, #masthead .primary-navbar > .nav > .menu-item.active > a { background-color: #FFF; color: #515151; }
  #masthead .primary-navbar > .nav .dropdown-menu { background-color: #374750; }
  #masthead .primary-navbar > .nav .dropdown-menu > .menu-item { color: #FFF; }
  #masthead .primary-navbar > .nav .dropdown-menu > .menu-item:hover, #masthead .primary-navbar > .nav .dropdown-menu > .menu-item:active:hover, #masthead .primary-navbar > .nav .dropdown-menu > .menu-item:focus { background-color: #2B3840; color: #418AD0; }
  #masthead .primary-navbar > .nav .dropdown-menu .dropdown-menu .menu-item { background-color: #2B3840; } }

#masthead #searchform { display: inline-block; line-height: 1; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; position: absolute; left: 15px; top: 11px; transition: all 300ms ease-in-out; }

@media (min-width: 768px) { #masthead #searchform { top: 16px; } }

@media (min-width: 1200px) { #masthead #searchform { top: 22px; }
  #masthead #searchform:hover .search-field, #masthead #searchform:active .search-field, #masthead #searchform:focus .search-field { opacity: 1; width: 290px; z-index: 999; }
  #masthead #searchform:hover .search-submit, #masthead #searchform:active .search-submit, #masthead #searchform:focus .search-submit { color: #4A4A4A; cursor: pointer; font-weight: 700; z-index: 9999; }
  #masthead #searchform:hover .search-submit .fa, #masthead #searchform:active .search-submit .fa, #masthead #searchform:focus .search-submit .fa { font-weight: 700; } }

@media (max-width: 1199px) { #masthead #searchform.hover .search-field { opacity: 1; width: 290px; z-index: 999; }
  #masthead #searchform.hover .search-submit { color: #4A4A4A; cursor: pointer; font-weight: 700; z-index: 9999; }
  #masthead #searchform.hover .search-submit .fa { font-weight: 700; } }

#masthead #searchform .input-group { display: inline-block; }

#masthead #searchform .input-group-btn { width: auto; }

#masthead .search-field { font-size: 14px; height: auto; opacity: 0; padding: 7px 11px; position: absolute; left: 0; transition: all 400ms ease-in-out; width: 10px; }

@media (min-width: 1200px) { #masthead .search-field:hover, #masthead .search-field:active, #masthead .search-field:focus { opacity: 1; width: 290px; z-index: 999; } }

#searchform .search-submit { padding: 0 22px; line-height: 1; box-shadow: none; }

#searchform .search-submit .fa { vertical-align: middle; font-size: 16px; line-height: 44px; }

#masthead #searchform .search-submit { padding: 10px 12px; background: none !important; color: #4A4A4A; z-index: 999; }

#masthead #searchform .search-submit .fa { font-size: 14px; line-height: 1; }

#masthead #searchform .search-submit:active { box-shadow: none; right: 0; top: 0; }

@media (min-width: 1200px) { #masthead #searchform .search-submit:hover, #masthead #searchform .search-submit:active, #masthead #searchform .search-submit:focus { color: #4A4A4A; }
  #masthead #searchform .search-submit:hover .fa, #masthead #searchform .search-submit:active .fa, #masthead #searchform .search-submit:focus .fa { font-weight: bold; } }

#footer-cta { padding-bottom: 40px; padding-top: 40px; }

#footer-cta .lsx-hero-unit { margin: 0 auto; min-width: 290px; text-align: center; }

#footer-cta .widget-title { font-size: 30px; font-weight: 400; line-height: 1.2; margin-bottom: 10px; margin-top: 0; }

#footer-cta p, #footer-cta .textwidget { line-height: 1.35; margin-bottom: 30px; }

@media (min-width: 1200px) { #footer-cta p, #footer-cta .textwidget { font-size: 22px; } }

#footer-cta { background-color: #2B3840; color: #FFF; }

#footer-cta a:not(.btn):not(.button), #footer-cta a:not(.btn):not(.button):active, #footer-cta a:not(.btn):not(.button):visited { color: #418AD0; }

#footer-cta a:not(.btn):not(.button):hover, #footer-cta a:not(.btn):not(.button):hover:active, #footer-cta a:not(.btn):not(.button):focus { color: #367DC0; }

#footer-widgets { padding: 15px 0 45px; }

#footer-widgets .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; }

@media (min-width: 1200px) { #footer-widgets .row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

#footer-widgets .row div[class^='col-'] { float: none; overflow: hidden; width: auto; }

@media (min-width: 1200px) { #footer-widgets .row div[class^='col-'] { -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; } }

#footer-widgets .widget { margin-top: 30px; }

#footer-widgets .widget a { display: inline-block; }

#footer-widgets .widget br + a { margin-top: 5px; }

#footer-widgets .widget .fa { font-size: 22px; margin-left: 5px; vertical-align: text-top; }

#footer-widgets .widget-title { font-weight: 700; margin-bottom: 20px; margin-top: 0; }

#footer-widgets .textwidget { letter-spacing: .5px; }

#footer-widgets { background-color: #333; color: #FFF; }

#footer-widgets a:not(.btn):not(.button), #footer-widgets a:not(.btn):not(.button):active, #footer-widgets a:not(.btn):not(.button):visited { color: #F7AE00; }

#footer-widgets a:not(.btn):not(.button):hover, #footer-widgets a:not(.btn):not(.button):hover:active, #footer-widgets a:not(.btn):not(.button):focus { color: #CE9100; }

.content-info { padding: 15px 0; font-size: 14px; }

@media (min-width: 1200px) { .content-info > .container { padding-right: 50px; padding-left: 50px; width: 100%; } }

@media (min-width: 1200px) { .content-info > .container > .row { margin-right: -50px; margin-left: -50px; } }

.content-info > .container > .row > div[class*='col-'] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media (min-width: 1200px) { .content-info > .container > .row > div[class*='col-'] { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding-right: 50px; padding-left: 50px; } }

.content-info .credit { margin: 0; }

@media (min-width: 1200px) { .content-info .credit { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; } }

.social-navigation > ul, .footer-navigation > ul { margin-bottom: 0; }

.social-navigation { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

@media (min-width: 1200px) { .social-navigation { margin-right: 50px; } }

.social-navigation > ul { margin-right: -8px; line-height: 1; }

.social-navigation > ul > li { display: inline-block; padding-right: 8px; padding-left: 8px; }

@media (min-width: 1200px) { .social-navigation > ul { margin-right: 0; } }

@media (max-width: 1199px) { .social-navigation > ul > li { padding-bottom: 8px; padding-top: 8px; } }

.social-navigation > ul > li a[href*="codepen"]:before { content: ""; }

.social-navigation > ul > li a[href*="digg"]:before { content: ""; }

.social-navigation > ul > li a[href*="dribbble"]:before { content: ""; }

.social-navigation > ul > li a[href*="dropbox"]:before { content: ""; }

.social-navigation > ul > li a[href*="facebook"]:before { content: ""; }

.social-navigation > ul > li a[href*="feed"]:before { content: ""; }

.social-navigation > ul > li a[href*="flickr"]:before { content: ""; }

.social-navigation > ul > li a[href*="foursquare"]:before { content: ""; }

.social-navigation > ul > li a[href*="getpocket"]:before { content: ""; }

.social-navigation > ul > li a[href*="github"]:before { content: ""; }

.social-navigation > ul > li a[href*="instagram"]:before { content: ""; }

.social-navigation > ul > li a[href*="linkedin"]:before { content: ""; }

.social-navigation > ul > li a[href*="mailto"]:before { content: ""; }

.social-navigation > ul > li a[href*="pinterest"]:before { content: ""; }

.social-navigation > ul > li a[href*="plus.google"]:before { content: ""; }

.social-navigation > ul > li a[href*="polldaddy"]:before { content: ""; }

.social-navigation > ul > li a[href*="reddit"]:before { content: ""; }

.social-navigation > ul > li a[href*="spotify"]:before { content: ""; }

.social-navigation > ul > li a[href*="stumbleupon"]:before { content: ""; }

.social-navigation > ul > li a[href*="tumblr"]:before { content: ""; }

.social-navigation > ul > li a[href*="twitch"]:before { content: ""; }

.social-navigation > ul > li a[href*="twitter"]:before { content: ""; }

.social-navigation > ul > li a[href*="vimeo"]:before { content: ""; }

.social-navigation > ul > li a[href*="wordpress"]:before { content: ""; }

.social-navigation > ul > li a[href*="youtube"]:before { content: ""; }

.footer-navigation > ul { margin-right: -10px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: 4px; padding-bottom: 8px; padding-top: 8px; }

.footer-navigation > ul > li { display: inline-block; padding-right: 10px; padding-left: 10px; }

@media (min-width: 1200px) { .footer-navigation > ul { margin-right: 0; margin-top: 0; padding-bottom: 0; padding-top: 0; } }

.footer-navigation > ul > li { position: relative; }

.footer-navigation > ul > li:not(:last-child):after { content: ''; display: inline-block; height: 14px; left: -.5px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1px; }

.footer-navigation > ul > li > a { transition: color 300ms ease-in-out; }

.content-info { background-color: #232222; color: #FFF; }

.content-info a, .content-info a:before { color: #F7AE00; }

.content-info a:hover, .content-info a:hover:before { color: #CE9100; }

.content-info .footer-navigation > ul > li:not(:last-child):after { background-color: #F7AE00; }
