@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Noto+Sans:400,700");
@import url("//fonts.googleapis.com/css?family=Lora:400,700");
/** Variables This file contains all the project's variables. */
/** LSX Variables This file contains the theme's variables declarations and some vendor's variables overriding. Also, it was created separately so we can import it in the vendor's files. In this way, our variables are available to the entire project. */
/* Import the vendor's variables so we can use it in our own code */
.social-navigation > ul, .footer-navigation > ul { list-style: none; padding-left: 0; }

.social-navigation > ul > li a[href*="codepen"], .social-navigation > ul > li a[href*="digg"], .social-navigation > ul > li a[href*="dribbble"], .social-navigation > ul > li a[href*="dropbox"], .social-navigation > ul > li a[href*="facebook"], .social-navigation > ul > li a[href*="feed"], .social-navigation > ul > li a[href*="flickr"], .social-navigation > ul > li a[href*="foursquare"], .social-navigation > ul > li a[href*="getpocket"], .social-navigation > ul > li a[href*="github"], .social-navigation > ul > li a[href*="instagram"], .social-navigation > ul > li a[href*="linkedin"], .social-navigation > ul > li a[href*="mailto"], .social-navigation > ul > li a[href*="pinterest"], .social-navigation > ul > li a[href*="plus.google"], .social-navigation > ul > li a[href*="polldaddy"], .social-navigation > ul > li a[href*="reddit"], .social-navigation > ul > li a[href*="spotify"], .social-navigation > ul > li a[href*="stumbleupon"], .social-navigation > ul > li a[href*="tumblr"], .social-navigation > ul > li a[href*="twitch"], .social-navigation > ul > li a[href*="twitter"], .social-navigation > ul > li a[href*="vimeo"], .social-navigation > ul > li a[href*="wordpress"], .social-navigation > ul > li a[href*="youtube"] { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.social-navigation > ul > li a[href*="codepen"]:before, .social-navigation > ul > li a[href*="digg"]:before, .social-navigation > ul > li a[href*="dribbble"]:before, .social-navigation > ul > li a[href*="dropbox"]:before, .social-navigation > ul > li a[href*="facebook"]:before, .social-navigation > ul > li a[href*="feed"]:before, .social-navigation > ul > li a[href*="flickr"]:before, .social-navigation > ul > li a[href*="foursquare"]:before, .social-navigation > ul > li a[href*="getpocket"]:before, .social-navigation > ul > li a[href*="github"]:before, .social-navigation > ul > li a[href*="instagram"]:before, .social-navigation > ul > li a[href*="linkedin"]:before, .social-navigation > ul > li a[href*="mailto"]:before, .social-navigation > ul > li a[href*="pinterest"]:before, .social-navigation > ul > li a[href*="plus.google"]:before, .social-navigation > ul > li a[href*="polldaddy"]:before, .social-navigation > ul > li a[href*="reddit"]:before, .social-navigation > ul > li a[href*="spotify"]:before, .social-navigation > ul > li a[href*="stumbleupon"]:before, .social-navigation > ul > li a[href*="tumblr"]:before, .social-navigation > ul > li a[href*="twitch"]:before, .social-navigation > ul > li a[href*="twitter"]:before, .social-navigation > ul > li a[href*="vimeo"]:before, .social-navigation > ul > li a[href*="wordpress"]:before, .social-navigation > ul > li a[href*="youtube"]:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 22px; transition: color 300ms ease-in-out; }

.form-control { border-width: 2px; box-shadow: none; font-size: 18px; line-height: 1.33; padding: 10px 30px; transition: border-color 150ms ease-in-out; }

*, *:focus, *:active:focus { outline: none !important; }

body { direction: ltr; }

.btn { background-color: #418AD0; border: 0 none; box-shadow: 2px 2px 0 0 #27639D; color: #FFF; font-size: 15px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 150ms ease-in-out; }

.btn:hover { background-color: #3582cd; color: #FFF; }

.btn.cta-btn { background-color: #F7AE00; box-shadow: 2px 2px 0 0 #CE9100; }

.btn.cta-btn:hover { background-color: #EDA700; }

.btn:active { left: 2px; top: 2px; box-shadow: none; }

#footer-cta { background-color: #2B3840; color: #FFF; padding-bottom: 40px; padding-top: 40px; }

#footer-cta .lsx-hero-unit { margin: 0 auto; text-align: center; }

#footer-cta .widget-title { font-size: 30px; font-weight: 400; line-height: 1.2; margin-bottom: 10px; margin-top: 0; }

#footer-cta p, #footer-cta .textwidget { font-size: 22px; line-height: 1.35; margin-bottom: 30px; }

#footer-widgets { padding: 15px 0 45px; }

#footer-widgets .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; }

@media (min-width: 1200px) { #footer-widgets .row { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

#footer-widgets .row div[class^='col-'] { float: none; overflow: hidden; width: auto; }

@media (min-width: 1200px) { #footer-widgets .row div[class^='col-'] { -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; } }

#footer-widgets .widget { margin-top: 30px; }

#footer-widgets .widget a { display: inline-block; }

#footer-widgets .widget br + a { margin-top: 5px; }

#footer-widgets .widget .fa { font-size: 22px; margin-right: 5px; vertical-align: text-top; }

#footer-widgets .widget-title { font-weight: 700; margin-bottom: 20px; margin-top: 0; }

#footer-widgets .textwidget { letter-spacing: .5px; }

#footer-widgets { background-color: #333; color: #FFF; }

#footer-widgets a:not(.btn):not(.button), #footer-widgets a:not(.btn):not(.button):active, #footer-widgets a:not(.btn):not(.button):visited { color: #F7AE00; }

#footer-widgets a:not(.btn):not(.button):hover, #footer-widgets a:not(.btn):not(.button):hover:active, #footer-widgets a:not(.btn):not(.button):focus { color: #CE9100; }

.content-info { padding: 15px 0; font-size: 14px; }

@media (min-width: 1200px) { .content-info > .container { padding-left: 50px; padding-right: 50px; width: 100%; } }

@media (min-width: 1200px) { .content-info > .container > .row { margin-left: -50px; margin-right: -50px; } }

.content-info > .container > .row > div[class*='col-'] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media (min-width: 1200px) { .content-info > .container > .row > div[class*='col-'] { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding-left: 50px; padding-right: 50px; } }

.content-info .credit { margin: 0; }

@media (min-width: 1200px) { .content-info .credit { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; } }

.social-navigation > ul, .footer-navigation > ul { margin-bottom: 0; }

.social-navigation { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

@media (min-width: 1200px) { .social-navigation { margin-left: 50px; } }

.social-navigation > ul { margin-left: -8px; line-height: 1; }

.social-navigation > ul > li { display: inline-block; padding-left: 8px; padding-right: 8px; }

@media (min-width: 1200px) { .social-navigation > ul { margin-left: 0; } }

@media (max-width: 1199px) { .social-navigation > ul > li { padding-bottom: 8px; padding-top: 8px; } }

.social-navigation > ul > li a[href*="codepen"]:before { content: ""; }

.social-navigation > ul > li a[href*="digg"]:before { content: ""; }

.social-navigation > ul > li a[href*="dribbble"]:before { content: ""; }

.social-navigation > ul > li a[href*="dropbox"]:before { content: ""; }

.social-navigation > ul > li a[href*="facebook"]:before { content: ""; }

.social-navigation > ul > li a[href*="feed"]:before { content: ""; }

.social-navigation > ul > li a[href*="flickr"]:before { content: ""; }

.social-navigation > ul > li a[href*="foursquare"]:before { content: ""; }

.social-navigation > ul > li a[href*="getpocket"]:before { content: ""; }

.social-navigation > ul > li a[href*="github"]:before { content: ""; }

.social-navigation > ul > li a[href*="instagram"]:before { content: ""; }

.social-navigation > ul > li a[href*="linkedin"]:before { content: ""; }

.social-navigation > ul > li a[href*="mailto"]:before { content: ""; }

.social-navigation > ul > li a[href*="pinterest"]:before { content: ""; }

.social-navigation > ul > li a[href*="plus.google"]:before { content: ""; }

.social-navigation > ul > li a[href*="polldaddy"]:before { content: ""; }

.social-navigation > ul > li a[href*="reddit"]:before { content: ""; }

.social-navigation > ul > li a[href*="spotify"]:before { content: ""; }

.social-navigation > ul > li a[href*="stumbleupon"]:before { content: ""; }

.social-navigation > ul > li a[href*="tumblr"]:before { content: ""; }

.social-navigation > ul > li a[href*="twitch"]:before { content: ""; }

.social-navigation > ul > li a[href*="twitter"]:before { content: ""; }

.social-navigation > ul > li a[href*="vimeo"]:before { content: ""; }

.social-navigation > ul > li a[href*="wordpress"]:before { content: ""; }

.social-navigation > ul > li a[href*="youtube"]:before { content: ""; }

.footer-navigation > ul { margin-left: -10px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: 4px; padding-bottom: 8px; padding-top: 8px; }

.footer-navigation > ul > li { display: inline-block; padding-left: 10px; padding-right: 10px; }

@media (min-width: 1200px) { .footer-navigation > ul { margin-left: 0; margin-top: 0; padding-bottom: 0; padding-top: 0; } }

.footer-navigation > ul > li { position: relative; }

.footer-navigation > ul > li:not(:last-child):after { content: ''; display: inline-block; height: 14px; right: -.5px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1px; }

.footer-navigation > ul > li > a { transition: color 300ms ease-in-out; }

.content-info { background-color: #232222; color: #FFF; }

.content-info a, .content-info a:before { color: #F7AE00; }

.content-info a:hover, .content-info a:hover:before { color: #CE9100; }

.content-info .footer-navigation > ul > li:not(:last-child):after { background-color: #F7AE00; }

/*# sourceMappingURL=maps/lsx.css.map */
