/* Woocommerce bug fixes
---------------------------------------------------------------------------- */
.wc-block-components-product-image p{padding:0!important;margin:0!important;}
.label-wrap{left:0px;}
.label-wrap.wapl-diagonal-bar{z-index: 1;}