.fontPickerCustomControl .fancyDisplay { display: none; }

.fontPickerCustomControl .fancyDisplay ul { list-style: none; margin: 0; padding: 0; }

.fontPickerCustomControl .fancyDisplay ul li { cursor: pointer; float: right; font-size: 1.6em; margin: .3em 0 .3em 5%; padding: 2% 0; padding-left: 2%; width: 100%; opacity: .5; }

.fontPickerCustomControl .fancyDisplay ul li small { font-size: .6em; margin-right: 1px; }

.fontPickerCustomControl .fancyDisplay ul li:hover, .fontPickerCustomControl .fancyDisplay ul li.selected { opacity: 1; }
