.wp-admin.gutenberg-editor-page {
	blockquote {
		background-color: red;
	}
	.wp-block-button {
		.wp-block-button__link {
			border: 0 none;
			border-radius: 3px;
			font-size: 14px;
			font-weight: 700;
			height: 48px;
			letter-spacing: 0.6px;
			line-height: 1.25;
			padding: 15px 40px;
			text-transform: uppercase;
		}
	}
}
