.appearance_page_lsx-welcome #wpbody * { box-sizing: border-box; }

.appearance_page_lsx-welcome #wpbody *:before, .appearance_page_lsx-welcome #wpbody *:after { box-sizing: border-box; }

.appearance_page_lsx-welcome #wpbody .container { margin-left: auto; margin-right: auto; padding-right: 15px; padding-left: 15px; }

.appearance_page_lsx-welcome #wpbody .container:before, .appearance_page_lsx-welcome #wpbody .container:after { content: " "; display: table; }

.appearance_page_lsx-welcome #wpbody .container:after { clear: both; }

@media (min-width: 768px) { .appearance_page_lsx-welcome #wpbody .container { width: 750px; } }

@media (min-width: 992px) { .appearance_page_lsx-welcome #wpbody .container { width: 970px; } }

@media (min-width: 1200px) { .appearance_page_lsx-welcome #wpbody .container { width: 1170px; } }

.appearance_page_lsx-welcome #wpbody .container-fluid { margin-left: auto; margin-right: auto; padding-right: 15px; padding-left: 15px; }

.appearance_page_lsx-welcome #wpbody .container-fluid:before, .appearance_page_lsx-welcome #wpbody .container-fluid:after { content: " "; display: table; }

.appearance_page_lsx-welcome #wpbody .container-fluid:after { clear: both; }

.appearance_page_lsx-welcome #wpbody .row { margin-right: -15px; margin-left: -15px; }

.appearance_page_lsx-welcome #wpbody .row:before, .appearance_page_lsx-welcome #wpbody .row:after { content: " "; display: table; }

.appearance_page_lsx-welcome #wpbody .row:after { clear: both; }

.appearance_page_lsx-welcome #wpbody .col-xs-1, .appearance_page_lsx-welcome #wpbody .col-sm-1, .appearance_page_lsx-welcome #wpbody .col-md-1, .appearance_page_lsx-welcome #wpbody .col-lg-1, .appearance_page_lsx-welcome #wpbody .col-xs-2, .appearance_page_lsx-welcome #wpbody .col-sm-2, .appearance_page_lsx-welcome #wpbody .col-md-2, .appearance_page_lsx-welcome #wpbody .col-lg-2, .appearance_page_lsx-welcome #wpbody .col-xs-3, .appearance_page_lsx-welcome #wpbody .col-sm-3, .appearance_page_lsx-welcome #wpbody .col-md-3, .appearance_page_lsx-welcome #wpbody .col-lg-3, .appearance_page_lsx-welcome #wpbody .col-xs-4, .appearance_page_lsx-welcome #wpbody .col-sm-4, .appearance_page_lsx-welcome #wpbody .col-md-4, .appearance_page_lsx-welcome #wpbody .col-lg-4, .appearance_page_lsx-welcome #wpbody .col-xs-5, .appearance_page_lsx-welcome #wpbody .col-sm-5, .appearance_page_lsx-welcome #wpbody .col-md-5, .appearance_page_lsx-welcome #wpbody .col-lg-5, .appearance_page_lsx-welcome #wpbody .col-xs-6, .appearance_page_lsx-welcome #wpbody .col-sm-6, .appearance_page_lsx-welcome #wpbody .col-md-6, .appearance_page_lsx-welcome #wpbody .col-lg-6, .appearance_page_lsx-welcome #wpbody .col-xs-7, .appearance_page_lsx-welcome #wpbody .col-sm-7, .appearance_page_lsx-welcome #wpbody .col-md-7, .appearance_page_lsx-welcome #wpbody .col-lg-7, .appearance_page_lsx-welcome #wpbody .col-xs-8, .appearance_page_lsx-welcome #wpbody .col-sm-8, .appearance_page_lsx-welcome #wpbody .col-md-8, .appearance_page_lsx-welcome #wpbody .col-lg-8, .appearance_page_lsx-welcome #wpbody .col-xs-9, .appearance_page_lsx-welcome #wpbody .col-sm-9, .appearance_page_lsx-welcome #wpbody .col-md-9, .appearance_page_lsx-welcome #wpbody .col-lg-9, .appearance_page_lsx-welcome #wpbody .col-xs-10, .appearance_page_lsx-welcome #wpbody .col-sm-10, .appearance_page_lsx-welcome #wpbody .col-md-10, .appearance_page_lsx-welcome #wpbody .col-lg-10, .appearance_page_lsx-welcome #wpbody .col-xs-11, .appearance_page_lsx-welcome #wpbody .col-sm-11, .appearance_page_lsx-welcome #wpbody .col-md-11, .appearance_page_lsx-welcome #wpbody .col-lg-11, .appearance_page_lsx-welcome #wpbody .col-xs-12, .appearance_page_lsx-welcome #wpbody .col-sm-12, .appearance_page_lsx-welcome #wpbody .col-md-12, .appearance_page_lsx-welcome #wpbody .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }

.appearance_page_lsx-welcome #wpbody .col-xs-1, .appearance_page_lsx-welcome #wpbody .col-xs-2, .appearance_page_lsx-welcome #wpbody .col-xs-3, .appearance_page_lsx-welcome #wpbody .col-xs-4, .appearance_page_lsx-welcome #wpbody .col-xs-5, .appearance_page_lsx-welcome #wpbody .col-xs-6, .appearance_page_lsx-welcome #wpbody .col-xs-7, .appearance_page_lsx-welcome #wpbody .col-xs-8, .appearance_page_lsx-welcome #wpbody .col-xs-9, .appearance_page_lsx-welcome #wpbody .col-xs-10, .appearance_page_lsx-welcome #wpbody .col-xs-11, .appearance_page_lsx-welcome #wpbody .col-xs-12 { float: right; }

.appearance_page_lsx-welcome #wpbody .col-xs-1 { width: 8.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-2 { width: 16.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-3 { width: 25%; }

.appearance_page_lsx-welcome #wpbody .col-xs-4 { width: 33.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-5 { width: 41.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-6 { width: 50%; }

.appearance_page_lsx-welcome #wpbody .col-xs-7 { width: 58.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-8 { width: 66.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-9 { width: 75%; }

.appearance_page_lsx-welcome #wpbody .col-xs-10 { width: 83.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-11 { width: 91.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-12 { width: 100%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-0 { left: auto; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-1 { left: 8.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-2 { left: 16.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-3 { left: 25%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-4 { left: 33.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-5 { left: 41.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-6 { left: 50%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-7 { left: 58.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-8 { left: 66.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-9 { left: 75%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-10 { left: 83.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-11 { left: 91.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-pull-12 { left: 100%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-0 { right: auto; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-1 { right: 8.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-2 { right: 16.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-3 { right: 25%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-4 { right: 33.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-5 { right: 41.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-6 { right: 50%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-7 { right: 58.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-8 { right: 66.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-9 { right: 75%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-10 { right: 83.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-11 { right: 91.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-push-12 { right: 100%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-0 { margin-right: 0%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-1 { margin-right: 8.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-2 { margin-right: 16.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-3 { margin-right: 25%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-4 { margin-right: 33.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-5 { margin-right: 41.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-6 { margin-right: 50%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-7 { margin-right: 58.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-8 { margin-right: 66.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-9 { margin-right: 75%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-10 { margin-right: 83.33333%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-11 { margin-right: 91.66667%; }

.appearance_page_lsx-welcome #wpbody .col-xs-offset-12 { margin-right: 100%; }

@media (min-width: 768px) { .appearance_page_lsx-welcome #wpbody .col-sm-1, .appearance_page_lsx-welcome #wpbody .col-sm-2, .appearance_page_lsx-welcome #wpbody .col-sm-3, .appearance_page_lsx-welcome #wpbody .col-sm-4, .appearance_page_lsx-welcome #wpbody .col-sm-5, .appearance_page_lsx-welcome #wpbody .col-sm-6, .appearance_page_lsx-welcome #wpbody .col-sm-7, .appearance_page_lsx-welcome #wpbody .col-sm-8, .appearance_page_lsx-welcome #wpbody .col-sm-9, .appearance_page_lsx-welcome #wpbody .col-sm-10, .appearance_page_lsx-welcome #wpbody .col-sm-11, .appearance_page_lsx-welcome #wpbody .col-sm-12 { float: right; }
  .appearance_page_lsx-welcome #wpbody .col-sm-1 { width: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-2 { width: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-3 { width: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-4 { width: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-5 { width: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-6 { width: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-7 { width: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-8 { width: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-9 { width: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-10 { width: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-11 { width: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-12 { width: 100%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-0 { left: auto; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-1 { left: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-2 { left: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-3 { left: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-4 { left: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-5 { left: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-6 { left: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-7 { left: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-8 { left: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-9 { left: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-10 { left: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-11 { left: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-pull-12 { left: 100%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-0 { right: auto; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-1 { right: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-2 { right: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-3 { right: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-4 { right: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-5 { right: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-6 { right: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-7 { right: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-8 { right: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-9 { right: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-10 { right: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-11 { right: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-push-12 { right: 100%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-0 { margin-right: 0%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-1 { margin-right: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-2 { margin-right: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-3 { margin-right: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-4 { margin-right: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-5 { margin-right: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-6 { margin-right: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-7 { margin-right: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-8 { margin-right: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-9 { margin-right: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-10 { margin-right: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-11 { margin-right: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-sm-offset-12 { margin-right: 100%; } }

@media (min-width: 992px) { .appearance_page_lsx-welcome #wpbody .col-md-1, .appearance_page_lsx-welcome #wpbody .col-md-2, .appearance_page_lsx-welcome #wpbody .col-md-3, .appearance_page_lsx-welcome #wpbody .col-md-4, .appearance_page_lsx-welcome #wpbody .col-md-5, .appearance_page_lsx-welcome #wpbody .col-md-6, .appearance_page_lsx-welcome #wpbody .col-md-7, .appearance_page_lsx-welcome #wpbody .col-md-8, .appearance_page_lsx-welcome #wpbody .col-md-9, .appearance_page_lsx-welcome #wpbody .col-md-10, .appearance_page_lsx-welcome #wpbody .col-md-11, .appearance_page_lsx-welcome #wpbody .col-md-12 { float: right; }
  .appearance_page_lsx-welcome #wpbody .col-md-1 { width: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-2 { width: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-3 { width: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-md-4 { width: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-5 { width: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-6 { width: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-md-7 { width: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-8 { width: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-9 { width: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-md-10 { width: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-11 { width: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-12 { width: 100%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-0 { left: auto; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-1 { left: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-2 { left: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-3 { left: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-4 { left: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-5 { left: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-6 { left: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-7 { left: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-8 { left: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-9 { left: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-10 { left: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-11 { left: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-pull-12 { left: 100%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-0 { right: auto; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-1 { right: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-2 { right: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-3 { right: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-4 { right: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-5 { right: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-6 { right: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-7 { right: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-8 { right: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-9 { right: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-10 { right: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-11 { right: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-push-12 { right: 100%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-0 { margin-right: 0%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-1 { margin-right: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-2 { margin-right: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-3 { margin-right: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-4 { margin-right: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-5 { margin-right: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-6 { margin-right: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-7 { margin-right: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-8 { margin-right: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-9 { margin-right: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-10 { margin-right: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-11 { margin-right: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-md-offset-12 { margin-right: 100%; } }

@media (min-width: 1200px) { .appearance_page_lsx-welcome #wpbody .col-lg-1, .appearance_page_lsx-welcome #wpbody .col-lg-2, .appearance_page_lsx-welcome #wpbody .col-lg-3, .appearance_page_lsx-welcome #wpbody .col-lg-4, .appearance_page_lsx-welcome #wpbody .col-lg-5, .appearance_page_lsx-welcome #wpbody .col-lg-6, .appearance_page_lsx-welcome #wpbody .col-lg-7, .appearance_page_lsx-welcome #wpbody .col-lg-8, .appearance_page_lsx-welcome #wpbody .col-lg-9, .appearance_page_lsx-welcome #wpbody .col-lg-10, .appearance_page_lsx-welcome #wpbody .col-lg-11, .appearance_page_lsx-welcome #wpbody .col-lg-12 { float: right; }
  .appearance_page_lsx-welcome #wpbody .col-lg-1 { width: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-2 { width: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-3 { width: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-4 { width: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-5 { width: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-6 { width: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-7 { width: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-8 { width: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-9 { width: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-10 { width: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-11 { width: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-12 { width: 100%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-0 { left: auto; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-1 { left: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-2 { left: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-3 { left: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-4 { left: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-5 { left: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-6 { left: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-7 { left: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-8 { left: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-9 { left: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-10 { left: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-11 { left: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-pull-12 { left: 100%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-0 { right: auto; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-1 { right: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-2 { right: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-3 { right: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-4 { right: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-5 { right: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-6 { right: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-7 { right: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-8 { right: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-9 { right: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-10 { right: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-11 { right: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-push-12 { right: 100%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-0 { margin-right: 0%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-1 { margin-right: 8.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-2 { margin-right: 16.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-3 { margin-right: 25%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-4 { margin-right: 33.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-5 { margin-right: 41.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-6 { margin-right: 50%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-7 { margin-right: 58.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-8 { margin-right: 66.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-9 { margin-right: 75%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-10 { margin-right: 83.33333%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-11 { margin-right: 91.66667%; }
  .appearance_page_lsx-welcome #wpbody .col-lg-offset-12 { margin-right: 100%; } }

.appearance_page_lsx-welcome #wpbody h1 { line-height: 51px; margin-bottom: 20px; }

.appearance_page_lsx-welcome #wpbody .logo { background: transparent url(../../images/logo-white-bg.svg) no-repeat center center; display: inline-block; height: 51px; margin-left: 12px; text-indent: -9999px; width: 172px; }

.appearance_page_lsx-welcome #wpbody .version { background-color: #fff; border-radius: 3px; color: #337ab7; font-size: 30%; font-weight: 700; padding: 5px 10px; }

.appearance_page_lsx-welcome #wpbody .review { float: left; margin-bottom: 20px; max-width: 360px; }

.appearance_page_lsx-welcome #wpbody .review p { font-size: 13px; }

.appearance_page_lsx-welcome #wpbody .box { background: #fff; border: 1px solid #ddd; border-radius: 4px; margin-bottom: 40px; padding: 25px 30px; position: relative; }

.appearance_page_lsx-welcome #wpbody .box h2 { font-size: 17px; font-weight: 700; margin-top: 40px; text-align: right; }

.appearance_page_lsx-welcome #wpbody .box h2:first-child { margin-top: 0; }

.appearance_page_lsx-welcome #wpbody .box p, .appearance_page_lsx-welcome #wpbody .box ul { font-size: 13px; }

.appearance_page_lsx-welcome #wpbody .box p:last-child, .appearance_page_lsx-welcome #wpbody .box ul:last-child { margin-bottom: 0; }

.appearance_page_lsx-welcome #wpbody .box .more-button { padding: 1em 0 0 0; border-top: 1px solid #eee; clear: both; text-align: left; }

.appearance_page_lsx-welcome #wpbody .box .price { color: #45B964; }

.appearance_page_lsx-welcome #wpbody .box:before { content: "\f324"; display: block; position: absolute; top: 30px; left: 30px; font-size: 1.618em; font-family: 'Dashicons'; font-weight: 400; -webkit-font-smoothing: antialiased; }

.appearance_page_lsx-welcome #wpbody .box.enrich:before { content: "\f116"; }

.appearance_page_lsx-welcome #wpbody .box.news:before { content: "\f319"; }

.appearance_page_lsx-welcome #wpbody .box.enhance:before { content: "\f106"; }

.appearance_page_lsx-welcome #wpbody .box.mailchimp:before { content: ""; }

.appearance_page_lsx-welcome #wpbody .box.support:before { content: "\f338"; }

.appearance_page_lsx-welcome #wpbody .box.suggest:before { content: ""; }

.appearance_page_lsx-welcome #wpbody .box.news h3 { color: #999; font-size: 13px; margin-top: 10px; margin-bottom: 5px; text-transform: uppercase; }

.appearance_page_lsx-welcome #wpbody .box.news ul { margin-top: 0; }

.appearance_page_lsx-welcome #wpbody .box.news .date { color: #999; text-transform: uppercase; font-size: 11px; }

.appearance_page_lsx-welcome #wpbody .box-clean { padding-top: 20px; }

.appearance_page_lsx-welcome #wpbody .box-clean a { font-weight: 700; text-decoration: none; }

.appearance_page_lsx-welcome #wpbody .box-clean p:last-child { margin-bottom: 0; }

.appearance_page_lsx-welcome #wpbody #mc_embed_signup { font-size: 13px; }

.appearance_page_lsx-welcome #wpbody #mc_embed_signup .mc-field-group { padding-bottom: 0.5em; }

.appearance_page_lsx-welcome #wpbody #mc_embed_signup .mc-field-group:last-child { padding-bottom: 1em; }
