.appearance_page_lsx-welcome {
	#wpbody {
		// Bootstrap Grid

		@import "../vendor/bootstrap/variables";
		@import "../vendor/bootstrap/mixins";

		* { @include box-sizing(border-box); }

		*:before,
		*:after { @include box-sizing(border-box); }

		@import "../vendor/bootstrap/grid";

		// Page Styles

		h1 {
			line-height: 51px;
			margin-bottom: 20px;
		}

		.logo {
			background: transparent url(../../images/logo-white-bg.svg) no-repeat center center;
			display: inline-block;
			height: 51px;
			margin-right: 12px;
			text-indent: -9999px;
			width: 172px;
		}

		.version {
			background-color: #fff;
			border-radius: 3px;
			color: #337ab7;
			font-size: 30%;
			font-weight: 700;
			padding: 5px 10px;
		}

		.review {
			float: right;
			margin-bottom: 20px;
			max-width: 360px;

			p { font-size: 13px; }
		}

		.box {
			background: #fff;
			border: 1px solid #ddd;
			border-radius: 4px;
			margin-bottom: 40px;
			padding: 25px 30px;
			position: relative;

			h2 {
				font-size: 17px;
				font-weight: 700;
				margin-top: 40px;
				text-align: left;

				&:first-child { margin-top: 0; }
			}

			p,
			ul {
				font-size: 13px;

				&:last-child { margin-bottom: 0; }
			}

			.more-button {
				padding: 1em 0 0 0;
				border-top: 1px solid #eee;
				clear: both;
				text-align: right;
			}

			.price { color: #45B964; }

			&:before {
				content: "\f324";
				display: block;
				position: absolute;
				top: 30px;
				right: 30px;
				font-size: 1.618em;
				font-family: 'Dashicons';
				font-weight: 400;
				-webkit-font-smoothing: antialiased;
			}

			&.enrich:before { content: "\f116"; }

			&.news:before { content: "\f319"; }

			&.enhance:before { content: "\f106"; }

			//&.mailchimp:before { content: "\f465"; }
			&.mailchimp:before { content: ""; }

			&.support:before { content: "\f338"; }

			//&.suggest:before { content: "\f488"; }
			&.suggest:before { content: ""; }

			&.news {
				h3 {
					color: #999;
					font-size: 13px;
					margin-top: 10px;
					margin-bottom: 5px;
					text-transform: uppercase;
				}

				ul { margin-top: 0; }

				.date {
					color: #999;
					text-transform: uppercase;
					font-size: 11px;
				}
			}
		}

		.box-clean {
			padding-top: 20px;

			a {
				font-weight: 700;
				text-decoration: none;
			}

			p:last-child { margin-bottom: 0; }
		}

		// Mailchimp

		#mc_embed_signup {
			font-size: 13px;

			.mc-field-group {
				padding-bottom: 0.5em;

				&:last-child { padding-bottom: 1em; }
			}
		}
	}
}
