#wl-wrapper {
	&.wl-button-wrap {
		padding: 1em 0 0 0;

		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: '';
			clear: both;
			height: 0;
		}
	}

	.wl-already-in {
		border-radius: 3px;
		margin: 0 0 1em 0;
		padding: 1em;

		ul {
			list-style: none;
			margin-bottom: 0;
			margin-left: 0;
			padding-left: 0;
		}
	}

	a.button.wl-add-but {
		background-color: transparent !important;
		box-shadow: none !important;
		font-weight: normal !important;
		font-size: 20px !important;
		height: auto !important;
		padding: 0 !important;
		text-transform: inherit !important;
		transition: all 100ms ease !important;

		&:before {
			@include fa-icon();
			border: 1px solid #333;
			border-radius: 50%;
			content: '\f08a';
			font-size: 80%;
			margin-right: 5px;
			padding: 6px;
			transition: all 100ms ease;
		}
	}

	input[type="radio"],
	input[type="checkbox"] {
		margin: 0 10px 0 0;
	}

	.wl-row {
		&:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: '';
			clear: both;
			height: 0;
		}
	}

	.wl-table {
		td { vertical-align: middle; }
	}

	.wl-actions-table {
		tr {
			td { padding: 0 5px; }

			&:first-child {
				td { padding-left: 0; }
			}

			&:last-child {
				td { padding-right: 0; }
			}
		}
	}

	table.shop_table {
		thead {
			tr:first-child {
				& > *:first-child { border-radius: 5px 0 0 0; }
				& > *:last-child { border-radius: 0 5px 0 0; }
			}
		}

		tbody:last-child {
			tr:last-child {
				& > *:first-child { border-radius: 0 0 0 5px; }
				& > *:last-child { border-radius: 0 0 5px 0; }
			}
		}
	}

	.wl-search-form {
		input.find-input {
			@extend %bootstrap-form-control;
			@extend %lsx-form-field;
			float: left;
			width: 40%;
		}
	}

	img { width: 50px; }
}

.wl-tab-wrap {
	.wl-tabs {
		@extend %lsx-tabs;
		border-bottom: 0 !important;

		> li {
			margin-bottom: 0 !important;

			> a {
				border: 0 !important;
				border-radius: 0 !important;
				line-height: 1.6 !important;
				margin: 0 !important;
			}
		}
	}

	.panel {
		border: none;
		border-radius: 0;
		box-shadow: none;
		padding: 2em;

		& > *:last-child { margin-bottom: 0; }

		.wl-form { overflow-x: scroll; }
	}
}

.wl-sel,
.wl-priv-sel {
	@extend %bootstrap-form-control;
	@extend %lsx-form-field;
}

a.button.wl-add-to-single {
	@include lsx-button-scaffolding();
	@include lsx-button-colour();
}

.wl-list-pop {
	max-width: 300px;

	dd { margin: 0 0 2px 0; }
}
