.btn {
	@include lsx-button-scaffolding();
}

#respond {
	& > .comment-form {
		input[type="submit"] {
			@include lsx-button-scaffolding();
		}
	}
}

.btn-md {
	&,
	&:active,
	&:visited {
		font-size: 12px;
		height: auto;
		padding: 10px 20px;
	}
}

.caldera-forms-modal {
	@include lsx-button-scaffolding();
	@include lsx-button-colour();
}

@include custom-buttons-colours();

@include custom-cta-buttons-colours();

@include custom-secondary-buttons-colours();

@include custom-tertiary-buttons-colours();
