.gallery {
	.gallery-item {
		margin-bottom: 2.4rem;
		margin-top: 0 !important;
		padding: 0 5px;
	}

	img { border: none !important; }

	.gallery-caption {
		font-size: 13px;
		margin: 1.2rem auto 0 !important;
		max-width: 150px;
	}
}
