.gutenberg-compatible-template.using-gutenberg {
	blockquote.wp-block-quote:not(.is-large):not(.is-style-large) {
		border-left-width: 1px;
		padding-left: 4rem;
		border-left-color: $breaker;
	}
	.wp-block-pullquote {
		border: none;
	}
	.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before, .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
		padding-top: 2.4rem;
	}
	.wp-block-button {
		.wp-block-button__link {
			@include lsx-button-scaffolding();
			@include lsx-button-colour();
		}
	}
}
