<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"layout":{"inherit":false,"contentSize":""}} -->
<div class="wp-block-group"><!-- wp:separator {"align":"full","backgroundColor":"senary","className":"is-style-wide"} -->
<hr class="wp-block-separator alignfull has-text-color has-senary-color has-alpha-channel-opacity has-senary-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"3em"}}},"layout":{"contentSize":"1120px"}} -->
<div class="wp-block-group" style="padding-top:3em"><!-- wp:woocommerce/legacy-template {"template":"archive-product"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->