<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-base-background-color has-background"><!-- wp:template-part {"slug":"woo-header-light","theme":"lsx","align":"wide"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"2rem","left":"2rem"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-right:2rem;padding-left:2rem"><!-- wp:group {"layout":{"inherit":false,"contentSize":"1200px","type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"3em"}}},"layout":{"contentSize":"1120px","type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:3em"><!-- wp:woocommerce/legacy-template {"template":"taxonomy-product_cat"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"lsx"} /-->