<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"2rem","left":"2rem"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-right:2rem;padding-left:2rem"><!-- wp:group {"layout":{"inherit":false,"contentSize":"1200px"}} -->
<div class="wp-block-group"><!-- wp:separator {"align":"full","backgroundColor":"senary","className":"is-style-wide"} -->
<hr class="wp-block-separator alignfull has-text-color has-senary-color has-alpha-channel-opacity has-senary-background-color has-background is-style-wide"/>
<!-- /wp:separator -->
    
<!-- wp:group {"style":{"spacing":{"padding":{"top":"3em"}}},"layout":{"contentSize":"1120px"}} -->
<div class="wp-block-group" style="padding-top:3em"><!-- wp:woocommerce/legacy-template {"template":"taxonomy-product_cat"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->