#footer-widgets {
	background-color: nth($blue, 2);
	color: #FFF;
	padding: 15px 0 45px;

	.row {
		display: flex;
		flex-flow: column nowrap;

		@include media('>=desktop') { flex-direction: row; }

		div[class^='col-'] {
			float: none;
			overflow: hidden;
			width: auto;

			@include media('>=desktop') {
				flex-basis: 0;
				flex-grow: 1;
			}
		}
	}

	.widget {
		margin-top: 30px;

		a { @include lsx-link($orange); }
	}

	.widget-title {
		font-weight: 700;
		margin-bottom: 20px;
		margin-top: 0;
	}
}
