#footer-cta {
	background-color: $footer-cta-color;
	color: #FFF;
	padding-bottom: 40px;
	padding-top: 40px;

	.lsx-hero-unit {
		margin: 0 auto;
		min-width: 290px;
		text-align: center;
	}

	.widget-title {
		font-size: 30px;
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 10px;
		margin-top: 0;
	}

	p,
	.textwidget {
		font-size: 22px;
		line-height: 1.35;
		margin-bottom: 30px;
	}
}
