/*--------------------------------------------------------------
1.0 Apply 100% Width to Necessary Elements
--------------------------------------------------------------*/

.gutenberg-compatible-template.using-gutenberg {
	.entry-content {
		padding: 2.4rem;
		@media only screen and (min-width: 768px) {
			max-width: 100%;
			width: 100%;
			float: none;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.navigation, #respond, .footer-meta {
		padding: 2.4rem;
		@media only screen and (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

/*--------------------------------------------------------------
2.0 Apply Wide, Full and Default Align Styles
--------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
	.gutenberg-compatible-template.using-gutenberg, .gutenberg-compatible-template.using-gutenberg.single-post, .gutenberg-compatible-template.using-gutenberg.page-template-default,
	.gutenberg-compatible-template.using-gutenberg.page-template-template-no-sidebar {
		.wrap.container, article.post {
			max-width: 100%;
			width: 100%;
			float: none;
			padding-left: 0;
			padding-right: 0;
		}
		.row.lsx-related-posts, .navigation.post-navigation {
			margin: 0 auto;
			width: 1170px;
		}
		#respond {
			margin: 0 auto;
			width: 40%;
			max-width: 570px;
		}
		.alignwide {
			max-width: 75%;
			width: 75%;
			margin-left: auto;
			margin-right: auto;
		}
		.alignfull {
			width: 100%;
			max-width: 100%;
		}
	}

	.gutenberg-compatible-template.using-gutenberg {
		.entry-content > *, .entry-header, .page-header, .post-thumbnail, #comments, #lsx-team-slider {
			max-width: 50%;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
		&.page-template-template-full-width, &.page-template-template-full-width-no-margins {
			.entry-content > *:not(.alignfull):not(.alignwide), .entry-header, .page-header, .post-thumbnail, #comments, #lsx-team-slider {
				max-width: 80%;
				width: 80%;
			}
			.alignwide {
				max-width: 90%;
				width: 90%;
			}
			.alignfull {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	.gutenberg-compatible-template.using-gutenberg .post-thumbnail img,
	.gutenberg-compatible-template.using-gutenberg .alignwide img,
	.gutenberg-compatible-template.using-gutenberg .alignfull img {
		width: 100%;
	}
	.gutenberg-compatible-template.using-gutenberg.page-template-template-no-sidebar article.page, .gutenberg-compatible-template.using-gutenberg.page-template-default:not(.has-sidebar) article.page,
	.gutenberg-compatible-template.using-gutenberg.page-template-template-full-width,
	.gutenberg-compatible-template.using-gutenberg.page-template-template-full-width-no-margins {
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.gutenberg-compatible-template.using-gutenberg, .gutenberg-compatible-template.using-gutenberg.single-post {
		.alignfull {
			margin-left: -5.4rem;
			margin-right: -5.4rem;
			width: auto;
			max-width: none;
		}
	}
}
/** COLUMNS BLOCK **/
// .wp-block-columns {

// }

.wp-block-column {
    margin: 0 20px;
}

@media screen and (max-width: 600px) {
    .wp-block-columns {
        display: block;
    }

    .wp-block-column {
        margin: 10px 0;
    }
}

.gutenberg-compatible-template.using-gutenberg {
	// New Lsx Class (Keep it at the bottom)
	.lsx-full-width-gutenberg {
		width: 100% !important;
		max-width: 100% !important;
		background: white;
		padding-top: 8.4rem;
		padding-bottom: 8.4rem;
		margin-top: 8.4rem;
    	margin-bottom: 8.4rem;
		&.has-1-columns {
			.wp-block-column {
				max-width: 50%;
				margin: 0 auto;
				padding: 0;
			}
		}
		&.first {
			margin-top: -2.4rem !important;
		}
	}
	.wp-block-columns.has-1-columns {
		&:last-child {
			margin-bottom: -8.4rem;
		}
	}
}
