#masthead {
	border: 0 none;
	border-radius: 0;
	margin-bottom: 0;
	min-height: 0;

	& > .container {
		align-items: center;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		min-height: 80px;
		padding-left: 50px;
		padding-right: 50px;
		width: 100%;
	}

	.navbar-header {
		& > .mobile-menu-title {
			@include media('>=desktop') { display: none; }
		}

		.site-branding { padding: 15px 0; }

		.site-title {
			margin: 0;

			& > a {
				@include lsx-link-colour($red-accent, nth($orange, 1));

				transition: color 300ms ease;
			}
		}

		.site-description { margin-bottom: 0; }
	}

	#searchform {
		order: 2;
		position: absolute;
		right: 50px;
	}
}

@include header-colours();
