#masthead {
	.mobile-menu-title {
		@include media('<desktop') {
			order: 2;

			color: map-get($top-menu, link);
			flex-grow: 1;
			font-size: 13px;
			margin-right: 10px;
			text-transform: uppercase;
			text-align: right;
		}

		@include media('>=desktop') { display: none; }
	}

	.navbar-toggle {
		border-color: map-get($top-menu, dropdown);
		background-color: map-get($top-menu, bg);

		& > .icon-bar { background-color: map-get($top-menu, link); }
	}
}

@include media('<desktop') {
	#masthead {
		.primary-navbar {
			left: 30px;
			order: 3;
			position: absolute;
			width: calc(100% - 30px);
			top: 100%;
			z-index: 1000;

			& > .nav {
				margin-bottom: 0;
				margin-top: 0;

				.caret { display: none; }
			}

			.menu-item {

				&.active > a,
				& > a {
					padding: 10px 15px;
				}

				&.dropdown > a {
					position: relative;

					&:after {
						@include fa-icon();

						content: $fa-var-angle-down;
						margin-left: 10px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}

			.dropdown-menu { padding: 0 20px; }
		}
	}
}

@include media('<phone') {
	#masthead {
		.primary-navbar {
			left: 15px;
			width: 100%;
		}
	}
}

@include media('>=desktop') {
	#masthead {
		.primary-navbar {
			align-self: stretch;
			flex-grow: 1;
			margin-left: 100px;
			padding: 0;
			position: relative;

			& > .nav {
				height: 100%;
				position: absolute;

				& > .menu-item {
					display: table;
					height: 100%;

					& > a,
					&.active > a {
						display: table-cell;
						font-size: 14px;
						padding: 0 15px;
						vertical-align: middle;
						transition: all 300ms ease;
					}
				}

				.menu-item-has-children {
					&:hover {
						& > .dropdown-menu {
							opacity: 1;
							transform: scale(1, 1);
						}
					}
				}

				.dropdown-menu {
					box-shadow: none;
					border: 0 none;
					border-radius: 0;
					display: block;
					margin: 0;
					opacity: .3;
					padding: 0;
					transition: all 300ms ease;
					transform: scale(1, 0);
					transform-origin: top center;

					& > .menu-item {
						transition: all 300ms ease;

						&.dropdown {
							&:before {
								@include fa-icon();

								content: $fa-var-angle-right;
								position: absolute;
								right: 15px;
								top: 50%;
								transform: translateY(-50%);
							}
						}

						& > a {
							background-color: inherit;
							color: inherit;
							font-size: 14px;
							padding: 12px 40px 12px 15px;

							&:hover,
							&:active:hover,
							&:focus {
								background-color: transparent;
							}
						}

						.dropdown-menu {
							left: 100%;
							top: 0;
						}
					}
				}
			}
		}
	}
}

@include nav-colours();
