#top-menu {
	& > .container {
		align-items: center;
		display: flex;
		flex-flow: row nowrap;
		height: map-get($top-menu, height);
		justify-content: flex-end;
		padding: 0;
		width: 100%;
	}

	.header-central & { justify-content: center; }

	.top-menu {
		height: 100%;

		&:not(.pull-left) { order: 1; }

		&.pull-left {
			flex-grow: 1;
			float: none !important;

			.header-central & { flex-grow: 0; }
		}

		& > .menu {
			@extend %list-unstyled;
			@include clearfix();

			height: 100%;
			margin-bottom: 0;

			& > .menu-item {
				display: table;
				float: left;
				height: 100%;

				& > a {
					display: table-cell;
					font-size: 13px;
					padding: 0 15px;
					transition: all 300ms ease;
					vertical-align: middle;

					&:before {
						@include fa-icon();

						font-size: 15px;
						padding-right: 5px;
						transition: all 300ms ease;
					}
				}

				@include media('<phone') {
					&:not(.cta) > a {
						@include hide-text();

						padding: 0;

						&:before {
							font-size: 18px;
							padding: 0 5px;
						}
					}
				}

				&.map > a:before { content: $fa-var-map-o; }
				&.tel > a:before { content: $fa-var-phone; }
				&.email > a:before { content: $fa-var-envelope-o; }

				&.cta {
					margin-left: 15px;
					padding-right: 0;

					& > a {
						@include lsx-button-scaffolding();
						@include lsx-button(#FFF, #FFF, nth($orange, 1), nth($orange, 2));

						&,
						&:active,
						&:visited {
							border-radius: 0;
							box-shadow: none;
							display: table-cell;
							font-size: 12px;
							padding-bottom: 0;
							padding-top: 0;
							transition: all 300ms ease;
						}
					}
				}
			}
		}
	}

	.dropdown {
		&:hover {
			& > .dropdown-menu {
				opacity: 1;
				transform: scale(1, 1);
			}
		}
	}

	.dropdown-menu {
		box-shadow: none;
		border: 0 none;
		border-radius: 0;
		display: block;
		left: 15px;
		margin: 0;
		opacity: 0;
		padding: 0;
		transition: all 300ms ease;
		transform: scale(1, 0);
		transform-origin: top center;
		z-index: 1001;

		& > .menu-item {
			transition: all 300ms ease;

			&.dropdown {
				&:before {
					@include fa-icon();

					content: $fa-var-angle-right;
					position: absolute;
					right: 15px;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			& > a {
				color: inherit;
				font-size: 14px;
				padding: 12px 40px 12px 15px;

				&:hover,
				&:active:hover,
				&:focus {
					background-color: transparent;
				}
			}

			.dropdown-menu {
				left: 100%;
				top: 0;
				transform-origin: 50% 50% 0;

				.menu-item {
					& + .menu-item {
						border-top-style: solid;
						border-top-width: 1px;
					}
				}
			}
		}
	}
}

@include top-menu-colours();
