@include top-menu-colours();

#top-menu {
	& > .container {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		padding: 0;
		width: 100%;
		height: map-get($top-menu, height);

		& > .top-menu {
			&:not(.pull-left) { order: 1; }

			&.pull-left {
				flex-grow: 1;
				float: none !important;
			}

			& > .menu {
				@extend %list-unstyled;

				align-items: center;
				display: flex;
				flex-flow: row nowrap;
				margin-bottom: 0;
			}
		}
	}

	.menu-item {
		&.dropdown {
			@include media('>=desktop') {
				&:hover {
					& > .dropdown-menu { display: block; }
				}
			}
		}

		& > a {
			font-size: 13px;
			line-height: map-get($top-menu, height);
			padding: 0 15px;
			transition: color 300ms ease;

			&:before {
				@include fa-icon();

				font-size: 15px;
				padding-right: 5px;
				transition: color 300ms ease;
			}
		}

		&:not(.cta) > a {
			@include media('<phone') {
				@include hide-text();

				padding: 0 10px;

				&:before {
					font-size: 18px;
					padding-right: 0;
				}
			}
		}

		&.map > a:before { content: $fa-var-map-o; }
		&.tel > a:before { content: $fa-var-phone; }
		&.email > a:before { content: $fa-var-envelope-o; }

		&.cta {
			margin-left: 15px;
			padding-right: 0;

			& > a {
				@include lsx-button-scaffolding();
				@include lsx-button(#FFF, #FFF, nth($orange, 1), nth($orange, 3), false, 0);

				&,
				&:active,
				&:visited {
					font-size: 12px;
					line-height: map-get($top-menu, height);
					padding-bottom: 0;
					padding-top: 0;
				}
			}
		}
	}

	.dropdown-menu {
		border: 0 none;
		border-radius: 0;
		box-shadow: none;
		left: 15px;
		margin: 0;
		padding: 0;

		& > .menu-item {
			padding: 0;

			&.dropdown {
				& > a {
					&:after {
						@include fa-icon();

						color: #FFF;
						content: $fa-var-angle-right;
						position: absolute;
						right: 15px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}

			& > a {
				line-height: 1.5;
				padding: 10px;
			}
		}

		.dropdown-menu {
			top: 0;
			left: 100%;
		}
	}
}
