@mixin lsx-button-scaffolding {
	&,
	&:active,
	&:visited {
		border: 0 none;
		border-radius: 3px;
		display: inline-block;
		font-size: 15px;
		left: 0;
		letter-spacing: 0.6px;
		line-height: 1.25;
		padding: 15px 40px;
		position: relative;
		text-transform: uppercase;
		top: 0;
		transition: all 100ms ease;
	}
}

@mixin lsx-bordered-button ($color: map-get($buttons, bg), $color-hover: map-get($buttons, color), $bg: transparent, $bg-hover: map-get($buttons, bg)) {
	@include lsx-button-colour($color, $color-hover, $bg, $bg-hover);

	&,
	&:active,
	&:visited {
		border: 2px solid $color;
		box-shadow: none;
	}

	&:active {
		left: 0;
		top: 0;
	}

	transition: all 300ms ease;
}

@mixin custom-buttons-colours ($color: map-get($buttons, color), $color-hover: map-get($buttons, color-hover), $bg: map-get($buttons, bg), $bg-hover: map-get($buttons, bg-hover)) {
	.btn { @include lsx-button-colour($color, $color-hover, $bg, $bg-hover); }

	.border-btn { @include lsx-bordered-button($bg, #FFF, transparent, $bg); }

	.white-border-btn { @include lsx-bordered-button(#FFF, $bg, transparent, #FFF); }
}

@mixin custom-cta-buttons-colours ($color: map-get($cta-buttons, color), $color-hover: map-get($cta-buttons, color-hover), $bg: map-get($cta-buttons, bg), $bg-hover: map-get($cta-buttons, bg-hover)) {
	.cta-btn { @include lsx-button-colour($color, $color-hover, $bg, $bg-hover); }

	.cta-border-btn { @include lsx-bordered-button($bg, #FFF, transparent, $bg); }
}
