@mixin top-menu-colours ($bg: map-get($top-menu, bg),$link: map-get($top-menu, link), $hover: map-get($top-menu, hover), $icon: map-get($top-menu, icon), $icon-hover: map-get($top-menu, icon-hover), $dropdown: map-get($top-menu, dropdown), $dropdown-hover: map-get($top-menu, dropdown-hover), $dropdown-link: map-get($top-menu, dropdown-link), $dropdown-link-hover: map-get($top-menu, dropdown-link-hover)) {
	#top-menu {
		background-color: $bg;

		.menu-item {
			& > a {
				color: $link;

				&:before { color: $icon; }

				&:hover {
					color: $hover;

					&:before { color: $icon-hover; }
				}
			}
		}

		.dropdown-menu {
			background-color: $dropdown;

			& > .menu-item {
				color: $dropdown-link;

				&:hover,
				&:active:hover,
				&:focus {
					background-color: $dropdown-hover;
					color: $dropdown-link-hover;
				}

				& > a {
					color: inherit;

					&:hover,
					&:active:hover,
					&:focus {
						background-color: transparent;
					}
				}
			}
		}
	}
}
