/* Button
--------------------------------------------- */

.wp-block-button.is-style-cta{background-color: var(--wp--preset--color--cta)!important;color:var(--wp--preset--color--base)!important;
}
.wp-block-button.is-style-cta:hover{background-color: var(--wp--preset--color--ctahover)!important;}
.wp-block-quote.is-style-pill{border-radius:50px;}

.wp-block-quote.is-style-rounded{border-radius:5px;}

.wp-element-button.has-primary-background-color:hover{background-color: var(--wp--preset--color--senary)!important;}
.wp-element-button.has-secondary-background-color:hover{background-color: var(--wp--preset--color--septenary)!important;}
.wp-element-button.has-tertiary-background-color:hover{background-color: var(--wp--preset--color--octonary)!important;}