/* Sizes
--------------------------------------------- */

.wp-block-heading.is-style-underline-primary{background:var(--wp--preset--gradient--black-primary);}

.wp-block-heading.is-style-underline,
.wp-block-heading.is-style-underline-primary,
.wp-block-heading.is-style-underline-secondary-tertiary,
.wp-block-heading.is-style-underline-tertiary-primary {
	border: none;
	box-shadow: none;
	padding: 0;
}

.wp-block-heading.is-style-underline  {
	background: var(--wp--preset--gradient--primary-secondary-tertiary);
}

.wp-block-heading.is-style-underline-primary-secondary  {
	background: var(--wp--preset--gradient--primary-secondary);
}

.wp-block-heading.is-style-underline-secondary-tertiary  {
	background: var(--wp--preset--gradient--secondary-tertiary);
}

.wp-block-heading.is-style-underline-tertiary-primary  {
	background: var(--wp--preset--gradient--tertiary-primary);
}

.wp-block-heading.is-style-underline ,
.wp-block-heading.is-style-underline-primary ,
.wp-block-heading.is-style-underline-secondary-tertiary ,
.wp-block-heading.is-style-underline-tertiary-primary {
	background-position: 0 85%;
	background-repeat: repeat-x;
	background-size: 100% 10px;
	font-size: var(--wp--preset--font-size--max-48);
	font-weight: var(--wp--custom--font-weight--medium);
	line-height: var(--wp--custom--line-height--one);
}