/* Paragraph
--------------------------------------------- */

p.is-style-content-box{padding:10px;  border:1px solid;border-color: currentColor;}

p.is-style-dark-content-box{padding:10px;  border:1px solid;border-color: currentColor;background-color: var(--wp--preset--color--contrast)!important;color:var(--wp--preset--color--base)!important;}

p.is-style-failure-content-box{padding:10px;  border:1px solid; border-color: var(--wp--preset--color--cta)!important;color:var(--wp--preset--color--cta)!important; background-color: #FAFAFA!important;}      

p.is-style-warning-content-box{padding:10px;  border:1px solid; border-color: var(--wp--preset--color--primary)!important;background-color: #FAFAFA!important;color:var(--wp--preset--color--primary)!important;} 

p.is-style-success-content-box{padding:10px;  border:1px solid; border-color: var(--wp--preset--color--tertiary)!important;background-color: #FAFAFA!important;color:var(--wp--preset--color--tertiary)!important;} 

