/* Sizes
--------------------------------------------- */
.wp-block-pullquote.is-style-primary-background{position: relative;border-radius: 5px;border: 2px solid #f6f6f6;}

.wp-block-pullquote.is-style-primary-background:before {
    background-color: #f6f6f6;
    color: #d84e2e;
    font-size: 92px;
    height: 80px;
    top: -30px;
    width: 80px;
    border-radius: 50%;
    content: "”";
    text-align: center;
    font-family: system;
    font-size: 60px;
    font-style: normal;
    left: 50%;
    line-height: 1.375;
    overflow: hidden;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);}

    .wp-block-pullquote.is-style-primary-background p{text-decoration:italic;}