/* Sizes
--------------------------------------------- */

.wp-block-pullquote.is-style-primary{background:var(--wp--preset--gradient--black-primary);}


.wp-block-pullquote.is-style-primary:before {
    color: #d84e2e;
    font-size: 72px;
    height: 60px;
    top: -30px;
    width: 60px;
    border-radius: 50%;
    content: "”";
    text-align: center;
    font-family: system;
    font-size: 60px;
    font-style: normal;
    height: 50px;
    left: 50%;
    line-height: 1.375;
    overflow: hidden;
    position: absolute;
    top: -25px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);}