@import "../scss/global/variables";
@import "../scss/global/mixins";
@import "../scss/global/placeholders";

// Placeholders and Mixins

%bootstrap-form-control {
	display: block;
	width: 100%;
	height: 50px;
	color: $text-color;
	background-color: white;
	background-image: none;
	border: 2px solid $breaker;
	border-radius: 2px;
	box-shadow: none;
	font-size: 18px;
	line-height: 1.33;
	padding: 10px 20px;
	transition: all 150ms ease;

	&:focus {
		border-color: nth($blue, 1);
	}
}

%bootstrap-message {
	border-radius: 4px;
	border: 1px solid transparent;
	margin-bottom: 20px;
	padding: 15px !important;

	&:before {
		display: none;
	}
}

%bootstrap-message-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

%bootstrap-message-error {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

%bootstrap-message-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

%small-form-field {
	height: 42px;
	padding: 10px 12px;
}

%small-form-select {
	height: 42px;
	padding: 0 12px;
}

%lsx-title {
	font-size: 30px !important;
	line-height: 1.2;
	margin-bottom: 4.25rem;
	margin-top: 0;
	text-align: center;

	&:after {
		content: "";
		display: block;
		height: 2px;
		margin: 2.4rem auto 0;
		width: 80px;
	}

	& > small {
		color: inherit;
		display: block;
		line-height: inherit;
		margin-top: 8px;

		&.long-text {
			margin-top: 16px;
		}
	}
}

@mixin small-button() {
	&,
	&:active,
	&:visited {
		font-weight: 700;
		height: initial;
		@include media(">tablet") {
			padding: 10px 30px !important;
		}
	}
}

/** Page Template Default **/
.page-template-page-php.tribe-js {
	&:not(.tribe-events-page-template) {
		&.post-type-archive-tribe_events {
			.wrap.container {
				#primary {
					.entry-content {
						width: 100%;
						padding: 0;
						> .archive-header-wrapper {
							display: none;
						}
						#tribe-events {
							.type-tribe_events {
								.entry-summary {
									padding: 0;
								}
							}
						}
					}
				}
			}
		}
		&.single {
			.wrap.container {
				.content.row {
					> .archive-header-wrapper {
						display: none;
					}
					> #primary {
						margin-top: 0;
						z-index: 0;
					}
				}
			}
		}
	}
}

/**
 * Tribe General Structure
 */
.tribe-button.tribe-button-small.tribe-upcoming.tribe-button-secondary,
.tribe-community-events-content
	.tribe-nav
	.my-events-display-options
	a.tribe-upcoming,
.tribe_community_edit .button,
.tribe_community_edit .button-primary,
.tribe_community_edit .button-secondary,
.tribe_community_edit .tribe-add-recurrence.tribe-button,
.tribe_community_edit .tribe-button,
.tribe_community_list #tribe-add-exclusion.button,
.tribe_community_list .button,
.tribe_community_list .button-primary,
.tribe_community_list .button-secondary,
.tribe_community_list .tribe-add-recurrence.tribe-button,
.tribe_community_list .tribe-button,
.tribe-community-events.form .my-events-header .tribe-button,
.tribe-community-events
	.tribe-section.tribe-section-image-uploader
	.tribe-image-upload-area
	.choose-file,
.tribe-community-events.form .tribe-button,
.tribe_community_edit .tribe-button.submit,
.tribe_community_list .tribe-button.submit,
.tribe-community-events
	.tribe-section.tribe-section-image-uploader
	.tribe-image-upload-area
	.EventImage,
.tribe_community_edit .button-primary,
.tribe_community_edit .tribe-button.tribe-button-primary,
.tribe_community_list .button-primary,
.tribe_community_list .tribe-button.tribe-button-primary,
.tribe_community_edit button.submit.events-community-submit,
input.button.submit.events-community-submit,
#post.tribe-button.submit.events-community-submit,
.tribe-community-events.form .tribe-button,
#tribe-community-events.form .tribe-button,
.tribe-community-events-content
	.tribe-nav
	.table-menu-wrapper
	a.tribe-button-tertiary {
	@include lsx-button-scaffolding();
	@include lsx-button-colour();
	@include small-button();
	font-family: $font-family-sans-serif;
	font-weight: 600;

	br {
		display: none;
	}
}
.content-area {
	#main {
		.tribe-button {
			&.tribe-button-primary {
				@include lsx-button-scaffolding();
				@include lsx-button-colour();
				@include small-button();
				font-family: $font-family-sans-serif;
				font-weight: 600;
			}
		}
	}
}

.tribe-events-button {
	box-shadow: 2px 2px 0 0 #7a030a;
	&,
	#tribe-events & {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
		@include small-button();
		font-family: $font-family-sans-serif;
		font-weight: 600;
	}
}

.tribe-events-filter-view.tribe-filters-closed
	#tribe_events_filters_wrapper
	.tribe_events_filters_toggle {
	font-size: 15px;
}

input#EventImage {
	position: absolute;
}

// Structure

#tribe-events-pg-template {
	margin: 0 !important;
	max-width: none !important;
	padding: 0 !important;
}

article.page {
	.page-template-default:not(.has-sidebar).tribe-js & {
		width: 100% !important;
	}
}

.site-main {
	.post-type-archive-tribe_events:not(.has-sidebar).tribe-js & {
		width: 100%;
	}
}

#tribe-bar-form {
	#tribe-bar-views {
		padding: 0;
		.tribe-bar-views-list {
			padding: 0;
		}
	}

	.tribe-bar-submit {
		input[type="submit"] {
			@include lsx-button-scaffolding();
			@include lsx-button-colour();
			@include small-button();
		}
	}
}

a.tribe-events-read-more {
	.content-area &:not(.btn) {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
		@include small-button();
		font-family: $font-family-sans-serif;
		font-weight: 600;
	}
}

.tribe-events-notices {
	@extend %bootstrap-message;
	@extend %bootstrap-message-info;
	margin-top: 0;

	ul {
		margin-bottom: 0 !important;
		padding-left: 0 !important;
	}
}

#tribe-events-footer,
#tribe-events-header {
	.tribe-events-sub-nav {
		li {
			font-weight: bold;
			a {
				background: none;
			}
		}
	}
}

#main {
	.tribe-community-events-content {
		.tribe-nav {
			.tribe-pagination {
				.current,
				.inactive {
					border-radius: 3px;
					border: 2px solid nth($blue, 1);
					display: inline-block;
					height: 40px;
					line-height: 36px;
					text-align: center;
					vertical-align: top;
					width: 40px;
					cursor: pointer;
					&:hover {
						background: nth($blue, 1);
						color: white;
					}
				}
				.current {
					background: nth($blue, 1);
				}
			}
			&.tribe-nav-top {
				.tribe-pagination {
					display: none;
				}
			}
		}
	}
}

a.tribe-button.tribe-button-small.tribe-past.tribe-button-tertiary,
a.table-menu-btn.button.tribe-button.tribe-button-tertiary.tribe-button-activate,
button#tribe-add-exclusion,
.tribe-button.tribe-button-small.tribe-upcoming.tribe-button-tertiary,
.tribe-button.tribe-button-small.tribe-past.tribe-button-secondary {
	@include lsx-button-scaffolding();
	@include small-button();
	background: var(--shuttle-gray);
	color: white;
	border: none;
	box-shadow: 2px 2px 0 0 var(--button-secondary-hover);
	&:hover {
		background: var(--button-secondary-hover);
	}
}
a.table-menu-btn.button.tribe-button.tribe-button-tertiary.tribe-button-activate {
	color: #64686c;
}

.tribe-nav {
	.table-menu {
		ul {
			padding-left: 0;
		}
	}
}

.tribe-community-events .tribe-community-notice.tribe-community-notice-error {
	margin-top: 1em;
}

#tribe-events-header {
	margin-bottom: 0;
	.tribe-events-sub-nav {
		display: none;
	}
}

#tribe-events-footer {
	#comments + &,
	#respond + & {
		margin-top: 8.5rem;
	}
}

.tribe-js {
	.datepicker {
		min-width: 160px;
	}
	// Organizer
	&.single-tribe_organizer {
		#primary {
			&.content-area {
				margin-bottom: $lsx-medium-gap;
				margin-top: $lsx-medium-gap;
			}
			#main {
				.tribe-events-organizer {
					.tribe-events-organizer-meta {
						display: flex;
						flex-direction: column;
						border-bottom: none;
						margin-bottom: 2.4rem;
						padding-bottom: 0;
						.tribe-events-event-image {
							margin-top: 2.4rem;
							order: -1;
							align-self: baseline;
						}
					}
				}
			}
		}
	}
}

#tribe-bar-collapse-toggle {
	line-height: 31px;
}

.tribe-events-calendar {
	th {
		font-weight: normal;
	}

	td {
		div[id*="tribe-events-daynum-"] {
			&,
			& a {
				font-size: 14px;
			}
		}
	}
}

#tribe-events-content {
	margin-bottom: 0;
	padding: 0;
	.tribe-events-tooltip {
		padding: 1em 0.5em;
		h3.entry-title.summary {
			padding: 0 0.5em;
			margin-bottom: 0;
		}
		h4 {
			font-weight: bold;
			padding: 8px 12px;
		}

		.tribe-events-event-body {
			overflow: hidden;
			padding: 5px 12px 0;

			.tribe-event-duration {
				font-weight: bold;

				.tribe-events-abbr {
					margin-bottom: 12px;
				}
			}

			.tribe-event-description {
				padding: 12px 0 0 0;

				p {
					margin-bottom: 12px;
				}
			}
		}

		&:not(.tribe-event-featured) {
			.tribe-events-event-thumb {
				padding: 12px 12px 12px 0;
			}
		}
	}
}

.tribe-events-user-recurrence-toggle {
	input[type="radio"],
	input[type="checkbox"] {
		margin-right: 8px;
	}
}

.tribe-events-list-separator-month {
	font-size: 18px;
	padding: 8px 12px;
	text-align: center;
}

.tribe-events-list {
	.tribe-events-list-event-title {
		font-size: 30px;
		margin-bottom: 12px;
	}

	.tribe-events-loop {
		.tribe-event-featured {
			margin-top: 2.25em;
			padding: 25px !important;

			.tribe-events-list-event-title {
				margin-top: 0;

				a {
					vertical-align: middle;
				}

				.label {
					font-size: 60%;
					margin-left: 10px;
					padding: 3px 12px;
					text-transform: uppercase;
					vertical-align: middle;

					@include media("<phone") {
						display: none;
					}
				}
			}
		}

		.tribe-events-event-meta {
			font-weight: normal;
		}

		.type-tribe_events {
			@include media(">=tablet") {
				display: flex;
			}

			.tribe-events-event-meta {
				margin-bottom: 12px;
			}
		}

		.tribe-events-event-image,
		.tribe-event-featured .tribe-events-event-image {
			float: none;
			margin: 0 35px 0 0;
			text-align: left;
			min-width: 350px;

			@include media("<phone") {
				margin: 0 0 15px 0;
				width: 100%;
			}
		}

		.tribe-events-event-content {
			@include media(">=phone") {
				flex: 1 1 auto;
			}
		}
	}
}

.tribe-events-day {
	.tribe-events-day-time-slot {
		h5 {
			font-size: 18px;
			margin-top: 35px;
			padding: 8px 12px;
			text-align: center;
		}

		.type-tribe_events {
			margin-left: 0;
		}
	}
}

h2.tribe-events-page-title {
	font-size: 30px;
	margin-bottom: 35px;
}

#tribe-events-bar {
	margin-bottom: 35px;
}

.single-tribe_events {
	&.page-has-banner {
		.tribe_events {
			.tribe-events-event-image {
				display: none;
			}
		}
	}
	&:not(.page-has-banner) {
		#tribe-events-content {
			padding-top: $lsx-large-gap - $lsx-gap;
		}
	}
	.tribe-events-back {
		display: none;
	}
	.tribe-events-single-event-title {
		font-size: 40px;
		display: none;
	}
	.tribe-events-event-image {
		text-align: left;
	}

	.tribe-events-schedule {
		.tribe-events-cost {
			display: table;
			font-size: 15px;
			font-style: normal;
			font-weight: 700;
			line-height: 1;
			padding: 8px 12px;
			text-align: center;
			text-overflow: ellipsis;
		}
	}

	.tribe-events-event-meta {
		font-size: inherit;

		.column,
		.tribe-events-meta-group {
			padding: 0 25px;
		}

		.tribe-events-meta-group {
			.tribe-events-single-section-title {
				font-size: 22px;
				font-weight: normal;
				margin: 20px 0;
			}
		}
	}
}

.tribe-events-related-events-title {
	@extend %lsx-title;
}

.tribe-events-single {
	ul.tribe-related-events {
		li {
			@include media(">=phone") {
				margin-right: 2%;
				width: 32%;
				&:last-child {
					margin-right: 0;
				}
			}

			.tribe-related-event-info {
				padding: 2rem;
				text-align: center;

				.tribe-related-events-title {
					font-size: 20px;
				}

				.moretag {
					display: block;
					margin: 2rem -2rem -2rem;
					padding: 1rem 0;
					text-align: center;
					transition: background 300ms ease;

					&:after {
						color: inherit;
						content: "\f178";
						display: inline-block;
						font-family: "FontAwesome";
						font-size: inherit;
						margin-left: 5px;
						text-rendering: auto;

						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}
			}
		}
	}
}

.tribe-events-event-cost {
	font-weight: bold;
	.ticket-cost {
		margin-left: 10px;
	}
}
.tribe_events {
	.cart {
		border: 1px solid #e1e1e1;
		background-color: white;
		padding: 1em 2em;
		margin-bottom: 2em;
	}
}
.tribe_events-template-default.single {
	.tribe-events-single-event-description {
		padding: 0 2em 0 0;
	}
}

.tribe-events-tickets {
	background: white !important;
	td {
		padding: 10px 0 !important;
		input {
			&:focus {
				border-color: nth($blue, 1);
				outline: 0;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
					0 0 8px rgba(65, 138, 208, 0.6);
			}
		}
		select {
			&:focus {
				border-color: nth($blue, 1);
				outline: 0;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
					0 0 8px rgba(65, 138, 208, 0.6);
			}
		}
	}
}

.tribe-button.tribe-button--rsvp {
	margin: 0;
	&:hover {
		background-color: nth($orange, 3) !important;
	}
}
.tribe-tickets-meta-row {
	display: table-row;
}
.tribe-tickets-table {
	width: 100%;
	label {
		padding-right: 15px;
	}
}
.tribe-events-tickets input,
.tribe-events-tickets select {
	display: block;
	width: 100%;
	height: 50px;
	color: $text-color;
	border: 1px solid $breaker;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	border-width: 2px;
	box-shadow: none;
	font-size: 18px;
	line-height: 1.33;
	padding: 10px 20px;
	transition: all 150ms ease;
}
.tribe-events-tickets-title.tribe--rsvp {
	padding: 0 10px;
}

@media (min-width: 992px) {
	.tribe_events .cart {
		float: right;
		width: 40%;
	}
	.tribe_events-template-default.single
		.tribe-events-single-event-description {
		float: left;
		width: 60%;
	}
}

/**
 * Tribe Community Event List
 */

#tribe-events,
#tribe-community-events {
	form {
		.tribe-events-community-details {
			background-color: white;
		}
		div.venue,
		.events-community-post-title,
		.events-community-post-content {
			display: flex;
			flex-direction: column;
			label {
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
			}
			input:not([type="checkbox"]):not(.button):not(.select2-search__field),
			textarea {
				display: block;
				width: 100%;
				height: $input-height-base;
				padding: $padding-base-vertical $padding-base-horizontal;
				font-size: $font-size-base;
				line-height: $line-height-base;
				color: $input-color;
				background-color: $input-bg;
				background-image: none;
				border: 2px solid $input-border;
				border-radius: $input-border-radius;
				@include input-size(
					".input-lg",
					$input-height-large,
					$padding-large-vertical,
					$padding-large-horizontal,
					$font-size-large,
					$line-height-large,
					$input-border-radius-large
				);
				@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
				@include transition(
					border-color ease-in-out 0.15s,
					box-shadow ease-in-out 0.15s
				);
				@include form-control-focus;
				@include placeholder;
				&::-ms-expand {
					border: 0;
					background-color: transparent;
				}
				&[disabled],
				&[readonly],
				fieldset[disabled] & {
					background-color: $input-bg-disabled;
					opacity: 1;
				}
				&[disabled],
				fieldset[disabled] & {
					cursor: $cursor-disabled;
				}
			}
			input[type="checkbox"] {
				margin: 5px 0 20px;
			}
			textarea {
				height: auto;
			}
		}
		.tribe-section-content,
		.tribe-section-content-field {
			ul {
				border: none;
				box-shadow: none;
			}
			li:not(.select2-search),
			input:not(.select2-input):not([type="checkbox"]):not(.tribe-datepicker):not(.tribe-timepicker):not(.select2-search__field) {
				border: 2px solid $input-border;
				border-radius: $input-border-radius;
				@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
				@include transition(
					border-color ease-in-out 0.15s,
					box-shadow ease-in-out 0.15s
				);
				@include form-control-focus;
				@include placeholder;
				height: 50px;
				padding: 5px 15px;
				line-height: 35px;
				width: 100%;
			}
		}
		.select2-container.tribe-dropdown:not(.select2-container-multi) {
			width: 100%;
		}
		.select2-choice {
			border: 2px solid $input-border;
			border-radius: $input-border-radius;
			@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
			@include transition(
				border-color ease-in-out 0.15s,
				box-shadow ease-in-out 0.15s
			);
			@include form-control-focus;
			@include placeholder;
			height: 50px;
			padding: 5px 10px;
			line-height: 35px;
		}
	}
}
#tribe-community-events {
	form {
		.tribe-events-community-details {
			background-color: white;
		}
		.events-community-post-title,
		.events-community-post-content {
			display: flex;
			flex-direction: column;
			label {
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
			}
			input:not([type="checkbox"]):not(.button),
			textarea {
				display: block;
				width: 100%;
				height: $input-height-base;
				padding: $padding-base-vertical $padding-base-horizontal;
				font-size: $font-size-base;
				line-height: $line-height-base;
				color: $input-color;
				background-color: $input-bg;
				background-image: none;
				border: 2px solid $input-border;
				border-radius: $input-border-radius;
				@include input-size(
					".input-lg",
					$input-height-large,
					$padding-large-vertical,
					$padding-large-horizontal,
					$font-size-large,
					$line-height-large,
					$input-border-radius-large
				);
				@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
				@include transition(
					border-color ease-in-out 0.15s,
					box-shadow ease-in-out 0.15s
				);
				@include form-control-focus;
				@include placeholder;
				&::-ms-expand {
					border: 0;
					background-color: transparent;
				}
				&[disabled],
				&[readonly],
				fieldset[disabled] & {
					background-color: $input-bg-disabled;
					opacity: 1;
				}
				&[disabled],
				fieldset[disabled] & {
					cursor: $cursor-disabled;
				}
			}
			input[type="checkbox"] {
				margin: 5px 0 20px;
			}
			textarea {
				height: auto;
			}
		}
	}
}

.tribe-dropdown .select2-choice .select2-arrow,
.tribe-ea-dropdown .select2-choice .select2-arrow {
	top: 10px;
}

.select2-container .select2-choice abbr {
	top: 17px;
}

.tribe-dropdown.select2-container-multi
	.select2-choices
	.select2-search-choice
	div,
.tribe-ea-dropdown.select2-container-multi
	.select2-choices
	.select2-search-choice
	div {
	padding-left: 10px;
}

.select2-search-choice {
	margin: 5px 0 !important;
}

.select2-container.select2-container-multi.tribe-dropdown.tribe-dropdown-created.select2-dropdown-open {
	border: none;
}

.tribe-events-venue-meta {
	.tribe-events-event-image {
		clear: both;
	}
	.tribe-venue-name {
		display: none;
	}
}

.tribe-events-organizer-meta {
	.tribe-organizer-name {
		display: none;
	}
}

body:not(.logged-in) {
	#tribe-events.tribe-js {
		> p,
		.tribe-community-events-content > p {
			border-bottom: 1px solid $table-border-color;
			padding: 1em 29px;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 20px;
		}
		#loginform {
			padding: 1em 2em;
			label {
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
			}
			input:not([type="checkbox"]):not([type="submit"]),
			textarea {
				display: block;
				width: 100%;
				height: $input-height-base;
				padding: $padding-base-vertical $padding-base-horizontal;
				font-size: $font-size-base;
				line-height: $line-height-base;
				color: $input-color;
				background-color: $input-bg;
				background-image: none;
				border: 2px solid $input-border;
				border-radius: $input-border-radius;
				@include input-size(
					".input-lg",
					$input-height-large,
					$padding-large-vertical,
					$padding-large-horizontal,
					$font-size-large,
					$line-height-large,
					$input-border-radius-large
				);
				@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
				@include transition(
					border-color ease-in-out 0.15s,
					box-shadow ease-in-out 0.15s
				);
				@include form-control-focus;
				@include placeholder;
				&::-ms-expand {
					border: 0;
					background-color: transparent;
				}
				&[disabled],
				&[readonly],
				fieldset[disabled] & {
					background-color: $input-bg-disabled;
					opacity: 1;
				}
				&[disabled],
				fieldset[disabled] & {
					cursor: $cursor-disabled;
				}
			}
			input[type="checkbox"] {
				margin: 5px 0 20px;
			}
			textarea {
				height: auto;
			}
			@media (max-width: 600px) {
				input#wp-submit {
					width: 100%;
				}
			}
		}
		> a,
		.tribe-community-events-content > a {
			display: block;
			padding: 1em 2em;
		}
	}
}

.content-area {
	.tribe-buttonset .tribe-button-field.tribe-active {
		@include lsx-button-colour();
		height: inherit;
		box-shadow: none !important;
		border: 1px solid $breaker;
	}
}

#tribe-community-events
	.my-events-header
	a.tribe-button.tribe-button-secondary {
	@include lsx-button-scaffolding();
	@include lsx-button-colour();
	@include small-button();
	font-family: $font-family-sans-serif;
	font-weight: 600;
}

/* Tribe Community Events buttons aligned left */
a.tribe-add-post.tribe-button,
button#tribe-add-recurrence {
	margin-left: 0;
	margin-right: 0;
}

/**
 * Tribe Community Events Add new
 */
.tribe-community-events.form,
#tribe-community-events.form {
	padding: 0;
	background: transparent;
	border: none;

	.tribe-button {
		width: auto;
	}

	.tribe-field-start_date,
	.tribe-field-end_date,
	.tribe-field-start_time,
	.tribe-field-end_time {
		height: auto;
		color: $text-color;
		background-color: white;
		background-image: none;
		border: 2px solid $breaker;
		border-radius: 2px;
		padding: 4px 10px;
		width: auto;

		&:focus {
			border-color: nth($blue, 1);
			outline: 0;
		}
	}

	.my-events-header {
		background-color: white;
		padding: 16px;
		border-left: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
		margin: 0;
		margin-bottom: 1.5em;
		h2.my-events {
			flex-grow: 10;
		}

		.tribe-button {
			flex-grow: 1;
		}
	}

	.tribe-section,
	.events-community-post-content,
	.events-community-post-title {
		background: white;
		border-radius: 3px;
		font-size: 13px;
	}

	.tribe-section {
		margin: 24px 0;
		padding-bottom: 32px;
		border: 1px solid #e0e0e0;
	}

	.events-community-post-title,
	.events-community-post-content {
		padding: 16px;
		font-weight: normal;
		border-top: 0;
		border-radius: 0;
		border: 1px solid #e0e0e0;

		label {
			display: block;
			font-weight: normal;
			margin: 0;
		}
	}

	.events-community-post-title {
		border-bottom: 0px;
		border: 1px solid #e0e0e0;
		display: block;
		margin: 0;
		//padding-bottom: 0px;

		#post-title {
			margin-bottom: 0;
			width: 100%;
			display: block;
		}
	}

	.events-community-post-content {
		border-bottom: 1px solid #e0e0e0;
		//padding-top: 0px;
		padding-bottom: 25px;
	}
}
.tribe-community-event-info {
	width: inherit;
}
.tribe-community-event-info {
	.organizer {
		display: flex;
		flex-direction: column;
		//width: 50%;

		input {
			display: block;
			height: $input-height-base;
			padding: $padding-base-vertical $padding-base-horizontal;
			font-size: $font-size-base;
			line-height: $line-height-base;
			color: $input-color;
			background-color: $input-bg;
			background-image: none;
			border: 2px solid $input-border;
			border-radius: $input-border-radius;
			@include input-size(
				".input-lg",
				$input-height-large,
				$padding-large-vertical,
				$padding-large-horizontal,
				$font-size-large,
				$line-height-large,
				$input-border-radius-large
			);
			@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
			@include transition(
				border-color ease-in-out 0.15s,
				box-shadow ease-in-out 0.15s
			);
			@include form-control-focus;
			@include placeholder;
			&::-ms-expand {
				border: 0;
				background-color: transparent;
			}
			&[disabled],
			&[readonly],
			fieldset[disabled] & {
				background-color: $input-bg-disabled;
				opacity: 1;
			}
			&[disabled],
			fieldset[disabled] & {
				cursor: $cursor-disabled;
			}
		}
	}
}

/**
 * Tribe Community Events Mobile
 */

#loginform,
.loginform,
.woocommerce form.login,
.woocommerce form.register,
.logged-out .woocommerce {
	max-width: 550px;
	margin: 0 auto;
	border: none;
	padding: 0;
	button,
	button.button,
	#wp-submit {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
		@include small-button();
		font-family: $font-family-sans-serif;
		font-weight: 600;
	}
}

body:not(.logged-in) {
	&.tribe-js {
		.tribe-community-events-content {
			max-width: 550px;
		}
	}
}
