body { font-family: [font-family-body]; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: [font-family-headings];
}

.content-area,
.widget-area {
	blockquote {
		&:before { font-family: [font-family-headings]; }
	}
}

.wc-social-login {
	&:before { font-family: [font-family-headings]; }
}

.blog,
.archive,
.search-results {
	article.post,
	article.page,
	article.lsx-slot {
		.entry-title {
			.label-sticky { font-family: [font-family-body]; }
		}
	}
}

#respond {
	.comment-reply-title {
		& > small { font-family: [font-family-body]; }
	}
}

#comments {
	.media-list {
		.media {
			.media-heading { font-family: [font-family-body]; }
		}
	}
}
