@import 'global/variables';
@import 'global/mixins';
@import 'global/placeholders';

// Placeholders and Mixins

%bootstrap-form-control {
	display: block;
	width: 100%;
	height: 50px;
	// padding: 6px 12px;
	// font-size: 15px;
	// line-height: 1.6;
	color: #4a4a4a;
	background-color: #fff;
	background-image: none;
	border: 1px solid #DDD;
	border-radius: 2px;
	// box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	// transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

	// lsx-form-control

	border-width: 2px;
	box-shadow: none;
	font-size: 18px;
	line-height: 1.33;
	padding: 10px 20px;
	transition: all 150ms ease;

	&:focus {
		border-color: #418AD0;
		// outline: 0;
		// box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 138, 208, 0.6);
	}
}

%small-form-field {
	height: 42px;
	padding: 10px 12px;
}

%small-form-select {
	height: 42px;
	padding: 0 12px;
}

%sensei-clearfix {
	clear: both;
	content: '';
	display: table;
}

@mixin small-button() {
	&,
	&:active,
	&:visited {
		height: 40px;
		line-height: 20px;
		padding: 10px 18px;
	}
}

// Structure

article.page {
	.page-template-default:not(.has-sidebar).sensei & {
		width: 100% !important;
	}
}

.site-main {
	.archive:not(.has-sidebar).sensei & { width: 100% !important; }
}

.sensei {
	.fix {
		&:after { @extend %sensei-clearfix; }
	}

	article.post + article.post { margin-top: 4.25rem; }

	.post-entries { margin-top: 4.25rem; }

	.thumbnail {
		border: 0;
		border-radius: 0;
		padding: 0;
	}
}

.lesson-content {
	.entry {
		&:after { @extend %sensei-clearfix; }
	}
}

.sensei-share-your-grade {
	&.message { margin-top: 4.25rem; }
	&.buttons { padding-left: 0; }
}

#main {
	.course,
	.course-container {
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

// Buttons and fields

.sensei-ordering {
	select {
		@extend %bootstrap-form-control;
		@extend %lsx-form-field;
		@extend %small-form-select;
	}
}

.sensei {
	form {
		.form-row {
			input.input-text,
			textarea {
				@extend %bootstrap-form-control;
				@extend %lsx-form-field;
			}

			input.input-text { @extend %small-form-field; }

			textarea { height: 80px; }
		}
	}
}

.course-container,
.course,
.lesson,
.quiz {
	a.button,
	a.comment-reply-link,
	#commentform #submit,
	.submit,
	input[type=submit],
	input.button,
	button.button {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
		@include small-button();
	}
}

.sensei
.course-container,
.course,
.lesson,
.quiz,
.learner-info {
	p.sensei-message,
	div.sensei-message {
		line-height: 36px;
		overflow: hidden;

		a.next-lesson {
			@include lsx-button-scaffolding();
			@include lsx-button-colour();
			@include small-button();
		}
	}
}

.sensei-course-filters {
	margin-bottom: 2em;

	li {
		a {
			border: 0;
			font-size: 18px;
			padding: 12px 22px;
		}
	}
}

#user-course-status-toggle {
	border-bottom: 0;
	margin-bottom: 2em;

	a {
		border: none;
		font-size: 18px;
		font-weight: normal;
		padding: 12px 22px;

		&.active { border-bottom: none; }
	}
}

.entry-actions {
	margin-bottom: 2.4rem;

	& > form {
		display: inline;
		margin-left: 1em;
		&:first-child { margin-left: 0; }
	}
}

.sensei-results-links {
	display: inline;
	overflow: hidden;

	.entry-actions & {
		margin-bottom: 0;
		a.view-results { float: none; }
	}
}

// Share

.fb_iframe_widget {
	span { vertical-align: top !important; }
}

// Login screen

#my-courses {
	background: none;
	border: 0;
	color: inherit;
	font-size: inherit;
	padding: 0;

	form#loginform {
		input[type="text"],
		input[type="password"] {
			@extend %bootstrap-form-control;
			@extend %lsx-form-field;
			@extend %small-form-field;
		}

		input[type="submit"] {
			@include lsx-button-scaffolding();
			@include lsx-button-colour();
			@include small-button();

			& + a { margin-left: 15px; }
		}

		input[type="checkbox"] { margin-right: 10px; }
	}
}
