@import 'global/variables';
@import 'global/mixins';
@import 'global/placeholders';

// Placeholders and Mixins

%bootstrap-form-control {
	display: block;
	width: 100%;
	height: 50px;
	// padding: 6px 12px;
	// font-size: 15px;
	// line-height: 1.6;
	color: #4a4a4a;
	background-color: #fff;
	background-image: none;
	border: 1px solid #DDD;
	border-radius: 2px;
	// box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	// transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

	// lsx-form-control

	border-width: 2px;
	box-shadow: none;
	font-size: 18px;
	line-height: 1.33;
	padding: 10px 20px;
	transition: all 150ms ease;

	&:focus {
		border-color: #418AD0;
		// outline: 0;
		// box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 138, 208, 0.6);
	}
}

%bootstrap-message {
	border-radius: 4px;
	border: 1px solid transparent;
	margin-bottom: 20px;
	padding: 15px !important;

	&:before { display: none; }
}

%bootstrap-message-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

%bootstrap-message-error {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

%bootstrap-message-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

%small-form-field {
	height: 42px;
	padding: 10px 12px;
}

%small-form-select {
	height: 42px;
	padding: 0 12px;
}

%lsx-title {
	font-size: 30px !important;
	line-height: 1.2;
	margin-bottom: 4.25rem;
	margin-top: 0;
	text-align: center;

	&:after {
		content: '';
		display: block;
		height: 2px;
		margin: 2.4rem auto 0;
		width: 80px;
	}

	& > small {
		color: inherit;
		display: block;
		line-height: inherit;
		margin-top: 8px;

		&.long-text { margin-top: 16px; }
	}
}

@mixin small-button() {
	&,
	&:active,
	&:visited {
		height: 40px;
		line-height: 20px;
		padding: 10px 18px;
	}
}

// Structure

#tribe-events-pg-template {
	margin: 0 !important;
	max-width: none !important;
	padding: 0 !important;
}

article.page {
	.page-template-default:not(.has-sidebar).tribe-theme-lsx & { width: 100% !important; }
}

.site-main {
	.archive:not(.has-sidebar).tribe-theme-lsx & { width: 100% !important; }
}

#tribe-bar-form {
	#tribe-bar-views {
		padding: 0;
		.tribe-bar-views-list { padding: 0; }
	}

	.tribe-bar-submit {
		input[type=submit] {
			@include lsx-button-scaffolding();
			@include lsx-button-colour();
			@include small-button();
		}
	}
}

.tribe-events-button {
	box-shadow: 2px 2px 0 0 #7A030A;
	&, #tribe-events & {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
		@include small-button();
	}
}
.tribe-events-read-more {
	background-color: #a4050f !important;
	color: #ffffff !important;
	box-shadow: 2px 2px 0 0 #7C040C !important;
}
a.tribe-events-read-more {
	.content-area &:not(.btn) {
		@include lsx-button-scaffolding();
		@include lsx-button-colour();
		@include small-button();
	}
}

.tribe-events-notices {
	@extend %bootstrap-message;
	@extend %bootstrap-message-info;
	margin-top: 0;

	ul {
		margin-bottom: 0 !important;
		padding-left: 0 !important;
	}
}

#tribe-events-footer,
#tribe-events-header  {
	.tribe-events-sub-nav {
		li {
			font-weight: bold;
			a { background: none; }
		}
	}
}

#tribe-events-header {
	margin-bottom: 0;
	.tribe-events-sub-nav { display: none; }
}

#tribe-events-footer {
	#comments + &,
	#respond + & {
		margin-top: 8.5rem;
	}
}

.tribe-theme-lsx {
	.datepicker { min-width: 160px; }
}

#tribe-bar-collapse-toggle { line-height: 31px; }

.tribe-events-calendar {
	th { font-weight: normal; }

	td {
		div[id*=tribe-events-daynum-] {
			&, & a { font-size: 14px; }
		}
	}
}

#tribe-events-content {
	margin-bottom: 0;
	padding: 0;
	a {
	    color: #A4050F;
	}
	.tribe-events-tooltip {
		h4 {
			font-weight: bold;
			padding: 8px 12px;
		}

		.tribe-events-event-body {
			overflow: hidden;
			padding: 10px 12px 0;

			.tribe-event-duration {
				font-weight: bold;

				.tribe-events-abbr { margin-bottom: 12px; }
			}

			.tribe-event-description {
				padding: 12px 0 0 0;

				p { margin-bottom: 12px; }
			}
		}

		&:not(.tribe-event-featured) {
			.tribe-events-event-thumb { padding: 12px 12px 12px 0; }
		}
	}
}

.tribe-events-user-recurrence-toggle {
	input[type="radio"],
	input[type="checkbox"] { margin-right: 8px; }
}

.tribe-events-list-separator-month {
	font-size: 18px;
	padding: 8px 12px;
	text-align: center;
}

.tribe-events-list {
	.tribe-events-list-event-title {
		font-size: 30px;
		margin-bottom: 12px;
	}

	.tribe-events-loop {
		.tribe-event-featured {
			margin-top: 2.25em;
			padding: 25px !important;

			.tribe-events-list-event-title {
				margin-top: 0;

				a { vertical-align: middle; }

				.label {
					font-size: 60%;
					margin-left: 10px;
					padding: 3px 12px;
					text-transform: uppercase;
					vertical-align: middle;

					@include media ('<phone') { display: none; }
				}
			}
		}

		.tribe-events-event-meta {
			font-weight: normal;
			a {
			    color: #A4050F;
			}
		}

		.type-tribe_events {
			@include media ('>=phone') {
				display: flex;
			}

			.tribe-events-event-meta { margin-bottom: 12px; }
		}

		.tribe-events-event-image,
		.tribe-event-featured .tribe-events-event-image {
			float: none;
			margin: 0 35px 0 0;
			text-align: left;
			width: 350px;

			@include media ('<phone') {
				margin: 0 0 15px 0;
				width: 100%;
			}
		}

		.tribe-events-event-content {
			@include media ('>=phone') { flex: 1 1 auto; }
		}
	}
}

.tribe-events-day {
	.tribe-events-day-time-slot {
		h5 {
			font-size: 18px;
			margin-top: 35px;
			padding: 8px 12px;
			text-align: center;
		}

		.type-tribe_events { margin-left: 0; }
	}
}

h2.tribe-events-page-title {
	font-size: 30px;
	margin-bottom: 35px;
}

#tribe-events-bar { margin-bottom: 35px; }

.single-tribe_events {
	.tribe-events-back { display: none; }
	.tribe-events-single-event-title { font-size: 40px; }
	.tribe-events-event-image { text-align: left; }

	.tribe-events-schedule {
		h2 { display: block; }

		.tribe-events-cost {
			display: inline-block;
			font-size: 15px;
			font-style: normal;
			font-weight: 700;
			line-height: 1;
			padding: 8px 12px;
			text-align: center;
			text-overflow: ellipsis;
		}
	}

	.tribe-events-event-meta {
		font-size: inherit;

		.column,
		.tribe-events-meta-group {
			padding: 0 25px;
		}

		.tribe-events-meta-group {
			.tribe-events-single-section-title {
				font-size: 22px;
				font-weight: normal;
				margin: 20px 0;
			}
		}
	}
}

.tribe-events-related-events-title { @extend %lsx-title; }

.tribe-events-single {
	ul.tribe-related-events {
		li {
			@include media ('>=phone') {
				margin-right: 2%;
				width: 32%;
				&:last-child { margin-right: 0; }
			}

			.tribe-related-event-info {
				padding: 2rem;
				text-align: center;

				.tribe-related-events-title { font-size: 20px; }

				.moretag {
					display: block;
					margin: 2rem -2rem -2rem;
					padding: 1rem 0;
					text-align: center;
					transition: background 300ms ease;

					&:after {
						color: inherit;
						content: '\f178';
						display: inline-block;
						font-family: 'FontAwesome';
						font-size: inherit;
						margin-left: 5px;
						text-rendering: auto;

						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}
			}
		}
	}
}

.tribe-events-event-cost {
	font-weight: bold;
	.ticket-cost { margin-left: 10px; }
}
.tribe_events {
	.cart {
		border: 1px solid #E1E1E1;
	    background-color: #FFFFFF;
	    padding: 1em 2em;
	    margin-bottom: 2em;
	}
}
.tribe_events-template-default.single {
	.tribe-events-single-event-description {
		padding: 0 2em 0 0;
	}
}
.tribe-button, .button.alt {
    background-color: #F7AE00 !important;
    color: #ffffff !important;
    border: none;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    box-shadow: 2px 2px 0 0 #CE9100;
	padding: 0.5em;
    margin: 0em 0 1em 0;
}
.tribe-events-tickets {
	background: #ffffff !important;
	td {
	    padding: 10px 0 !important;
	    input {
	    	&:focus {
		    	border-color: #418AD0;
			    outline: 0;
			    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 138, 208, 0.6)
		    }
	    }
	    select {
	    	&:focus {
		    	border-color: #418AD0;
			    outline: 0;
			    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 138, 208, 0.6)
		    }
	    }
	}
}
.tribe-button.tribe-button--rsvp {
	margin: 0;
	&:hover {
		background-color: #eda700 !important;
	}
}
.tribe-tickets-meta-row {
    display: table-row;
}
.tribe-tickets-table {
	width: 100%;
	label {
	    padding-right: 15px;
	}
}
.tribe-events-tickets input, .tribe-events-tickets select {
    display: block;
    width: 100%;
    height: 50px;
    color: #4A4A4A;
    border: 1px solid #DDD;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-width: 2px;
    box-shadow: none;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 20px;
    transition: all 150ms ease;
}
.tribe-events-tickets-title.tribe--rsvp {
	padding: 0 10px;
}

@media (min-width: 992px) {
	.tribe_events .cart {
		float: right;
	    width: 40%;
	}
	.tribe_events-template-default.single .tribe-events-single-event-description {
		    float: left;
	    width: 60%;
	}
}


