.wp-block-cover-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  margin: 4.5rem -9999rem;
  padding: 8.5rem 9999rem;
  width: auto;
  background-attachment: fixed;
  text-align: center;
}

.content-area h1, .widget-area h1, .modal-content h1, .remodal-wrapper h1, .content-area h2, .widget-area h2, .modal-content h2, .remodal-wrapper h2, .content-area h3, .widget-area h3, .modal-content h3, .remodal-wrapper h3, .content-area h4, .widget-area h4, .modal-content h4, .remodal-wrapper h4, .content-area h5, .widget-area h5, .modal-content h5, .remodal-wrapper h5, .content-area h6, .widget-area h6, .modal-content h6, .remodal-wrapper h6, .content-area .widget-title, .widget-area .widget-title, .modal-content .widget-title, .remodal-wrapper .widget-title, .content-area .lsx-title, .widget-area .lsx-title, .modal-content .lsx-title, .remodal-wrapper .lsx-title {
  font-family: 'Lora', serif;
}

.wp-block-cover-image {
  .wp-block-cover-image-text, h2 {
    font-family: 'Lora', serif;
  }
}

@media (min-width: 992px) {
  .content-area blockquote.wp-block-quote {
    max-width: 100%;
  }
}