// LSX Variables

// This file contains the theme's variables declarations and some vendor's variables overriding.
// Also, it was created separately so we can import it in the vendor's files. In this way, our variables are available to the entire project.

$blue: (#418ad0, #374750, #367dc0, #2b3840);
$dark-gray: #434343;
$light-gray: #f6f6f6;
$orange: (#f7ae00, #ce9100, #eda700);
$red-accent: #d84e2e;
$breaker: #dadddf;
$small: #919191;
$gray: (#eaeaea, #cccccc, #4a4a4a, #e6e6e6);
$green: (#6ba913, #649e12);

$grid-float-breakpoint: 1200px;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

$body-bg: #f6f6f6;
$text-color: #4a4a4a;
$link-color: nth($blue, 1);
$link-hover-color: nth($orange, 1);
$link-hover-decoration: none;

$font-family-sans-serif: "Noto Sans", sans-serif;
$font-family-serif: "Lora", serif;

$font-size-base: 15px;

$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 22px;
$font-size-h4: 22px;
$font-size-h5: 20px;
$font-size-h6: $font-size-base;

$headings-font-family: $font-family-serif;
$headings-font-weight: 400;
$headings-line-height: 1.25;

$line-height-base: 1.6;

$btn-default-color: #fff;
$btn-font-weight: 700;
$btn-border-radius-base: 3px;

$input-height-base: 50px;
$input-border: #ddd;
$input-color: $text-color;
$input-border-radius: 2px;
$input-border-focus: nth($blue, 1);
$input-color-placeholder: #9f9c9c;

$table-border-color: $breaker;
$page-header-border-color: $breaker;

$lsx-gap: 2.4rem;
$lsx-medium-gap: 4.25rem;
$lsx-large-gap: 8.5rem;

$buttons: (
	color: #fff,
	color-hover: #fff,
	bg: nth($blue, 1),
	bg-hover: nth($blue, 3),
	shadow: darken(nth($blue, 1), 15%)
);

$cta-buttons: (
	color: #fff,
	color-hover: #fff,
	bg: nth($orange, 1),
	bg-hover: nth($orange, 3),
	shadow: darken(nth($orange, 1), 15%)
);

$secondary-buttons: (
	color: nth($gray, 3),
	color-hover: nth($gray, 3),
	bg: nth($gray, 1),
	bg-hover: nth($gray, 2),
	shadow: darken(nth($gray, 1), 15%)
);

$tertiary-buttons: (
	color: #fff,
	color-hover: #fff,
	bg: nth($green, 1),
	bg-hover: nth($green, 2),
	shadow: darken(nth($green, 1), 15%)
);

$top-menu: (
	bg: #333,
	link: #fff,
	hover: #d93a3a,
	icon: #d93a3a,
	icon-hover: #d93a3a,
	dropdown: #333,
	dropdown-hover: #333,
	dropdown-link: #fff,
	dropdown-link-hover: #d93a3a,
	height: 32px
);

$nav: (
	bg: #fff,
	link: #515151,
	hover: nth($blue, 1),
	dropdown: nth($blue, 2),
	dropdown-hover: nth($blue, 4),
	dropdown-link: #fff,
	dropdown-link-hover: nth($blue, 1)
);

$header: (
	bg: #fff,
	link: $red-accent,
	hover: nth($orange, 1),
	description: $dark-gray
);

$banner: (
	bg: nth($blue, 4),
	color: #fff,
	color-image: #fff,
	breadcrumb-bg: nth($blue, 2),
	breadcrumb-color: $small,
	breadcrumb-current: #fff
);

$content: (
	bg: $body-bg,
	breaker: $breaker,
	header: $text-color,
	color: $text-color,
	link: nth($blue, 1),
	hover: nth($orange, 1),
	small: $small,
	full-bg: #fff,
	full-color: $text-color,
	full-link: nth($blue, 1),
	full-hover: nth($orange, 1),
	full-cta-bg: nth($blue, 1),
	full-cta-color: #fff,
	full-cta-link: nth($blue, 2),
	full-cta-hover: nth($orange, 1)
);

$footer: (
	bg: nth($blue, 4),
	color: #fff,
	link: nth($orange, 1),
	hover: nth($orange, 2)
);

$footer-widgets: (
	bg: nth($blue, 2),
	color: #fff,
	link: #fff,
	hover: nth($orange, 1)
);

$footer-cta: (
	bg: nth($blue, 4),
	color: #fff,
	link: nth($blue, 1),
	hover: nth($blue, 3)
);

$social-icons: (
	"codepen": "\f1cb",
	"digg": "\f1a6",
	"dribbble": "\f17d",
	"dropbox": "\f16b",
	"facebook": "\f09a",
	"feed": "\f09e",
	"flickr": "\f16e",
	"foursquare": "\f180",
	"getpocket": "\f265",
	"github": "\f09b",
	"instagram": "\f16d",
	"linkedin": "\f0e1",
	"mailto": "\f0e0",
	"pinterest": "\f0d2",
	"plus.google": "\f0d5",
	"polldaddy": "\f128",
	"reddit": "\f281",
	"spotify": "\f1bc",
	"stumbleupon": "\f1a4",
	"tumblr": "\f173",
	"twitch": "\f1e8",
	"twitter": "\f099",
	"vimeo": "\f27d",
	"wordpress": "\f19a",
	"youtube": "\f16a"
);
