/* Import the vendor's variables so we can use it in our own code */
@import '../../vendor/bootstrap/mixins';
@import '../../vendor/font-awesome/mixins.scss';

@import 'mixins/include-media';
@import 'mixins/footer';

@mixin list-inline ($gap, $stabilize: true) {

	@if $stabilize {
		margin-left: $gap * -1;
	}

	& > li {
		display: inline-block;
		padding-left: $gap;
		padding-right: $gap;
	}
}


@mixin lsx-link ($theme: $blue) {
	@if type-of($theme) == 'list' {
		color: nth($theme, 1);
		transition: all 300ms ease-in-out;

		&:hover { color: nth($theme, 2); }
	} @else {
		color: $theme;
	}
}
