/* Import the vendor's variables so we can use it in our own code */
@import '../../vendor/bootstrap/mixins';
@import '../../vendor/font-awesome/mixins.scss';

@import 'include-media';

@mixin list-inline($gap, $stabilize: true) {

	@if $stabilize {
		margin-left: $gap * -1;
	}

	& > li {
		display: inline-block;
		padding-left: $gap;
		padding-right: $gap;
	}
}
