%list-unstyled {
	list-style: none;
	padding-left: 0;
}

%social-icons-scaffolding {
	@include hide-text();

	&:before {
		@include fa-icon();

		font-size: 22px;
		transition: color 300ms ease-in-out;
	}
}

%lsx-form-field {
	border-width: 2px;
	box-shadow: none;
	font-size: 18px;
	line-height: 1.33;
	padding: 10px 20px;
	transition: all 150ms ease;

	&:focus { box-shadow: none; }
}

%lsx-tabs {
	&:before,
	&:after {
		display: none;
	}

	align-items: stretch;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	border-bottom: 0 none;
	margin: 0 0 15px 0;
	padding-left: 0;

	@include media('>=phone') { flex-flow: row nowrap; }

	& > li {
		margin-bottom: 0;
		width: 100%;

		@include media('>=phone') {
			display: flex;
			flex: 1 1 auto;
			max-width: 350px;
		}

		& + li {
			@include media('>=phone') { margin-left: 10px; }
		}

		& > a {
			border: 0 none;
			border-radius: 0;
			font-size: 16px;
			margin: 0;
			padding: 1rem;
			text-align: center;
			transition: all 300ms ease;
			// white-space: nowrap;

			@include media('>=phone') {
				align-items: center;
				display: flex;
				flex: 1 1 auto;
				justify-content: center;
			}

			@include media('>=tablet') { font-size: 22px; }
		}

		&.active > a {
			border: 0 none;
			position: relative;

			&:after {
				@include media('>=phone') {
					content: '';
					border-style: solid;
					border-width: 0 6px 6px 6px;
					bottom: 0;
					height: 0;
					left: 50%;
					position: absolute;
					transform: translateX(-50%);
					width: 0;

					@include media('>=tablet') { border-width: 0 9px 9px 9px; }
				}
			}
		}
	}
}
