%list-unstyled {
	list-style: none;
	padding-left: 0;
}

%social-icons-scaffolding {
	@include hide-text();

	&:before {
		@include fa-icon();

		font-size: 22px;
		transition: color 300ms ease-in-out;
	}
}

%lsx-form-field {
	border-width: 2px;
	box-shadow: none;
	font-size: 18px;
	line-height: 1.33;
	padding: 10px 30px;
	transition: border-color 150ms ease-in-out;
}
