name: PHP syntax

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Checking PHP syntax error
      uses: overtrue/phplint@master
      with:
        path: .
        options: --exclude=*.log
